src/main/mule/attendances.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	
	<flow
		name="post:\attendances:application\json:salesforce-data-api-config">
		<logger
			level="INFO"
			doc:name="Log entry-flow"
			doc:id="6a1508cc-3671-44cf-a37a-968738396a22"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]." />
		<until-successful
			maxRetries="2"
			doc:name="Until Successful"
			doc:id="440291e7-5b30-43c2-926c-9a405d7f205e"
			millisBetweenRetries="2000">
			<try
				doc:name="Try"
				doc:id="5ccf5926-d891-4f1f-bc3b-d36bf60e3e12">
				<salesforce:upsert
					doc:name="Upsert"
					doc:id="be2ff311-106e-4093-9e29-2b1bb3850161"
					config-ref="Salesforce_Config"
					objectType="Attendance__c"
					externalIdFieldName="ExternalId__c">
					<salesforce:records><![CDATA[#[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Contact__c: payload01.StudentId,
	Session__c: payload01.SessionId,
	Attended__c: payload01.Attended,
	ExternalId__c: payload01.StudentId ++ '-' ++ payload01.SessionId
}]]]></salesforce:records>
				</salesforce:upsert>
				<choice
					doc:name="Upsert successful?"
					doc:id="033792a0-3de2-43bc-8b8e-e792264fa3eb">
					<when
						expression="#[payload.successful == false]">
						<set-variable value="#['SALESFORCE_ATTENDANCE_CREATE:' ++ (payload.items[0].statusCode default 'UNKNOWN')]" doc:name="Set Custom Error Type" doc:id="be1b9699-37ed-4d17-96b7-3c400670cfea" variableName="errorCustomType" />
						<set-variable value="#[payload.items[0].message default 'Unknown Error']" doc:name="Set Custom Error Message" doc:id="1af6ccb4-8ef5-4b7e-b50a-dc286d8677be" variableName="errorCustomMessage" />
						<raise-error doc:name="Raise error" doc:id="2494818a-ac68-43c1-931e-10c19593e6ef" type="CUSTOM:CUSTOM_ERROR" description="Something went wrong while creating an attendance record." />
					</when>
				</choice>
			</try>
		</until-successful>
		<ee:transform
			xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:id="238ab716-c648-4986-a081-336f96add8ba"
			doc:name="Create response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.items.*payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="createAttendancesForSessionBasedOnTeamSeasonId" doc:id="d2f0a7a1-82d1-4a8a-813a-f159fb27bab6" doc:description="You need to provide `vars.sessionId` and `vars.teamSeasonId` to make this flow working.">
		<salesforce:query doc:name="Select Query with TeamSeasonId and SessionDate from Enrollment object" doc:id="31397a86-3870-4697-92ae-f734c7d86be6" config-ref="Salesforce_Config" target="enrollmentResponse" >
			<salesforce:salesforce-query ><![CDATA[
				SELECT Contact__c
				FROM Enrollment__c 
				WHERE Team_Season__c = ':teamSeasonId' 
				AND Start_Date__c <= :sessionDate
				AND End_Date__c >= :sessionDate
				GROUP BY Contact__c
				]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
				---
				{
					teamSeasonId : vars.teamSeasonId,
					sessionDate : vars.sessionDate
				}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Prepare Upsert" doc:id="37d4e96a-7adf-4ebc-8de6-d8b8c1098ab5">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.enrollmentResponse map ( payload01 , indexOfPayload01 ) -> {
	Contact__c: payload01.Contact__c,
	Session__c: vars.sessionId,
	Attended__c: false,
	ExternalId__c: payload01.Contact__c ++ '-' ++ vars.sessionId
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<set-variable value="#[payload]" doc:name='Set "upsert"' doc:id="9cebf1b6-9abb-4e0a-a5fa-0f6d79241265" variableName="upsert" />
		<salesforce:query doc:name="Query to retrieve existing attendance records" doc:id="d825c898-0dd2-42be-9aa3-f15c41f5ed96" config-ref="Salesforce_Config">
					<salesforce:salesforce-query><![CDATA[
			SELECT 
				Id,
				Contact__r.Name,
				Contact__c,
				Attended__c 
			FROM 
				Attendance__c 
			WHERE 
				Session__c = ':sessionId' 
			AND Contact_Record_Type__c = 'SCORES Student']]></salesforce:salesforce-query>
					<salesforce:parameters><![CDATA[#[output application/java
				---
				{
						sessionId : vars.sessionId
				}]]]></salesforce:parameters>
				</salesforce:query>
		<ee:transform doc:name="Prepare Retrieve" doc:id="52395af1-4af3-4c4e-a910-7cf0d02e7831">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	AttendanceId: payload01.Id,
	StudentName: payload01.Contact__r.Name,
	Attended: payload01.Attended__c default false,
	StudentId: payload01.Contact__c default ""
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<set-variable value="#[payload]" doc:name='Set "retrieve"' doc:id="0922b1bf-c176-4f5b-8d1c-8f9b52aa0920" variableName="retrieve" />
		<ee:transform doc:name="Filter Items" doc:id="49acf3f1-f654-4a91-9aa1-cda2bebadd62" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
var exists = vars.retrieve map (item, index) -> item.StudentId
---
vars.upsert filter (item) -> not (exists contains item.Contact__c)]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<choice doc:name="Choice" doc:id="86473c10-da93-4ecf-adca-280a0853a1fc" >
			<when expression="#[sizeOf(payload) &gt; 0]" >
				<salesforce:upsert objectType="Attendance__c" externalIdFieldName="ExternalId__c" doc:name="Upsert Attendance" doc:id="8d6075d3-7f89-4f0f-b73d-5c968b34dbcf" config-ref="Salesforce_Config" >
					<salesforce:records ><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></salesforce:records>
				</salesforce:upsert>
				<choice doc:name="Update successful?" doc:id="ea900b69-0047-4bef-ac0f-15da9e01b99d" >
					<when expression="#[payload.successful == false]" >
						<set-variable value="#['SALESFORCE_ATTENDANCE_CREATE:' ++ (payload.items[0].statusCode default 'UNKNOWN')]" doc:name="Set Custom Error Type" doc:id="8375d93a-a7f5-4e2d-a92a-53ba380b0323" variableName="errorCustomType" />
						<set-variable value="#[payload.items[0].message default 'Unknown Error']" doc:name="Set Custom Error Message" doc:id="a7e6ab49-248a-4c8b-9ddd-e0a24ab6c201" variableName="errorCustomMessage" />
						<raise-error doc:name="Raise error" doc:id="b2875b59-8341-4d5e-b0b7-b4b0563d5c28" type="CUSTOM:CUSTOM_ERROR" description="Session is created, but something went wrong while creating related attendances." />
					</when>
				</choice>
			</when>
		</choice>
		<salesforce:query doc:name="Retrieve All Attendances" doc:id="cbcdb96a-6d9b-4ed7-b31a-a2b9b712e481" config-ref="Salesforce_Config">
							<salesforce:salesforce-query><![CDATA[
			SELECT 
				Id,
				Contact__r.Name,
				Contact__c,
				Attended__c 
			FROM 
				Attendance__c 
			WHERE 
				Session__c = ':sessionid' 
			AND Contact_Record_Type__c = 'SCORES Student'
			]]></salesforce:salesforce-query>
							<salesforce:parameters><![CDATA[#[output application/java
---
{
	sessionid : vars.sessionId
}]]]></salesforce:parameters>
						</salesforce:query>
		<ee:transform doc:name="Transform Message" doc:id="006ce91a-0d6c-48b5-91d8-cf3d8ec0d15a" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	AttendanceId: payload01.Id,
	StudentName: payload01.Contact__r.Name,
	Attended: payload01.Attended__c default false,
	StudentId: payload01.Contact__c default ""
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
	</flow>
	</mule>
