src/main/mule/contacts.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:slack="http://www.mulesoft.org/schema/mule/slack" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd http://www.mulesoft.org/schema/mule/slack http://www.mulesoft.org/schema/mule/slack/current/mule-slack.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  <flow name="get:\contacts\(contactId)\enrollments:salesforce-data-api-config">
    <logger doc:id="yspmgc" doc:name="Logger" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]."></logger>
    <ee:transform doc:id="omudff" doc:name="Transform">
      <ee:variables>
        <ee:set-variable variableName="contactId">
                    					
          
          <![CDATA[attributes.uriParams.'contactId']]>
                    				
        
        </ee:set-variable>
        <ee:set-variable variableName="schoolSiteName">
                    					
          
          <![CDATA[attributes.queryParams['schoolSiteName']]]>
                    				
        
        </ee:set-variable>
        <ee:set-variable variableName="seasonName">
                    					
          
          <![CDATA[attributes.queryParams['seasonName']]]>
                    				
        
        </ee:set-variable>
        <ee:set-variable variableName="teamSeasonName">
                    					
          
          <![CDATA[attributes.queryParams['teamSeasonName']]]>
                    				
        
        </ee:set-variable>
        <ee:set-variable variableName="startDate">
                    					
          
          <![CDATA[attributes.queryParams['startDate']]]>
                    				
        
        </ee:set-variable>
        <ee:set-variable variableName="endDate">
                    					
          
          <![CDATA[attributes.queryParams['endDate']]]>
                    				
        
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
    <ee:transform doc:id="build-query" doc:name="Build Query">
      <ee:variables>
        <ee:set-variable variableName="query">
                    					
          
          <![CDATA[%dw 2.0
                    output application/java
                    var baseQuery = "SELECT Id, Team_Season__r.Id, Team_Season__r.Name, Team_Season__r.Season_Start_Date__c, Team_Season__r.Season_End_Date__c, Team_Season__r.Season__r.Name, Team_Season__r.Team__r.Id, Team_Season__r.Team__r.Name, Team_Season__r.Team__r.School_Site__r.Id, Team_Season__r.Team__r.School_Site__r.Acknowledgement_Listing_Name__c, Contact__r.Id FROM Enrollment__c WHERE Contact__r.Id = ':contactId'"
                    ---
                    baseQuery ++
                    (if (vars.schoolSiteName != null) " AND Team_Season__r.Team__r.School_Site__r.Acknowledgement_Listing_Name__c = ':schoolSiteName'" else "") ++
                    (if (vars.seasonName != null) " AND Team_Season__r.Season__r.Name = ':seasonName'" else "") ++
                    (if (vars.teamSeasonName != null) " AND Team_Season__r.Name = ':teamSeasonName'" else "") ++
                    (if (vars.startDate != null) " AND Team_Season__r.Season_Start_Date__c >= :startDate" else "") ++
                    (if (vars.endDate != null) " AND Team_Season__r.Season_End_Date__c <= :endDate" else "")
                    ]]>
                    				
        
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
    <salesforce:query config-ref="Salesforce_Config" doc:id="kpgdxo" doc:name="Query">
      <salesforce:salesforce-query>
                				
        
        <![CDATA[#[vars.query]]]>
                			
      
      </salesforce:salesforce-query>
      <salesforce:parameters>
                				
        
        <![CDATA[#[output application/java
            ---
            {
                contactId: vars.contactId,
                schoolSiteName: vars.schoolSiteName,
                seasonName: vars.seasonName,
                teamSeasonName: vars.teamSeasonName,
                startDate: vars.startDate,
                endDate: vars.endDate
            }]]]>
                			
      
      </salesforce:parameters>
    </salesforce:query>
    <ee:transform doc:id="fhzmqe" doc:name="Transform">
      <ee:message>
        <ee:set-payload>
                    					
          
          <![CDATA[%dw 2.0
                output application/json
                ---
                if (isEmpty(payload)) []
                else payload map (payload01) -> {
                    Id: payload01.Id,
                    TeamSeasonId: payload01.Team_Season__r.Id,
                    TeamSeasonName: payload01.Team_Season__r.Name,
                    StartDate: payload01.Team_Season__r.Season_Start_Date__c,
                    EndDate: payload01.Team_Season__r.Season_End_Date__c,
                    SeasonName: payload01.Team_Season__r.Season__r.Name,
                    TeamID: payload01.Team_Season__r.Team__r.Id,
                    TeamName: payload01.Team_Season__r.Team__r.Name,
                    SchoolSiteId: payload01.Team_Season__r.Team__r.School_Site__r.Id,
                    SchoolSiteName: payload01.Team_Season__r.Team__r.School_Site__r.Acknowledgement_Listing_Name__c
                }]]>
                    				
        
        </ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger doc:id="wqjvkd" level="INFO" message="#[payload]"></logger>
    <flow-ref name="exit-flow"></flow-ref>
  </flow>
  <flow doc:id="60b5d6bf-7df6-4701-aa81-af52357dd258" name="post:\contacts:application\json:salesforce-data-api-config">
    <logger doc:id="f6fc4dab-2c51-479f-943e-d978516fcb3e" doc:name="Log entry-flow" level="INFO" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]"></logger>
    <ee:transform doc:id="d5391b37-613a-4aa1-8a95-1766e6f7b3ce" doc:name="Store payload">
      <ee:message></ee:message>
      <ee:variables>
        <ee:set-variable variableName="originalPayload">
                    					
          
          <![CDATA[output application/json
---
payload]]>
                    				
        
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
		<choice doc:id="4ebe7cc5-cdea-40dd-ad03-c336e80593f4" doc:name="Choice">
          <when expression="vars.originalPayload.IsCoach == true">
            <ee:transform doc:id="75aaae73-16f5-47d8-b711-36836005ac55" doc:name="Transform Message">
              <ee:message></ee:message>
              <ee:variables>
                <ee:set-variable variableName="ContactRecordType">
                                    									
                  
                  <![CDATA['01250000000VBbWAAW']]>
                                    								
                
                </ee:set-variable>
              </ee:variables>
            </ee:transform>
            <salesforce:create config-ref="Salesforce_Config" doc:id="dd33ee5c-1b02-4cc9-a47b-733ddccb4800" doc:name="Create" type="Contact">
              <salesforce:records>
                                								
                
                <![CDATA[#[output application/java
---
[{
	RecordTypeId: vars.ContactRecordType,
	FirstName: vars.originalPayload.FirstName,
	LastName: vars.originalPayload.LastName,
	AccountId: vars.originalPayload.AccountId,
	Role__c: "Coach",
	npe01__Preferred_Email__c: vars.originalPayload.EmailType,
	npe01__HomeEmail__c: vars.originalPayload.Email,
	MobilePhone: vars.originalPayload.PhoneNumber,
	npe01__PreferredPhone__c: "Mobile",
	Birthdate: if (vars.originalPayload.Birthdate != null) vars.originalPayload.Birthdate as Date else null,
	Gender__c: vars.originalPayload.Gender,
	Ethnicity__c: vars.originalPayload.Ethnicity
	}]]]]>
                                							
              
              </salesforce:records>
            </salesforce:create>
            <choice doc:id="f4cd0f1b-881f-43ff-9b0d-5f376b8d1c95" doc:name="Choice">
              <when expression="#[payload.successful == false and payload..errors != null]">
                <logger doc:id="e9c02dd8-02dd-495d-8e01-b26db3d73ec2" doc:name="Logger" level="INFO" message="Fuzzy contact match found"></logger>
				<set-variable doc:name="Set Custom Error Type" value="#['SALESFORCE_CONTACT_CREATE:' ++ (payload.items[0].statusCode default 'UNKNOWN')]" variableName="errorCustomType" />
				<set-variable value="#[payload.items[0].message default 'Unknown Error']" doc:name="Set Custom Error Message" doc:id="3881f772-34d8-4c47-88d3-1aab40c248d1" variableName="errorCustomMessage" />
								<choice doc:name="Choice" doc:id="68822a13-1319-472a-8858-780e4566d86d">
									<when expression='#[vars.errorCustomType == "SALESFORCE_CONTACT_CREATE:DUPLICATES_DETECTED"]'>
										<set-variable value="409" doc:name="Set Status Code" doc:id="03654d66-3aed-477e-88a3-e97dd843b1b3" variableName="httpStatus" />
									</when>
									<when expression='#[vars.errorCustomType == "SALESFORCE_CONTACT_CREATE:MALFORMED_ID"]'>
										<set-variable value="400" doc:name="Set Status Code" doc:id="28d20a62-20e9-4298-8fb0-2c715fa266ef" variableName="httpStatus" />
									</when>
								</choice>
								<raise-error doc:id="ce9837bc-7e7b-40a4-a132-7f35e82f12bc" doc:name="Raise error" type="CUSTOM:CUSTOM_ERROR" description="Something went wrong while creating a contact. " />
              </when>
              <otherwise>
                <set-variable doc:id="cpmuyh" doc:name="Set variable" value="#[payload.items[0].id]" variableName="contactId"></set-variable>
                <flow-ref name="get:\contacts\(contactId):salesforce-data-api-config"></flow-ref>
                <ee:transform doc:id="18206104-36d4-441a-aed7-42d906b5b2a2" doc:name="Create response" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                  <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
												output application/json
												---
												{
													message: "Contact successfully created.",
													ContactId: vars.contactId,
													data: payload
												}]]>
                                            										
                    
                    </ee:set-payload>
                  </ee:message>
                  <ee:variables></ee:variables>
                </ee:transform>
              </otherwise>
            </choice>
          </when>
          <otherwise>
            <logger doc:id="5030f3ba-0088-463f-a7f8-81faa70922e8" doc:name="Logger" level="INFO" message="No matching Contacts found"></logger>
            <ee:transform doc:id="e9bfbd37-177e-4b81-a3b8-8b5002dd479e" doc:name="Transform Message">
              <ee:message></ee:message>
              <ee:variables>
                <ee:set-variable variableName="ContactRecordType">
                                    									
                  
                  <![CDATA['01250000000VBbXAAW']]>
                                    								
                
                </ee:set-variable>
              </ee:variables>
            </ee:transform>
            <salesforce:create config-ref="Salesforce_Config" doc:id="83b3d0bc-e34e-4734-9a47-7d8892564f82" doc:name="Create" type="Contact">
              <salesforce:records>
                                								
                
                <![CDATA[#[output application/java
---
[{ 
	Contact_Type__C: "SCORES Student",
	RecordTypeId: vars.ContactRecordType,
	FirstName: vars.originalPayload.FirstName,
	MiddleName: vars.originalPayload.MiddleName,
	LastName: vars.originalPayload.LastName,
	AccountId: vars.originalPayload.SchoolSiteId,
	School_Attending__c: vars.originalPayload.SchoolName,
	Email: vars.originalPayload.PersonalEmail,
	HomePhone: vars.originalPayload.HomePhone,
	Birthdate: if (vars.originalPayload.Birthdate != null) vars.originalPayload.Birthdate as Date else null,
	Gender__c: vars.originalPayload.Gender,
	Grade__c: vars.originalPayload.Grade,
	Level__c: vars.originalPayload.K12GradeLevel, 
	Ethnicity__c: vars.originalPayload.Ethnicity,
	Permission_to_Commute_Alone__c: vars.originalPayload.PermissiontoCommuteAlone,
	Reduced_Price_Lunch__c: vars.originalPayload.ReducedPriceLunch,
	Allergies__c: vars.originalPayload.Allergies,
	External_Student_ID__c: vars.originalPayload.ExternalStudentId,
	External_Student_DB__c: vars.originalPayload.ExternalStudentIdSource, 
	Parent_First_Name__c: vars.originalPayload.ParentFName,
	Parent_Last_Name__c: vars.originalPayload.ParentLName,
	Parent_Email_Address__c: vars.originalPayload.ParentEmail,
	Parent_Relationship_to_Child__c: vars.originalPayload.Relationship,
	Parent_Phone_01__c: vars.originalPayload.ParentPhone1 as String default "",
	Parent_Phone_02__c: vars.originalPayload.ParentPhone2 as String default "",
	Parent_Phone_03__c: vars.originalPayload.ParentPhone3 as String default "",
	MailingStreet: vars.originalPayload.MailingStreet,
	MailingCity: vars.originalPayload.MailingCity,
	MailingState: vars.originalPayload.MailingState,
	MailingPostalCode: vars.originalPayload.MailingZip as String default "",
	MailingCountry: vars.originalPayload.MailingCountry,
	Parent_English_Fluency__c: vars.originalPayload.ParentEnglishFluency,
	Parent_Home_Language__c: vars.originalPayload.ParentHomeLang,
	Parent_Other_Language__c: vars.originalPayload.OtherLang default "",
	Volunteer_for_this_Program_Parent__c: vars.originalPayload.Volunteer,
	Emergency_Contact_Name__c: vars.originalPayload.Emergency_Contact_Name,
	Emergency_Contact_Relationship_to_Child__c: vars.originalPayload.Emergency_Contact_Relationship,
	Emergency_Contact_Permission_to_Pick_Up__c: vars.originalPayload.Emergency_Contact_Permission_to_Pickup_child,
	Emergency_Contact_Name_Phone_01__c: vars.originalPayload.Emergency_Contact_Phone1,
	Emergency_Contact_Name_Phone_02__c: vars.originalPayload.Emergency_Contact_Phone2,
	Emergency_Contact_Name_Phone_03__c: vars.originalPayload.Emergency_Contact_Phone3,
	Second_Emergency_Contact_Name__c: vars.originalPayload.Second_Emergency_Contact_Name,
	Second_Emerg_Contact_Relationship_Child__c: vars.originalPayload.Second_Emergency_Contact_Relationship,
	Second_Emergency_Permission_to_Pick_Up__c: vars.originalPayload.Second_Emergency_Contact_Permission_to_Pickup_child,
	Second_Emergency_Phone_01__c: vars.originalPayload.Second_Emergency_Contact_Phone1,
	Second_Emergency_Phone_02__c: vars.originalPayload.Second_Emergency_Contact_Phone2,
	Second_Emergency_Phone_03__c: vars.originalPayload.Second_Emergency_Contact_Phone3,
	Liability__c: vars.originalPayload.LiabilityWaiver,
	Media_Release__c: vars.originalPayload.MediaReleaseWaiver,
	Data_Release__c: vars.originalPayload.DataReleaseWaiver,
	Student_Record_Complete__c: false,
	Year_of_Reference_for_Grade_Information__c: vars.originalPayload.YearOfReferenceForGradeInformation,
	Grades_child_participated__c: vars.originalPayload.GradesChildParticipated,
}]]]]>
                                							
              
              </salesforce:records>
            </salesforce:create>
            <choice doc:id="991c54f0-e8dc-4917-b914-9d0f787614c1" doc:name="Choice">
              <when expression="#[payload.successful == false and payload..errors != null]">
                <logger doc:id="7179ab2b-5642-4f83-a3d6-ff4161272ef3" doc:name="Logger" level="INFO" message="Fuzzy contact match found"></logger>
				<set-variable doc:name="Set Custom Error Type" value="#['SALESFORCE_CONTACT_CREATE:' ++ (payload.items[0].statusCode default 'UNKNOWN')]" variableName="errorCustomType" />
				<set-variable value="#[payload.items[0].message default 'Unknown Error']" doc:name="Set Custom Error Message" doc:id="3881f772-34d8-4c47-88d3-1aab40c248d1" variableName="errorCustomMessage" />
								<raise-error doc:id="ce9837bc-7e7b-40a4-a132-7f35e82f12bc" doc:name="Raise error" type="CUSTOM:CUSTOM_ERROR" description="Something went wrong while creating a contact. " />
						<choice doc:name="Choice" doc:id="f7787813-3e7d-464d-8c06-e18f246213f9" >
							<when expression='#[vars.errorCustomType == "SALESFORCE_CONTACT_CREATE:DUPLICATES_DETECTED"]' >
								<set-variable value="409" doc:name="Set Status Code" doc:id="796109aa-e4db-494c-b26c-b2bce9b90c44" variableName="httpStatus" />
							</when>
							<when expression='#[vars.errorCustomType == "SALESFORCE_CONTACT_CREATE:MALFORMED_ID"]' >
								<set-variable value="400" doc:name="Set Status Code" doc:id="65f5844b-33d7-4253-b66f-550d08d48f3f" variableName="httpStatus" />
							</when>
						</choice>
              </when>
              <otherwise>
                <set-variable doc:id="eatcfc" doc:name="Set variable" value="#[payload.items[0].id]" variableName="contactId"></set-variable>
                <flow-ref name="get:\contacts\(contactId):salesforce-data-api-config"></flow-ref>
                <ee:transform doc:id="bc80392c-09c1-43c1-ac5b-ebf8dd509785" doc:name="Create response" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                  <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
											output application/json
											---
											{	
												message: "Contact successfully created.",
												ContactId: vars.contactId,
												data: payload
											}]]>
                                            										
                    
                    </ee:set-payload>
                  </ee:message>
                  <ee:variables></ee:variables>
                </ee:transform>
              </otherwise>
            </choice>
          </otherwise>
        </choice>
  </flow>
  <flow name="get:\contacts:salesforce-data-api-config">
    <logger doc:id="4757f003-ed95-4269-9939-0811ef781500" doc:name="Log entry-flow" level="INFO" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]"></logger>
    <ee:transform doc:id="13306605-ff4a-46bf-a760-5257cb741357" doc:name="Store Query parameters">
      <ee:variables>
        <ee:set-variable variableName="externalStudentId">
                    					
          
          <![CDATA[attributes.queryParams.'externalStudentId']]>
                    				
        
        </ee:set-variable>
        <ee:set-variable variableName="externalStudentIdSource">
                    					
          
          <![CDATA[attributes.queryParams.'externalStudentIdSource']]>
                    				
        
        </ee:set-variable>
        <ee:set-variable variableName="firstName">
                    					
          
          <![CDATA[attributes.queryParams.'firstName']]>
                    				
        
        </ee:set-variable>
        <ee:set-variable variableName="lastName">
                    					
          
          <![CDATA[attributes.queryParams.'lastName']]>
                    				
        
        </ee:set-variable>
        <ee:set-variable variableName="birthDate">
                    					
          
          <![CDATA[attributes.queryParams.'birthDate']]>
                    				
        
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
    <choice doc:id="kkvqoo" doc:name="Choice">
      <when expression="#[(vars.firstName != null and vars.firstName != ''           and vars.lastName != null and vars.lastName != '')         or          (vars.externalStudentId != null and vars.externalStudentId != ''          and          vars.externalStudentIdSource != null and vars.externalStudentIdSource != '' )         ]">
        <choice doc:id="d8bc290a-d74d-4841-828e-6faa4b57e36b" doc:name="Choice">
          <when expression="#[vars.birthDate != null and vars.birthDate != '']">
            <salesforce:query config-ref="Salesforce_Config" doc:id="2d2bd613-7cc8-48df-b3e3-e1c628982996" doc:name="Select Query with Birthdate">
              <salesforce:salesforce-query>
                                								
                
                <![CDATA[
					SELECT 
						Id,
						Contact_Type__c,
						RecordTypeId,
						FirstName,
						MiddleName,
						LastName,
						AccountId,
						School_Attending__c,
						Email,
						HomePhone,
						Birthdate,
						Gender__c,
						Grade__c,
						Level__c,
						Ethnicity__c,
						Permission_to_Commute_Alone__c,
						Reduced_Price_Lunch__c,
						Allergies__c,
						External_Student_ID__c,
						External_Student_DB__c,
						Parent_First_Name__c,
						Parent_Last_Name__c,
						Parent_Email_Address__c,
						Parent_Relationship_to_Child__c,
						Parent_Phone_01__c,
						Parent_Phone_02__c,
						Parent_Phone_03__c,
						MailingStreet,
						MailingCity,
						MailingState,
						MailingPostalCode,
						MailingCountry,
						Parent_English_Fluency__c,
						Parent_Home_Language__c,
						Parent_Other_Language__c,
						Volunteer_for_this_Program_Parent__c,
						Emergency_Contact_Name__c,
						Emergency_Contact_Relationship_to_Child__c,
						Emergency_Contact_Name_Phone_01__c,
						Emergency_Contact_Name_Phone_02__c,
						Emergency_Contact_Name_Phone_03__c,
						Emergency_Contact_Permission_to_Pick_Up__c,
						Second_Emergency_Contact_Name__c,
						Second_Emerg_Contact_Relationship_Child__c	,
						Second_Emergency_Phone_01__c,
						Second_Emergency_Phone_02__c,
						Second_Emergency_Phone_03__c,
						Second_Emergency_Permission_to_Pick_Up__c,
						Liability__c,
						Media_Release__c,
						Data_Release__c,
						Year_of_Reference_for_Grade_Information__c,
						Grades_child_participated__c,
						Latest_Waiver_Date__c
					FROM 
						Contact 
					WHERE 
					(
						(
							External_Student_ID__c = ':externalStudentId' 
							AND External_Student_DB__c = ':externalStudentIdSource'
						) 
						OR 
						(
							FirstName = ':firstName' 
							AND LastName = ':lastName' 
							AND BirthDate = :birthDate
						)
					)
					]]>
                                							
              
              </salesforce:salesforce-query>
              <salesforce:parameters>
                                								
                
                <![CDATA[#[output application/java
import * from modules::GlobalModules
---
{
	externalStudentId : vars.externalStudentId default 'aaa',
	externalStudentIdSource: vars.externalStudentIdSource default 'NONE',
	firstName: escapeSpecialSOQLChars(vars.firstName default '', chars) default '',
	lastName: escapeSpecialSOQLChars(vars.lastName default '', chars) default '',
	birthDate: vars.birthDate as Date {format: 'yyyy-MM-dd'}
}]]]>
                                							
              
              </salesforce:parameters>
            </salesforce:query>
          </when>
          <otherwise>
            <salesforce:query config-ref="Salesforce_Config" doc:id="ec730d90-d661-40ce-b9c0-d05dd4fc28a0" doc:name="Select Query without Birthdate">
              <salesforce:salesforce-query>
                                								
                
                <![CDATA[
					SELECT 
						Id,
						Contact_Type__c,
						RecordTypeId,
						FirstName,
						MiddleName,
						LastName,
						AccountId,
						School_Attending__c,
						Email,
						HomePhone,
						Birthdate,
						Gender__c,
						Grade__c,
						Level__c,
						Ethnicity__c,
						Permission_to_Commute_Alone__c,
						Reduced_Price_Lunch__c,
						Allergies__c,
						External_Student_ID__c,
						External_Student_DB__c,
						Parent_First_Name__c,
						Parent_Last_Name__c,
						Parent_Email_Address__c,
						Parent_Relationship_to_Child__c,
						Parent_Phone_01__c,
						Parent_Phone_02__c,
						Parent_Phone_03__c,
						MailingStreet,
						MailingCity,
						MailingState,
						MailingPostalCode,
						MailingCountry,
						Parent_English_Fluency__c,
						Parent_Home_Language__c,
						Parent_Other_Language__c,
						Volunteer_for_this_Program_Parent__c,
						Emergency_Contact_Name__c,
						Emergency_Contact_Relationship_to_Child__c,
						Emergency_Contact_Name_Phone_01__c,
						Emergency_Contact_Name_Phone_02__c,
						Emergency_Contact_Name_Phone_03__c,
						Emergency_Contact_Permission_to_Pick_Up__c,
						Second_Emergency_Contact_Name__c,
						Second_Emerg_Contact_Relationship_Child__c	,
						Second_Emergency_Phone_01__c,
						Second_Emergency_Phone_02__c,
						Second_Emergency_Phone_03__c,
						Second_Emergency_Permission_to_Pick_Up__c,
						Liability__c,
						Media_Release__c,
						Data_Release__c,
						Year_of_Reference_for_Grade_Information__c,
						Grades_child_participated__c,
						Latest_Waiver_Date__c
					FROM 
						Contact 
					WHERE 
					(
						(
							External_Student_ID__c = ':externalStudentId' 
							AND External_Student_DB__c = ':externalStudentIdSource'
						) 
						OR 
						(
							FirstName = ':firstName' 
							AND LastName = ':lastName'
						)
					)
					]]>
                                							
              
              </salesforce:salesforce-query>
              <salesforce:parameters>
                                								
                
                <![CDATA[#[output application/java
import * from modules::GlobalModules
---
{
	externalStudentId : vars.externalStudentId default 'aaa',
	externalStudentIdSource: vars.externalStudentIdSource default 'NONE',
	firstName: escapeSpecialSOQLChars(vars.firstName default '', chars) default '',
	lastName: escapeSpecialSOQLChars(vars.lastName default '', chars) default ''
}]]]>
                                							
              
              </salesforce:parameters>
            </salesforce:query>
          </otherwise>
        </choice>

	<ee:transform doc:name="Set Contact Id" doc:id="set-contactResults2">
		<ee:variables>
			<ee:set-variable variableName="contactResults" >
					<![CDATA[[]]]>
			</ee:set-variable>
		</ee:variables>
	</ee:transform>
		<foreach doc:name="Process Each Contact" collection="#[payload]" doc:id="foreach-process-contact2">
			<!-- Call External Flow for Each Contact -->
			<ee:transform doc:name="Set Contact Id" doc:id="set-contact-id2">
				<ee:variables>
					<ee:set-variable variableName="contactId">
						<![CDATA[payload.Id]]>
					</ee:set-variable>
				</ee:variables>
			</ee:transform>
			<flow-ref name="retrieve-latest-enrollment-based-on-contactId" doc:name="Call External Flow" />
			<!-- Extract School Site Name -->
			<ee:transform doc:id="extract-school-site-name-search2" doc:name="Extract School Site Name">
				<ee:variables>
					<ee:set-variable variableName="contactResults" doc:name="Add to Results">
						<![CDATA[
							%dw 2.0
							output application/json
							---
							(vars.contactResults default []) ++ [{
								contactId: vars.contactId,
								LatestEnrolledEndDate: payload.LatestEnrolledEndDate,
								LatestEnrolledSiteId: payload.LatestEnrolledSiteId,
								LatestEnrolledSiteName: payload.LatestEnrolledSiteName
							}]
						]]>
				</ee:set-variable>
				</ee:variables>
			</ee:transform>
		</foreach>
		

        <ee:transform doc:id="143eb63d-2152-42b7-9da0-2c0ad80b73f0" doc:name="Create Response" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload>
                            							
              
              <![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Id: payload01.Id as String default "",
	ContactType: payload01.Contact_Type__c as String default "" ,
	ContactRecordType: payload01.RecordTypeId as String default "" ,
	FirstName: payload01.FirstName as String default "" ,
	MiddleName: payload01.MiddleName as String default "" ,
	LastName: payload01.LastName as String default "" ,
	SchoolSiteId: payload01.AccountId as String default "" ,
	SchoolName: payload01.School_Attending__c as String default "" ,
	PersonalEmail: payload01.Email as String default "" ,
	HomePhone: payload01.HomePhone as String default "" ,
	Birthdate: payload01.Birthdate as String default "" ,
	Gender: payload01.Gender__c as String default "" ,
	Grade: payload01.Grade__c as String default "" ,
	K12GradeLevel: payload01.Level__c as String default "" ,
	Ethnicity: payload01.Ethnicity__c as String default "" ,
	PermissiontoCommuteAlone: payload01.Permission_to_Commute_Alone__c as String default "" ,
	ReducedPriceLunch: payload01.Reduced_Price_Lunch__c as String default "" ,
	Allergies: payload01.Allergies__c as String default "" ,
	ExternalStudentId: payload01.External_Student_ID__c as String default "" ,
	ExternalStudentIdSource: payload01.External_Student_DB__c as String default "" ,
	ParentFName: payload01.Parent_First_Name__c as String default "" ,
	ParentLName: payload01.Parent_Last_Name__c as String default "" ,
	ParentEmail: payload01.Parent_Email_Address__c as String default "" ,
	Relationship: payload01.Parent_Relationship_to_Child__c as String default "" ,
	ParentPhone1: payload01.Parent_Phone_01__c as String default "" ,
	ParentPhone2: payload01.Parent_Phone_02__c as String default "" ,
	ParentPhone3: payload01.Parent_Phone_03__c as String default "" ,
	MailingStreet: payload01.MailingStreet as String default "" ,
	MailingCity: payload01.MailingCity as String default "" ,
	MailingState: payload01.MailingState as String default "" ,
	MailingZip: payload01.MailingPostalCode as String default "" ,
	MailingCountry: payload01.MailingCountry as String default "" ,
	ParentEnglishFluency: payload01.Parent_English_Fluency__c as String default "" ,
	ParentHomeLang: payload01.Parent_Home_Language__c as String default "" ,
	OtherLang: payload01.Parent_Other_Language__c as String default "" ,
	Volunteer: payload01.Volunteer_for_this_Program_Parent__c as String default "" ,
	Emergency_Contact_Name: payload01.Emergency_Contact_Name__c as String default "" ,
	Emergency_Contact_Relationship: payload01.Emergency_Contact_Relationship_to_Child__c as String default "" ,
	Emergency_Contact_Phone1: payload01.Emergency_Contact_Name_Phone_01__c as String default "" ,
	Emergency_Contact_Phone2: payload01.Emergency_Contact_Name_Phone_02__c as String default "" ,
	Emergency_Contact_Phone3: payload01.Emergency_Contact_Name_Phone_03__c as String default "" ,
	Emergency_Contact_Permission_to_Pickup_child: payload01.Emergency_Contact_Permission_to_Pick_Up__c as String default "" ,
	Second_Emergency_Contact_Name: payload01.Second_Emergency_Contact_Name__c as String default "" ,
	Second_Emergency_Contact_Relationship: payload01.Second_Emerg_Contact_Relationship_Child__c	 as String default "" ,
	Second_Emergency_Contact_Phone1: payload01.Second_Emergency_Phone_01__c as String default "" ,
	Second_Emergency_Contact_Phone2: payload01.Second_Emergency_Phone_02__c as String default "" ,
	Second_Emergency_Contact_Phone3: payload01.Second_Emergency_Phone_03__c as String default "" ,
	Second_Emergency_Contact_Permission_to_Pickup_child: payload01.Second_Emergency_Permission_to_Pick_Up__c as String default "" ,
	LiabilityWaiver: payload01.Liability__c as String default "" ,
	MediaReleaseWaiver: payload01.Media_Release__c as String default "" ,
	DataReleaseWaiver: payload01.Data_Release__c as String default "" ,
	YearOfReferenceForGradeInformation: payload01.Year_of_Reference_for_Grade_Information__c as String default "" ,
	GradesChildParticipated: payload01.Grades_child_participated__c as String default "",
	LatestWaiverDate: payload01.Latest_Waiver_Date__c as String default "",
	LatestEnrolledEndDate: vars.contactResults[indexOfPayload01].LatestEnrolledEndDate as String default "",
	LatestEnrolledSiteId: vars.contactResults[indexOfPayload01].LatestEnrolledSiteId as String default "",
	LatestEnrolledSiteName: vars.contactResults[indexOfPayload01].LatestEnrolledSiteName as String default ""
}]]>
                            						
            
            </ee:set-payload>
          </ee:message>
        </ee:transform>
        <logger doc:id="b374f207-dfe3-48d7-99a2-b74e757cdb96" doc:name="Log Created Response" level="INFO" message="#[payload]"></logger>
      </when>
      <otherwise>
        <set-variable doc:name="400 HTTP Status" value="400" variableName="httpStatus"></set-variable>
        <set-payload doc:name="Set Error Response" value="#[output application/json ---       {       'error': 'Field Error',       'message': 'Either (externalStudentId and externalStudentIdSource) or (firstName and lastName) must be provided'      }]"></set-payload>
        <raise-error doc:name="Raise Error" type="GETCONTACT:BADREQUEST"></raise-error>
      </otherwise>
    </choice>
  </flow>
  <flow name="get:\contacts\search:salesforce-data-api-config">
    <logger doc:id="127d162c-eb82-4c68-858e-cba3a849db5c" doc:name="Log entry-flow" level="INFO" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]"></logger>
    <ee:transform doc:id="06bf0ffb-bedf-4d91-afb9-accd04fb3580" doc:name="Store Query parameters">
      <ee:variables>
        <ee:set-variable variableName="searchString">
          <![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
attributes.queryParams.'searchString' replace /[&|!(){}\[\]^"~*?:\\'+\-]/ with("")]]>
        </ee:set-variable>
        <ee:set-variable variableName="region">
                    					
          
          <![CDATA[attributes.queryParams.'region']]>
                    				
        
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
    <choice doc:name="Choice">
      <when expression="#[isEmpty(vars.region)]">
        <set-variable value="" variableName="regionQueryCondition"></set-variable>
      </when>
      <otherwise>
        <set-variable value="#[' AND Account.Region__c = \'' ++ (vars.region default '') ++ '\'']" variableName="regionQueryCondition"></set-variable>
      </otherwise>
    </choice>
	<choice doc:name="Choice1" doc:id="96cea7f6-14a1-4d76-8cf9-8e1d736b29b6">
			<when expression="#[isEmpty(vars.searchString)]">
				<set-variable value="SEARCH:BAD_REQUEST" doc:name="Set Custom Error Type" doc:id="57e888c4-bb95-4039-9807-624f70a3249e" variableName="errorCustomType" />
				<set-variable value="`searchString` is empty or includes only special characters" doc:name="Set Custom Error Message" doc:id="6a74df74-a9d5-48c4-9c32-b061d11fad2d" variableName="errorCustomMessage" />
				<set-variable value="400" doc:name="Set Status Code" doc:id="518684e1-cf60-4f92-9fa2-0fc97c449d8f" variableName="httpStatus" />
				<raise-error doc:name="Raise error1" doc:id="0e90e196-0b94-4c46-995b-8cc00804bbda" type="CUSTOM:CUSTOM_ERROR" description="Something went while performing a search." />
			</when>
			<when expression="#[sizeOf(vars.searchString) == 1]">
				<set-variable value="SEARCH:BAD_REQUEST" doc:name="Set Custom Error Type" doc:id="b3c7297b-e837-4c3a-b54d-44a865fa6c90" variableName="errorCustomType" />
				<set-variable value="`searchString` must be more than 1 character after cleaning from special characters." doc:name="Set Custom Error Message" doc:id="a4fa05b2-45c2-4e96-a003-043075240ea9" variableName="errorCustomMessage" />
				<set-variable value="422" doc:name="Set Status Code" doc:id="f8b49f18-4e14-4b7d-a121-3457ba2f5749" variableName="httpStatus" />
				<raise-error doc:name="Raise error1" doc:id="1d19d83a-cf9d-4d3d-b7ba-d2a856fc5500" type="CUSTOM:CUSTOM_ERROR" description="Something went while performing a search." />
			</when>
		</choice>
		<salesforce:query
			doc:name="Search Query"
			doc:id="2938911f-53b8-243a5-a53e-14fca711003d"
			config-ref="Salesforce_Config">
		<salesforce:salesforce-query>
		<![CDATA[
			SELECT 
				Id,
				Name,
				Contact_Type__c,
				RecordTypeId,
				FirstName,
				MiddleName,
				LastName,
				Account.Region__c,
				AccountId,
				School_Attending__c,
				Email,
				HomePhone,
				Birthdate,
				Gender__c,
				Grade__c,
				Level__c,
				Ethnicity__c,
				Permission_to_Commute_Alone__c,
				Reduced_Price_Lunch__c,
				Allergies__c,
				External_Student_ID__c,
				External_Student_DB__c,
				Parent_First_Name__c,
				Parent_Last_Name__c,
				Parent_Email_Address__c,
				Parent_Relationship_to_Child__c,
				Parent_Phone_01__c,
				Parent_Phone_02__c,
				Parent_Phone_03__c,
				MailingStreet,
				MailingCity,
				MailingState,
				MailingPostalCode,
				MailingCountry,
				Parent_English_Fluency__c,
				Parent_Home_Language__c,
				Parent_Other_Language__c,
				Volunteer_for_this_Program_Parent__c,
				Emergency_Contact_Name__c,
				Emergency_Contact_Relationship_to_Child__c,
				Emergency_Contact_Name_Phone_01__c,
				Emergency_Contact_Name_Phone_02__c,
				Emergency_Contact_Name_Phone_03__c,
				Emergency_Contact_Permission_to_Pick_Up__c,
				Second_Emergency_Contact_Name__c,
				Second_Emerg_Contact_Relationship_Child__c	,
				Second_Emergency_Phone_01__c,
				Second_Emergency_Phone_02__c,
				Second_Emergency_Phone_03__c,
				Second_Emergency_Permission_to_Pick_Up__c,
				Liability__c,
				Media_Release__c,
				Data_Release__c,
				Year_of_Reference_for_Grade_Information__c,
				Grades_child_participated__c,
				Latest_Waiver_Date__c
				FROM 
					Contact
				WHERE 
					RecordTypeId = '01250000000VBbXAAW' 
					AND 
					(Name LIKE ':searchString')
					:regionQuery
				LIMIT 8
				]]>
			</salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
				---
				{
					searchString : "%" ++ (vars.searchString default "")  ++ "%",
					regionQuery : vars.regionQueryCondition
				}]]]>
			</salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Wrap Records with 'record'" doc:id="wrapRecords">
			<ee:message>
				<ee:set-payload><![CDATA[#[{
					searchRecords: payload map ((item, index) -> {
						record: item
					})
				}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref name="retrieve-latest-enrollment-based-on-payload-with-contacts" doc:name="Call External Flow to Retrieve all Latest Sites" />
    	<ee:transform doc:id="32f388c1-5da5-43ab-8241-874d02d18d35" doc:name="Transform Message">
      <ee:message>
        <ee:set-payload>
                    					
          
          <![CDATA[%dw 2.0
output application/json
---
payload.searchRecords map ( payload01 , indexOfPayload01 ) -> {
Id: payload01.record.Id as String default "",
	ContactType: payload01.record.Contact_Type__c as String default "" ,
	ContactRecordType: payload01.record.RecordTypeId as String default "" ,
	FirstName: payload01.record.FirstName as String default "" ,
	MiddleName: payload01.record.MiddleName as String default "" ,
	LastName: payload01.record.LastName as String default "" ,
	Region: payload01.record.Account.Region__c as String default "",
	SchoolSiteId: payload01.record.AccountId as String default "" ,
	SchoolName: payload01.record.School_Attending__c as String default "" ,
	PersonalEmail: payload01.record.Email as String default "" ,
	HomePhone: payload01.record.HomePhone as String default "" ,
	Birthdate: payload01.record.Birthdate as String default "" ,
	Gender: payload01.record.Gender__c as String default "" ,
	Grade: payload01.record.Grade__c as String default "" ,
	K12GradeLevel: payload01.record.Level__c as String default "" ,
	Ethnicity: payload01.record.Ethnicity__c as String default "" ,
	PermissiontoCommuteAlone: payload01.record.Permission_to_Commute_Alone__c as String default "" ,
	ReducedPriceLunch: payload01.record.Reduced_Price_Lunch__c as String default "" ,
	Allergies: payload01.record.Allergies__c as String default "" ,
	ExternalStudentId: payload01.record.External_Student_ID__c as String default "" ,
	ExternalStudentIdSource: payload01.record.External_Student_DB__c as String default "" ,
	ParentFName: payload01.record.Parent_First_Name__c as String default "" ,
	ParentLName: payload01.record.Parent_Last_Name__c as String default "" ,
	ParentEmail: payload01.record.Parent_Email_Address__c as String default "" ,
	Relationship: payload01.record.Parent_Relationship_to_Child__c as String default "" ,
	ParentPhone1: payload01.record.Parent_Phone_01__c as String default "" ,
	ParentPhone2: payload01.record.Parent_Phone_02__c as String default "" ,
	ParentPhone3: payload01.record.Parent_Phone_03__c as String default "" ,
	MailingStreet: payload01.record.MailingStreet as String default "" ,
	MailingCity: payload01.record.MailingCity as String default "" ,
	MailingState: payload01.record.MailingState as String default "" ,
	MailingZip: payload01.record.MailingPostalCode as String default "" ,
	MailingCountry: payload01.record.MailingCountry as String default "" ,
	ParentEnglishFluency: payload01.record.Parent_English_Fluency__c as String default "" ,
	ParentHomeLang: payload01.record.Parent_Home_Language__c as String default "" ,
	OtherLang: payload01.record.Parent_Other_Language__c as String default "" ,
	Volunteer: payload01.record.Volunteer_for_this_Program_Parent__c as String default "" ,
	Emergency_Contact_Name: payload01.record.Emergency_Contact_Name__c as String default "" ,
	Emergency_Contact_Relationship: payload01.record.Emergency_Contact_Relationship_to_Child__c as String default "" ,
	Emergency_Contact_Phone1: payload01.record.Emergency_Contact_Name_Phone_01__c as String default "" ,
	Emergency_Contact_Phone2: payload01.record.Emergency_Contact_Name_Phone_02__c as String default "" ,
	Emergency_Contact_Phone3: payload01.record.Emergency_Contact_Name_Phone_03__c as String default "" ,
	Emergency_Contact_Permission_to_Pickup_child: payload01.record.Emergency_Contact_Permission_to_Pick_Up__c as String default "" ,
	Second_Emergency_Contact_Name: payload01.record.Second_Emergency_Contact_Name__c as String default "" ,
	Second_Emergency_Contact_Relationship: payload01.record.Second_Emerg_Contact_Relationship_Child__c	 as String default "" ,
	Second_Emergency_Contact_Phone1: payload01.record.Second_Emergency_Phone_01__c as String default "" ,
	Second_Emergency_Contact_Phone2: payload01.record.Second_Emergency_Phone_02__c as String default "" ,
	Second_Emergency_Contact_Phone3: payload01.record.Second_Emergency_Phone_03__c as String default "" ,
	Second_Emergency_Contact_Permission_to_Pickup_child: payload01.record.Second_Emergency_Permission_to_Pick_Up__c as String default "" ,
	LiabilityWaiver: payload01.record.Liability__c as String default "" ,
	MediaReleaseWaiver: payload01.record.Media_Release__c as String default "" ,
	DataReleaseWaiver: payload01.record.Data_Release__c as String default "",
	YearOfReferenceForGradeInformation: payload01.record.Year_of_Reference_for_Grade_Information__c as String default "" ,
	GradesChildParticipated: payload01.record.Grades_child_participated__c as String default "",
	LatestWaiverDate: payload01.record.Latest_Waiver_Date__c as String default "",
	LatestEnrolledEndDate: vars.contactResults[indexOfPayload01].LatestEnrolledEndDate as String default "",
	LatestEnrolledSiteId: vars.contactResults[indexOfPayload01].LatestEnrolledSiteId as String default "",
	LatestEnrolledSiteName: vars.contactResults[indexOfPayload01].LatestEnrolledSiteName as String default ""	
}]]>
                    				
        
        </ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="get:\contacts\searchByPhoneNumber:salesforce-data-api-config">
    <logger doc:id="5702e8bf-921c-4af0-a9f0-9bc9091adf34" doc:name="Log entry-flow" level="INFO" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]"></logger>
    <ee:transform doc:id="7e56aada-f163-47f0-8ffc-213f7acd09a8" doc:name="Store Query parameters">
      <ee:variables>
        <ee:set-variable variableName="phoneNumberLast4Digits">
                    					
          
          <![CDATA[%dw 2.0
import substring from dw::core::Strings

var cleanedPhoneNumber = replace(attributes.queryParams.'phoneNumber', /(\D+)/) with("")
var stringSize = sizeOf(cleanedPhoneNumber)
---
substring(cleanedPhoneNumber, stringSize - 4, stringSize)]]>
                    				
        
        </ee:set-variable>
        <ee:set-variable variableName="phoneNumber">
                    					
          
          <![CDATA[replace(attributes.queryParams.'phoneNumber', /(\D+)/) with("")]]>
                    				
        
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
    <salesforce:search config-ref="Salesforce_Config" doc:id="1d085a1a-e15b-412b-a836-4014557a9abd" doc:name="Search By Phone Number">
      <salesforce:search-string>
                				
        
        <![CDATA[
			FIND
			 { :phoneNumber } 
			 IN PHONE FIELDS RETURNING 
			 Contact
			 (
			 	Id,
				Contact_Type__c,
				RecordTypeId,
				FirstName,
				MiddleName,
				LastName,
				Account.Region__c,
				AccountId,
				School_Attending__c,
				Email,
				HomePhone,
				Birthdate,
				Gender__c,
				Grade__c,
				Level__c,
				Ethnicity__c,
				Permission_to_Commute_Alone__c,
				Reduced_Price_Lunch__c,
				Allergies__c,
				External_Student_ID__c,
				External_Student_DB__c,
				Parent_First_Name__c,
				Parent_Last_Name__c,
				Parent_Email_Address__c,
				Parent_Relationship_to_Child__c,
				Parent_Phone_01__c,
				Parent_Phone_02__c,
				Parent_Phone_03__c,
				MailingStreet,
				MailingCity,
				MailingState,
				MailingPostalCode,
				MailingCountry,
				Parent_English_Fluency__c,
				Parent_Home_Language__c,
				Parent_Other_Language__c,
				Volunteer_for_this_Program_Parent__c,
				Emergency_Contact_Name__c,
				Emergency_Contact_Relationship_to_Child__c,
				Emergency_Contact_Name_Phone_01__c,
				Emergency_Contact_Name_Phone_02__c,
				Emergency_Contact_Name_Phone_03__c,
				Emergency_Contact_Permission_to_Pick_Up__c,
				Second_Emergency_Contact_Name__c,
				Second_Emerg_Contact_Relationship_Child__c	,
				Second_Emergency_Phone_01__c,
				Second_Emergency_Phone_02__c,
				Second_Emergency_Phone_03__c,
				Second_Emergency_Permission_to_Pick_Up__c,
				Liability__c,
				Media_Release__c,
				Data_Release__c,
				Student_Record_Complete__c,
				Year_of_Reference_for_Grade_Information__c,
				Grades_child_participated__c,
				Latest_Waiver_Date__c
			WHERE 
				Contact_Type__c = 'SCORES Student'
				AND (Parent_Phone_01__c LIKE '%:phoneNumberLast4Digits'
				OR Parent_Phone_02__c LIKE '%:phoneNumberLast4Digits'
				OR Parent_Phone_03__c LIKE '%:phoneNumberLast4Digits')
			) 
			LIMIT 8
			]]>
                			
      
      </salesforce:search-string>
      <salesforce:parameters>
                				
        
        <![CDATA[#[output application/java
---
{
	phoneNumber : vars.phoneNumber,
	phoneNumberLast4Digits : vars.phoneNumberLast4Digits
}]]]>
                			
      
      </salesforce:parameters>
    </salesforce:search>
	<flow-ref name="retrieve-latest-enrollment-based-on-payload-with-contacts" doc:name="Call External Flow to Retrieve all Latest Sites" />

    <ee:transform doc:id="cca12834-e1ee-4cc9-90ef-91c9be555af9" doc:name="Transform Message">
      <ee:message>
        <ee:set-payload>
                    					
          
          <![CDATA[%dw 2.0
output application/json
---
payload.searchRecords map ( payload01 , indexOfPayload01 ) -> {
	Id: payload01.record.Id as String default "",
	ContactType: payload01.record.Contact_Type__c as String default "",
	ContactRecordType: payload01.record.RecordTypeId as String default "",
	FirstName: payload01.record.FirstName as String default "" ,
	MiddleName: payload01.record.MiddleName as String default "" ,
	LastName: payload01.record.LastName as String default "" ,
	SchoolSiteId: payload01.record.AccountId as String default "" ,
	SchoolName: payload01.record.School_Attending__c as String default "" ,
	Region: payload01.record.Account.Region__c as String default "",
	PersonalEmail: payload01.record.Email as String default "" ,
	HomePhone: payload01.record.HomePhone as String default "" ,
	Birthdate: payload01.record.Birthdate as String default "" ,
	Gender: payload01.record.Gender__c as String default "" ,
	Grade: payload01.record.Grade__c as String default "" ,
	K12GradeLevel: payload01.record.Level__c as String default "" ,
	Ethnicity: payload01.record.Ethnicity__c as String default "" ,
	PermissiontoCommuteAlone: payload01.record.Permission_to_Commute_Alone__c as String default "" ,
	ReducedPriceLunch: payload01.record.Reduced_Price_Lunch__c as String default "" ,
	Allergies: payload01.record.Allergies__c as String default "" ,
	ExternalStudentId: payload01.record.External_Student_ID__c as String default "" ,
	ExternalStudentIdSource: payload01.record.External_Student_DB__c as String default "" ,
	ParentFName: payload01.record.Parent_First_Name__c as String default "" ,
	ParentLName: payload01.record.Parent_Last_Name__c as String default "" ,
	ParentEmail: payload01.record.Parent_Email_Address__c as String default "" ,
	Relationship: payload01.record.Parent_Relationship_to_Child__c as String default "" ,
	ParentPhone1: payload01.record.Parent_Phone_01__c as String default "" ,
	ParentPhone2: payload01.record.Parent_Phone_02__c as String default "" ,
	ParentPhone3: payload01.record.Parent_Phone_03__c as String default "" ,
	MailingStreet: payload01.record.MailingStreet as String default "" ,
	MailingCity: payload01.record.MailingCity as String default "" ,
	MailingState: payload01.record.MailingState as String default "" ,
	MailingZip: payload01.record.MailingPostalCode as String default "" ,
	MailingCountry: payload01.record.MailingCountry as String default "" ,
	ParentEnglishFluency: payload01.record.Parent_English_Fluency__c as String default "" ,
	ParentHomeLang: payload01.record.Parent_Home_Language__c as String default "" ,
	OtherLang: payload01.record.Parent_Other_Language__c as String default "" ,
	Volunteer: payload01.record.Volunteer_for_this_Program_Parent__c as String default "" ,
	Emergency_Contact_Name: payload01.record.Emergency_Contact_Name__c as String default "" ,
	Emergency_Contact_Relationship: payload01.record.Emergency_Contact_Relationship_to_Child__c as String default "" ,
	Emergency_Contact_Phone1: payload01.record.Emergency_Contact_Name_Phone_01__c as String default "" ,
	Emergency_Contact_Phone2: payload01.record.Emergency_Contact_Name_Phone_02__c as String default "" ,
	Emergency_Contact_Phone3: payload01.record.Emergency_Contact_Name_Phone_03__c as String default "" ,
	Emergency_Contact_Permission_to_Pickup_child: payload01.record.Emergency_Contact_Permission_to_Pick_Up__c as String default "" ,
	Second_Emergency_Contact_Name: payload01.record.Second_Emergency_Contact_Name__c as String default "" ,
	Second_Emergency_Contact_Relationship: payload01.record.Second_Emerg_Contact_Relationship_Child__c	 as String default "" ,
	Second_Emergency_Contact_Phone1: payload01.record.Second_Emergency_Phone_01__c as String default "" ,
	Second_Emergency_Contact_Phone2: payload01.record.Second_Emergency_Phone_02__c as String default "" ,
	Second_Emergency_Contact_Phone3: payload01.record.Second_Emergency_Phone_03__c as String default "" ,
	Second_Emergency_Contact_Permission_to_Pickup_child: payload01.record.Second_Emergency_Permission_to_Pick_Up__c as String default "" ,
	LiabilityWaiver: payload01.record.Liability__c as String default "" ,
	MediaReleaseWaiver: payload01.record.Media_Release__c as String default "" ,
	DataReleaseWaiver: payload01.record.Data_Release__c as String default "",
	StudentRecordComplete: payload01.record.Student_Record_Complete__c as Boolean default false,
	YearOfReferenceForGradeInformation: payload01.record.Year_of_Reference_for_Grade_Information__c as String default "" ,
	GradesChildParticipated: payload01.record.Grades_child_participated__c as String default "",
	LatestWaiverDate: payload01.record.Latest_Waiver_Date__c as String default "",
	LatestEnrolledEndDate: vars.contactResults[indexOfPayload01].LatestEnrolledEndDate as String default "",
	LatestEnrolledSiteId: vars.contactResults[indexOfPayload01].LatestEnrolledSiteId as String default "",
	LatestEnrolledSiteName: vars.contactResults[indexOfPayload01].LatestEnrolledSiteName as String default ""
}]]>
                    				
        
        </ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="get:\contacts\(contactId):salesforce-data-api-config">
    <logger doc:id="259840a7-a4b5-4c17-9326-0794dfea6b26" doc:name="Log entry-flow" level="INFO" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]"></logger>
    <choice doc:id="xqgzcq" doc:name="Choice">
      <when expression="#[isEmpty(vars.contactId)]">
        <ee:transform doc:id="f0ca847c-5413-4e76-bde8-9aec2edd7b7d" doc:name="Store URI parameters">
          <ee:variables>
            <ee:set-variable variableName="contactId">
                            							
              
              <![CDATA[attributes.uriParams.'contactId']]>
                            						
            
            </ee:set-variable>
          </ee:variables>
        </ee:transform>
      </when>
    </choice>
	<flow-ref name="retrieve-latest-enrollment-based-on-contactId" doc:name="Call External Flow" />
    <ee:transform doc:id="extract-school-site-name" doc:name="Extract School Site Name">
        <ee:variables>
            <ee:set-variable variableName="schoolSiteName">
                <![CDATA[
					{
						LatestEnrolledEndDate: payload.LatestEnrolledEndDate,
						LatestEnrolledSiteId: payload.LatestEnrolledSiteId,
						LatestEnrolledSiteName: payload.LatestEnrolledSiteName
					}
				]]>
            </ee:set-variable>
        </ee:variables>
    </ee:transform>
    <salesforce:query config-ref="Salesforce_Config" doc:id="484bbe2a-c7aa-42d5-9463-cd953b4abb1e" doc:name="Query">
      <salesforce:salesforce-query>
                				
        
        <![CDATA[
			SELECT 
				Id,
				Contact_Type__c,
				RecordTypeId,
				FirstName,
				MiddleName,
				LastName,
				AccountId,
				Account.Region__c,
				School_Attending__c,
				Email,
				HomePhone,
				Birthdate,
				Gender__c,
				Grade__c,
				Level__c,
				Ethnicity__c,
				Permission_to_Commute_Alone__c,
				Reduced_Price_Lunch__c,
				Allergies__c,
				External_Student_ID__c,
				External_Student_DB__c,
				Parent_First_Name__c,
				Parent_Last_Name__c,
				Parent_Email_Address__c,
				Parent_Relationship_to_Child__c,
				Parent_Phone_01__c,
				Parent_Phone_02__c,
				Parent_Phone_03__c,
				MailingStreet,
				MailingCity,
				MailingState,
				MailingPostalCode,
				MailingCountry,
				Parent_English_Fluency__c,
				Parent_Home_Language__c,
				Parent_Other_Language__c,
				Volunteer_for_this_Program_Parent__c,
				Emergency_Contact_Name__c,
				Emergency_Contact_Relationship_to_Child__c,
				Emergency_Contact_Name_Phone_01__c,
				Emergency_Contact_Name_Phone_02__c,
				Emergency_Contact_Name_Phone_03__c,
				Emergency_Contact_Permission_to_Pick_Up__c,
				Second_Emergency_Contact_Name__c,
				Second_Emerg_Contact_Relationship_Child__c	,
				Second_Emergency_Phone_01__c,
				Second_Emergency_Phone_02__c,
				Second_Emergency_Phone_03__c,
				Second_Emergency_Permission_to_Pick_Up__c,
				Liability__c,
				Media_Release__c,
				Data_Release__c,
				Student_Record_Complete__c,
				Year_of_Reference_for_Grade_Information__c,
				Grades_child_participated__c,
				Latest_Waiver_Date__c
			FROM 
				Contact 
			WHERE 
				Id = ':id'
			]]>
                			
      
      </salesforce:salesforce-query>
      <salesforce:parameters>
                				
        
        <![CDATA[#[output application/java
---
{
	id : vars.contactId
}]]]>
                			
      
      </salesforce:parameters>
    </salesforce:query>

	
    <ee:transform doc:id="1032e8df-84aa-4e0e-b9cc-e538858184b9" doc:name="Create Response" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
      <ee:message>
        <ee:set-payload>
                    					
          
          <![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Id: payload01.Id as String default "",
	ContactType: payload01.Contact_Type__c as String default "" ,
	ContactRecordType: payload01.RecordTypeId as String default "" ,
	FirstName: payload01.FirstName as String default "" ,
	MiddleName: payload01.MiddleName as String default "" ,
	LastName: payload01.LastName as String default "" ,
	Region: payload01.Account.Region__c as String default "",
	SchoolSiteId: payload01.AccountId as String default "" ,
	SchoolName: payload01.School_Attending__c as String default "" ,
	PersonalEmail: payload01.Email as String default "" ,
	HomePhone: payload01.HomePhone as String default "" ,
	Birthdate: payload01.Birthdate as String default "" ,
	Gender: payload01.Gender__c as String default "" ,
	Grade: payload01.Grade__c as String default "" ,
	K12GradeLevel: payload01.Level__c as String default "" ,
	Ethnicity: payload01.Ethnicity__c as String default "" ,
	PermissiontoCommuteAlone: payload01.Permission_to_Commute_Alone__c as String default "" ,
	ReducedPriceLunch: payload01.Reduced_Price_Lunch__c as String default "" ,
	Allergies: payload01.Allergies__c as String default "" ,
	ExternalStudentId: payload01.External_Student_ID__c as String default "" ,
	ExternalStudentIdSource: payload01.External_Student_DB__c as String default "" ,
	ParentFName: payload01.Parent_First_Name__c as String default "" ,
	ParentLName: payload01.Parent_Last_Name__c as String default "" ,
	ParentEmail: payload01.Parent_Email_Address__c as String default "" ,
	Relationship: payload01.Parent_Relationship_to_Child__c as String default "" ,
	ParentPhone1: payload01.Parent_Phone_01__c as String default "" ,
	ParentPhone2: payload01.Parent_Phone_02__c as String default "" ,
	ParentPhone3: payload01.Parent_Phone_03__c as String default "" ,
	MailingStreet: payload01.MailingStreet as String default "" ,
	MailingCity: payload01.MailingCity as String default "" ,
	MailingState: payload01.MailingState as String default "" ,
	MailingZip: payload01.MailingPostalCode as String default "" ,
	MailingCountry: payload01.MailingCountry as String default "" ,
	ParentEnglishFluency: payload01.Parent_English_Fluency__c as String default "" ,
	ParentHomeLang: payload01.Parent_Home_Language__c as String default "" ,
	OtherLang: payload01.Parent_Other_Language__c as String default "" ,
	Volunteer: payload01.Volunteer_for_this_Program_Parent__c as String default "" ,
	Emergency_Contact_Name: payload01.Emergency_Contact_Name__c as String default "" ,
	Emergency_Contact_Relationship: payload01.Emergency_Contact_Relationship_to_Child__c as String default "" ,
	Emergency_Contact_Phone1: payload01.Emergency_Contact_Name_Phone_01__c as String default "" ,
	Emergency_Contact_Phone2: payload01.Emergency_Contact_Name_Phone_02__c as String default "" ,
	Emergency_Contact_Phone3: payload01.Emergency_Contact_Name_Phone_03__c as String default "" ,
	Emergency_Contact_Permission_to_Pickup_child: payload01.Emergency_Contact_Permission_to_Pick_Up__c as String default "" ,
	Second_Emergency_Contact_Name: payload01.Second_Emergency_Contact_Name__c as String default "" ,
	Second_Emergency_Contact_Relationship: payload01.Second_Emerg_Contact_Relationship_Child__c	 as String default "" ,
	Second_Emergency_Contact_Phone1: payload01.Second_Emergency_Phone_01__c as String default "" ,
	Second_Emergency_Contact_Phone2: payload01.Second_Emergency_Phone_02__c as String default "" ,
	Second_Emergency_Contact_Phone3: payload01.Second_Emergency_Phone_03__c as String default "" ,
	Second_Emergency_Contact_Permission_to_Pickup_child: payload01.Second_Emergency_Permission_to_Pick_Up__c as String default "" ,
	LiabilityWaiver: payload01.Liability__c as String default "" ,
	MediaReleaseWaiver: payload01.Media_Release__c as String default "" ,
	DataReleaseWaiver: payload01.Data_Release__c as String default "" ,
	StudentRecordComplete: payload01.Student_Record_Complete__c as Boolean default false,
	YearOfReferenceForGradeInformation: payload01.Year_of_Reference_for_Grade_Information__c as String default "" ,
	GradesChildParticipated: payload01.Grades_child_participated__c as String default "",
	LatestWaiverDate: payload01.Latest_Waiver_Date__c as String default "",
	LatestEnrolledEndDate: vars.schoolSiteName.LatestEnrolledEndDate as String default "",
	LatestEnrolledSiteId: vars.schoolSiteName.LatestEnrolledSiteId as String default "",
	LatestEnrolledSiteName: vars.schoolSiteName.LatestEnrolledSiteName as String default ""

}]]>
                    				
        
        </ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger doc:id="eb926194-1a98-423e-b0c5-d3910cc9ec21" doc:name="Log Created Response" level="INFO" message="#[payload]"></logger>
  </flow>
  <flow name="patch:\contacts\(contactId):application\json:salesforce-data-api-config">
    <logger doc:id="630fb42f-aa01-455b-84ab-ae96ae695b29" doc:name="Log entry-flow" level="INFO" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]"></logger>
    <choice doc:id="ngwiov" doc:name="Choice">
      <when expression="#[vars.contactId == null]">
        <ee:transform doc:id="16374a77-ca21-4661-a15f-b4d0f23e368b" doc:name="Store Query parameters">
          <ee:variables>
            <ee:set-variable variableName="contactId">
              										
					
              <![CDATA[attributes.uriParams.'contactId']]>
              									
					
            </ee:set-variable>
          </ee:variables>
        </ee:transform>
      </when>
    </choice>
    <ee:transform doc:id="592cfbca-f5bb-4ed0-842a-8e72b8d5c977" doc:name="Transform Message">
      <ee:message>
        <ee:set-payload>
                    					
          
          <![CDATA[%dw 2.0
output application/java
---
[{
	Id: vars.contactId,
	(FirstName: payload.FirstName) if(payload.FirstName?) ,
	(MiddleName: payload.MiddleName) if(payload.MiddleName?) ,
	(LastName: payload.LastName) if(payload.LastName?) ,
	(Email: payload.PersonalEmail) if(payload.PersonalEmail?) ,
	(HomePhone: payload.HomePhone) if(payload.HomePhone?) ,
	(Birthdate: payload.Birthdate as Date) if(payload.Birthdate?) ,
	(Gender__c: payload.Gender) if(payload.Gender?) ,
	(Grade__c: payload.Grade) if(payload.Grade?) ,
	(Ethnicity__c: payload.Ethnicity) if(payload.Ethnicity?) ,
	(Permission_to_Commute_Alone__c: payload.PermissiontoCommuteAlone) if(payload.PermissiontoCommuteAlone?) ,
	(Reduced_Price_Lunch__c: payload.ReducedPriceLunch) if(payload.ReducedPriceLunch?) ,
	(Allergies__c: payload.Allergies) if(payload.Allergies?) ,
	(External_Student_ID__c: payload.ExternalStudentId) if(payload.ExternalStudentId?) ,
	(External_Student_DB__c: payload.ExternalStudentIdSource) if(payload.ExternalStudentIdSource?) ,
	(Parent_First_Name__c: payload.ParentFName) if(payload.ParentFName?) ,
	(Parent_Last_Name__c: payload.ParentLName) if(payload.ParentLName?) ,
	(Parent_Email_Address__c: payload.ParentEmail) if(payload.ParentEmail?) ,
	(Parent_Relationship_to_Child__c: payload.Relationship) if(payload.Relationship?) ,
	(Parent_Phone_01__c: payload.ParentPhone1) if(payload.ParentPhone1?) ,
	(Parent_Phone_02__c: payload.ParentPhone2) if(payload.ParentPhone2?) ,
	(Parent_Phone_03__c: payload.ParentPhone3) if(payload.ParentPhone3?) ,
	(MailingStreet: payload.MailingStreet) if(payload.MailingStreet?) ,
	(MailingCity: payload.MailingCity) if(payload.MailingCity?) ,
	(MailingState: payload.MailingState) if(payload.MailingState?) ,
	(MailingPostalCode: payload.MailingZip) if(payload.MailingZip?) ,
	(MailingCountry: payload.MailingCountry) if(payload.MailingCountry?) ,
	(Parent_English_Fluency__c: payload.ParentEnglishFluency) if(payload.ParentEnglishFluency?) ,
	(Parent_Home_Language__c: payload.ParentHomeLang) if(payload.ParentHomeLang?) ,
	(Parent_Other_Language__c: payload.OtherLang) if(payload.OtherLang?) ,
	(Volunteer_for_this_Program_Parent__c: payload.Volunteer) if(payload.Volunteer?) ,
	(Emergency_Contact_Name__c: payload.Emergency_Contact_Name) if(payload.Emergency_Contact_Name?) ,
	(Emergency_Contact_Relationship_to_Child__c: payload.Emergency_Contact_Relationship) if(payload.Emergency_Contact_Relationship?) ,
	(Emergency_Contact_Name_Phone_01__c: payload.Emergency_Contact_Phone1) if(payload.Emergency_Contact_Phone1?) ,
	(Emergency_Contact_Name_Phone_02__c: payload.Emergency_Contact_Phone2) if(payload.Emergency_Contact_Phone2?) ,
	(Emergency_Contact_Name_Phone_03__c: payload.Emergency_Contact_Phone3) if(payload.Emergency_Contact_Phone3?) ,
	(Emergency_Contact_Permission_to_Pick_Up__c: payload.Emergency_Contact_Permission_to_Pickup_child) if(payload.Emergency_Contact_Permission_to_Pickup_child?) ,
	(Second_Emergency_Contact_Name__c: payload.Second_Emergency_Contact_Name) if(payload.Second_Emergency_Contact_Name?) ,
	(Second_Emerg_Contact_Relationship_Child__c: payload.Second_Emergency_Contact_Relationship) if(payload.Second_Emergency_Contact_Relationship?) ,
	(Second_Emergency_Phone_01__c: payload.Second_Emergency_Contact_Phone1) if(payload.Second_Emergency_Contact_Phone1?) ,
	(Second_Emergency_Phone_02__c: payload.Second_Emergency_Contact_Phone2) if(payload.Second_Emergency_Contact_Phone2?) ,
	(Second_Emergency_Phone_03__c: payload.Second_Emergency_Contact_Phone3) if(payload.Second_Emergency_Contact_Phone3?) ,
	(Second_Emergency_Permission_to_Pick_Up__c: payload.Second_Emergency_Contact_Permission_to_Pickup_child) if(payload.Second_Emergency_Contact_Permission_to_Pickup_child?) ,
	(Liability__c: payload.LiabilityWaiver) if(payload.LiabilityWaiver?) ,
	(Media_Release__c: payload.MediaReleaseWaiver) if(payload.MediaReleaseWaiver?) ,
	(Data_Release__c: payload.DataReleaseWaiver) if(payload.DataReleaseWaiver?),
	(School_Attending__c: payload.SchoolName) if(payload.SchoolName?),
	(AccountId: payload.AccountId) if(payload.AccountId?),
	(Year_of_Reference_for_Grade_Information__c: payload.YearOfReferenceForGradeInformation) if(payload.YearOfReferenceForGradeInformation?),
	(Grades_child_participated__c: payload.GradesChildParticipated) if(payload.GradesChildParticipated?)
}]]]>
                    				
        
        </ee:set-payload>
      </ee:message>
    </ee:transform>
    <salesforce:update config-ref="Salesforce_Config" doc:id="22d1f2d0-03bc-4987-82e8-200abcd9b67a" doc:name="Update" type="Contact"></salesforce:update>
    <choice doc:id="61a478f2-2c8f-430b-a6ad-a5435c432f7a" doc:name="Update successful?">
      <when expression="#[payload.items[0].successful == false]">
        <ee:transform doc:id="7c3a7df0-eb2b-4a4d-9182-1fcfd74a48fb" doc:name="Transform Message">
          <ee:message>
            <ee:set-payload>
                            							
              
              <![CDATA[%dw 2.0
output application/json
---
{
	message: payload.items[0].message
}]]>
                            						
            
            </ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">
                            							
              
              <![CDATA[400]]>
                            						
            
            </ee:set-variable>
          </ee:variables>
        </ee:transform>
      </when>
      <otherwise>
        <flow-ref name="get:\contacts\(contactId):salesforce-data-api-config"></flow-ref>
        <ee:transform doc:name="Create Response" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload>
                            							
              
              <![CDATA[%dw 2.0
output application/json
---
{
  message: "Contact updated",
  data: payload
}]]>
                            						
            
            </ee:set-payload>
          </ee:message>
        </ee:transform>
      </otherwise>
    </choice>
    <logger doc:id="07b47086-0cbc-4db9-9012-faaabb58cff9" doc:name="Log Created Response" level="INFO" message="#[payload]"></logger>
  </flow>
  <flow doc:id="912d6ddf-b2bf-4f75-837a-21b1feccf869" name="get:\contacts\(contactId)\waiver\(waiverId):salesforce-data-api-config">
    <logger doc:id="c42d1dd4-9901-45ee-927f-9d59626fafc0" doc:name="Log entry-flow" level="INFO" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]"></logger>
    <ee:transform doc:id="8d327553-1d7b-4e62-a011-fa77e027aa13" doc:name="Store uri Params">
      <ee:variables>
        <ee:set-variable variableName="contactId">
                    					
          
          <![CDATA[attributes.uriParams.'contactId']]>
                    				
        
        </ee:set-variable>
        <ee:set-variable variableName="waiverId">
                    					
          
          <![CDATA[attributes.uriParams.'waiverId']]>
                    				
        
        </ee:set-variable>
        <ee:set-variable variableName="region">
                    					
          
          <![CDATA[attributes.queryParams.'region']]>
                    				
        
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
    <salesforce:query config-ref="Salesforce_Config" doc:id="56572ed9-228d-4c40-adec-754af5eec846" doc:name="Query">
      <salesforce:salesforce-query>
                				
        
        <![CDATA[SELECT Name, WaiverEvent__c FROM Waiver_History__c WHERE Waiver_Contact__c = ':contactId' AND Waiver__c = ':waiverId' AND Waiver__r.WaiverRegion__c = ':region' AND Waiver__r.Waiver_Active_End__c > TODAY]]>
                			
      
      </salesforce:salesforce-query>
      <salesforce:parameters>
                				
        
        <![CDATA[#[output application/java
---
{
	contactId : vars.contactId,
	region : vars.region,
	waiverId : vars.waiverId
}]]]>
                			
      
      </salesforce:parameters>
    </salesforce:query>
    <ee:transform doc:id="81c2c65f-050c-4403-9b9f-8cd8135c6f9d" doc:name="Create Response" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
      <ee:message>
        <ee:set-payload>
                    					
          
          <![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	"WaiverHistoryId": payload01.Name as String default null,
	"Response": payload01.WaiverEvent__c as String default null
}]]>
                    				
        
        </ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger doc:id="201d5855-01eb-4c6e-aca8-b5bebe871ada" doc:name="Log Created Response" level="INFO" message="#[payload]"></logger>
  </flow>
  <flow name="post:\contacts\(contactId)\finishRegistration:application\json:salesforce-data-api-config">
    <ee:transform doc:id="72c2180c-ba71-4658-ad7a-4162acfea0a9" doc:name="Transform Message">
      <ee:variables>
        <ee:set-variable variableName="waiverId">
          <![CDATA[payload.waiverId]]>
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
    <set-payload doc:name="Set Payload with DataWeave" value="#[%dw 2.0     output application/json     ---     {      waiverId: vars.waiverId,      datetime: payload.datetime,      contactId: attributes.uriParams.'contactId',      waiverResponse: payload.waiverResponse      }]"></set-payload>
    <set-variable doc:id="ea1tcfc" doc:name="Set variable" value="#[attributes.uriParams.'contactId']" variableName="contactId"></set-variable>
    <flow-ref name="post:\waiver\(waiverId):application\json:salesforce-data-api-config"></flow-ref>
    <choice doc:id="rbsmfh" doc:name="Choice">
      <when expression="#[payload.WaiverHistory != null]">
        <set-variable doc:id="gjtppd" doc:name="Set variable" value="#[payload.WaiverHistory]" variableName="WaiverHistory"></set-variable>
        <flow-ref name="patch:\contacts\(contactId):application\json:salesforce-data-api-config"></flow-ref>
        <flow-ref name="get:\contacts\(contactId):salesforce-data-api-config"></flow-ref>
        <ee:transform doc:id="bc80392c-09c1-43c1-2c5b-ebf8dd509785" doc:name="Create response" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload>
              																	
							
              <![CDATA[%dw 2.0
							output application/json
							---
							{	
								message: "Success. Waiver Signed.",
								WaiverHistory: vars.WaiverHistory,
								data: payload
							}]]>
              																
						
            </ee:set-payload>
          </ee:message>
          <ee:variables></ee:variables>
        </ee:transform>
      </when>
      <otherwise>
        <ee:transform doc:id="bc80292c-09c1-43c1-2c5b-ebf8dd509785" doc:name="Create response" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload>
              																	
							
              <![CDATA[%dw 2.0
							output application/json
							---
							{	
								message: "Failure. Waiver not signed.",
								data: payload
							}]]>
              																
						
            </ee:set-payload>
          </ee:message>
          <ee:variables></ee:variables>
        </ee:transform>
      </otherwise>
    </choice>
  </flow>
  <flow name="delete:\contacts\(contactId):salesforce-data-api-config">
        <choice doc:name="Choice" doc:id="faybix" >
            <when expression="#[p('env') == 'production']">
		        <set-variable doc:name="405 HTTP Status" value="405" variableName="httpStatus"></set-variable>
		        <set-payload doc:name="Set Error Response" value="#[output application/json --- {  'message': 'Method Not Allowed on Production'  }]"></set-payload>
		</when>
		<otherwise>
        	<set-variable variableName="contactId" value="#[attributes.uriParams.'contactId']" doc:name="Set Contact ID"/>

			<salesforce:query config-ref="Salesforce_Config" doc:id="kspgdxo" doc:name="Query">
				<salesforce:salesforce-query>
					<![CDATA[
						SELECT Id FROM Contact WHERE Id = ':contactId'
					]]>
				</salesforce:salesforce-query>
				<salesforce:parameters>
					<![CDATA[#[{
						contactId: vars.contactId
					}]]]>
				</salesforce:parameters>
			</salesforce:query>


			<!-- Check if the contact exists (optional) -->
			<choice doc:name="Check Contact Exists">
				<when expression="#[sizeOf(payload) > 0]">
					<!-- Delete the Contact object -->
					<salesforce:delete config-ref="Salesforce_Config" doc:name="Delete Contact">
        				<salesforce:ids><![CDATA[#[[vars.contactId]]]]></salesforce:ids>
					</salesforce:delete>
					    <!-- Capture the delete result in a variable -->
					<set-payload value="#[output application/json --- { 'message': 'Contact deleted' }]" doc:name="Set Success Response"/>
					<set-variable variableName="httpStatus" value="200" doc:name="204 HTTP Status"/>
				</when>
				<otherwise>
					<!-- Handle the case where the Contact does not exist -->
					<logger level="INFO" doc:name="Contact Not Found" message="Contact with ID #[vars.contactId] not found."/>
					<set-variable variableName="httpStatus" value="404" doc:name="404 HTTP Status"/>
					<set-payload value="#[output application/json --- { 'message': 'Contact not found' }]" doc:name="Set Error Response"/>
				</otherwise>
			</choice>

		</otherwise>

            
            
        </choice>
	</flow>
	<flow name="retrieve-latest-enrollment-based-on-contactId">
    <!-- Assume 'contactId' is available as a variable -->
    
    <!-- Build the SOQL query to retrieve the latest enrollment -->
    <ee:transform doc:name="Build Query">
        <ee:variables>
            <ee:set-variable variableName="query">
                <![CDATA[
                    "
					SELECT End_Date__c, Team_Season__r.Team__r.School_Site__c,  Team_Season__r.Team__r.School_Site__r.Name
                    FROM Enrollment__c
                    WHERE Contact__r.Id = ':contactId'
					ORDER BY CreatedDate DESC
                    LIMIT 1
					"
                ]]>
            </ee:set-variable>
        </ee:variables>
    </ee:transform>
    
    <!-- Execute the Salesforce query -->
    <salesforce:query doc:name="Query" config-ref="Salesforce_Config">
        <salesforce:salesforce-query>
            <![CDATA[#[vars.query]]]>
        </salesforce:salesforce-query>
        <salesforce:parameters>
            <![CDATA[#[{contactId: vars.contactId}]]]>
        </salesforce:parameters>
    </salesforce:query>
    
    <!-- Transform the result to return only the SchoolSiteName or an empty string -->
    <ee:transform doc:name="Transform Result">
        <ee:message>
            <ee:set-payload>
            <![CDATA[%dw 2.0
            output application/json
            ---
            if (isEmpty(payload)) {
				LatestEnrolledEndDate: "",
                LatestEnrolledSiteId: "",
                LatestEnrolledSiteName: ""
			} 
            else {
                LatestEnrolledEndDate: payload[0].End_Date__c,
                LatestEnrolledSiteId: payload[0].Team_Season__r.Team__r.School_Site__c,
                LatestEnrolledSiteName: payload[0].Team_Season__r.Team__r.School_Site__r.Name
            }]]>            </ee:set-payload>
        </ee:message>
    </ee:transform>
</flow>

<flow name="retrieve-latest-enrollment-based-on-payload-with-contacts">
	<ee:transform doc:name="Set Contact Id" doc:id="set-contactResults">
		<ee:variables>
			<ee:set-variable variableName="contactResults" >
					<![CDATA[[]]]>
			</ee:set-variable>
		</ee:variables>
	</ee:transform>
	<foreach doc:name="Process Each Contact" collection="#[payload.searchRecords]" doc:id="foreach-process-contact">
		<!-- Call External Flow for Each Contact -->
		<ee:transform doc:name="Set Contact Id" doc:id="set-contact-id">
			<ee:variables>
				<ee:set-variable variableName="contactId">
					<![CDATA[payload.record.Id]]>
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<flow-ref name="retrieve-latest-enrollment-based-on-contactId" doc:name="Call External Flow" />
		<!-- Extract School Site Name -->
		<ee:transform doc:id="extract-school-site-name-search" doc:name="Extract School Site Name">
			<ee:variables>
				<ee:set-variable variableName="contactResults" doc:name="Add to Results">
					<![CDATA[
						%dw 2.0
						output application/json
						---
						(vars.contactResults default []) ++ [{
							contactId: vars.contactId,
							LatestEnrolledEndDate: payload.LatestEnrolledEndDate,
							LatestEnrolledSiteId: payload.LatestEnrolledSiteId,
							LatestEnrolledSiteName: payload.LatestEnrolledSiteName
						}]
					]]>
			</ee:set-variable>
			</ee:variables>
		</ee:transform>
	</foreach>
</flow>

  <flow name="get:\contacts\searchSOSL:salesforce-data-api-config">
    <logger doc:id="127d162c-eb82-4c68-858e-cba3a849db5c" doc:name="Log entry-flow" level="INFO" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]"></logger>
    <ee:transform doc:id="06bf0ffb-bedf-4d91-afb9-accd04fb3580" doc:name="Store Query parameters">
      <ee:variables>
        <ee:set-variable variableName="searchString">
          <![CDATA[%dw 2.0
import * from dw::core::Strings
output application/json
---
attributes.queryParams.'searchString' replace /[&|!(){}\[\]^"~*?:\\'+\-]/ with("")]]>
        </ee:set-variable>
        <ee:set-variable variableName="region">
                    					
          
          <![CDATA[attributes.queryParams.'region']]>
                    				
        
        </ee:set-variable>
        <ee:set-variable variableName="page">
          <![CDATA[attributes.queryParams.'page' default 1]]>
        </ee:set-variable>
        <ee:set-variable variableName="pageSize">
          <![CDATA[attributes.queryParams.'pageSize' default 8]]>
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
    <choice doc:name="Choice">
      <when expression="#[isEmpty(vars.region)]">
        <set-variable value="" variableName="regionQueryCondition"></set-variable>
      </when>
      <otherwise>
        <set-variable value="#[' AND Account.Region__c = \'' ++ (vars.region default '') ++ '\'']" variableName="regionQueryCondition"></set-variable>
      </otherwise>
    </choice>

    <!-- First SOSL query to get total count -->
    <choice doc:name="Choice" doc:id="6c9d8b1d-4076-42d8-8d96-b8ba6b774ee2" >
			<when expression="#[isEmpty(vars.searchString)]">
				<set-variable value="SEARCH:BAD_REQUEST" doc:name="Set Custom Error Type" doc:id="93817aa7-88f2-480e-b17e-172c65934d04" variableName="errorCustomType" />
				<set-variable value="`searchString` is empty or includes only special characters" doc:name="Set Custom Error Message" doc:id="2bd394d4-e6fc-4155-ae4b-f7de594c0286" variableName="errorCustomMessage" />
				<set-variable value="400" doc:name="Set Status Code" doc:id="0c98deb5-8566-4366-832d-f7f2ca65ed3e" variableName="httpStatus" />
				<raise-error doc:name="Raise error1" doc:id="5ddc84e5-66a7-4edb-a986-c4990d471b8e" type="CUSTOM:CUSTOM_ERROR" description="Something went while performing a search." />
			</when>
			<when expression="#[sizeOf(vars.searchString) == 1]">
				<set-variable value="SEARCH:BAD_REQUEST" doc:name="Set Custom Error Type" doc:id="907c8a99-990b-43e2-a2a9-90a8d01f14b7" variableName="errorCustomType" />
				<set-variable value="`searchString` must be more than 1 character after cleaning from special characters." doc:name="Set Custom Error Message" doc:id="0617dfe4-bb94-47de-993c-547978c7ef6e" variableName="errorCustomMessage" />
				<set-variable value="422" doc:name="Set Status Code" doc:id="dd0a4f31-e1a3-49ed-ba19-dfdfba7d1fd2" variableName="httpStatus" />
				<raise-error doc:name="Raise error1" doc:id="23438120-62a7-4e1c-8dfe-e517777ff937" type="CUSTOM:CUSTOM_ERROR" description="Something went while performing a search." />
			</when>
		</choice>
		<salesforce:search config-ref="Salesforce_Config" doc:id="count-query" doc:name="Get Total Count">
      <salesforce:search-string><![CDATA[
          FIND { :searchString } 
          IN NAME FIELDS 
          RETURNING 
          Contact(Id WHERE Contact_Type__c = 'SCORES Student' :regionQuery)
        ]]>
      </salesforce:search-string>
      <salesforce:parameters><![CDATA[#[output application/java
---
{
  searchString: vars.searchString,
  regionQuery: vars.regionQueryCondition
}]]]>
      </salesforce:parameters>
    </salesforce:search>
    
    <set-variable value="#[sizeOf(payload.searchRecords)]" variableName="totalRecords" doc:name="Store Total Records"/>
    
    <!-- Main SOSL query with pagination -->
    <salesforce:search config-ref="Salesforce_Config" doc:id="f195a55e-9140-44b5-b60e-1809649ef0a3" doc:name="Search">
      <salesforce:search-string><![CDATA[
          FIND { :searchString } 
          IN NAME FIELDS 
          RETURNING 
          Contact(
            Id,
            Contact_Type__c,
            RecordTypeId,
            FirstName,
            MiddleName,
            LastName,
            AccountId,
            Account.Region__c,
            School_Attending__c,
            Email,
            HomePhone,
            Birthdate,
            Gender__c,
            Grade__c,
            Level__c,
            Ethnicity__c,
            Permission_to_Commute_Alone__c,
            Reduced_Price_Lunch__c,
            Allergies__c,
            External_Student_ID__c,
            External_Student_DB__c,
            Parent_First_Name__c,
            Parent_Last_Name__c,
            Parent_Email_Address__c,
            Parent_Relationship_to_Child__c,
            Parent_Phone_01__c,
            Parent_Phone_02__c,
            Parent_Phone_03__c,
            MailingStreet,
            MailingCity,
            MailingState,
            MailingPostalCode,
            MailingCountry,
            Parent_English_Fluency__c,
            Parent_Home_Language__c,
            Parent_Other_Language__c,
            Volunteer_for_this_Program_Parent__c,
            Emergency_Contact_Name__c,
            Emergency_Contact_Relationship_to_Child__c,
            Emergency_Contact_Name_Phone_01__c,
            Emergency_Contact_Name_Phone_02__c,
            Emergency_Contact_Name_Phone_03__c,
            Emergency_Contact_Permission_to_Pick_Up__c,
            Second_Emergency_Contact_Name__c,
            Second_Emerg_Contact_Relationship_Child__c,
            Second_Emergency_Phone_01__c,
            Second_Emergency_Phone_02__c,
            Second_Emergency_Phone_03__c,
            Second_Emergency_Permission_to_Pick_Up__c,
            Liability__c,
            Media_Release__c,
            Data_Release__c,
            Student_Record_Complete__c,
            Year_of_Reference_for_Grade_Information__c,
            Grades_child_participated__c,
            Latest_Waiver_Date__c
          WHERE 
            Contact_Type__c = 'SCORES Student'
            :regionQuery
          LIMIT :pageSize
          OFFSET :offset
          ) 
        ]]>
      </salesforce:search-string>
      <salesforce:parameters><![CDATA[#[output application/java
---
{
  searchString: vars.searchString,
  regionQuery: vars.regionQueryCondition,
  pageSize: vars.pageSize,
  offset: (vars.page - 1) * vars.pageSize
}]]]>
      </salesforce:parameters>
    </salesforce:search>

    <flow-ref name="retrieve-latest-enrollment-based-on-payload-with-contacts" doc:name="Call External Flow to Retrieve all Latest Sites" />
    
    <ee:transform doc:id="finalTransform" doc:name="Transform Final Response">
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
var totalPages = ceil(vars.totalRecords / vars.pageSize)
---
{
    contacts: payload.searchRecords map ( payload01 , indexOfPayload01 ) -> {
        Id: payload01.record.Id as String default "",
        ContactType: payload01.record.Contact_Type__c as String default "",
        ContactRecordType: payload01.record.RecordTypeId as String default "",
        FirstName: payload01.record.FirstName as String default "",
        MiddleName: payload01.record.MiddleName as String default "",
        LastName: payload01.record.LastName as String default "",
        SchoolSiteId: payload01.record.AccountId as String default "",
        SchoolName: payload01.record.School_Attending__c as String default "",
        Region: payload01.record.Account.Region__c as String default "",
        PersonalEmail: payload01.record.Email as String default "",
        HomePhone: payload01.record.HomePhone as String default "",
        Birthdate: payload01.record.Birthdate as String default "",
        Gender: payload01.record.Gender__c as String default "",
        Grade: payload01.record.Grade__c as String default "",
        K12GradeLevel: payload01.record.Level__c as String default "",
        Ethnicity: payload01.record.Ethnicity__c as String default "",
        PermissiontoCommuteAlone: payload01.record.Permission_to_Commute_Alone__c as String default "",
        ReducedPriceLunch: payload01.record.Reduced_Price_Lunch__c as String default "",
        Allergies: payload01.record.Allergies__c as String default "",
        ExternalStudentId: payload01.record.External_Student_ID__c as String default "",
        ExternalStudentIdSource: payload01.record.External_Student_DB__c as String default "",
        ParentFName: payload01.record.Parent_First_Name__c as String default "",
        ParentLName: payload01.record.Parent_Last_Name__c as String default "",
        ParentEmail: payload01.record.Parent_Email_Address__c as String default "",
        Relationship: payload01.record.Parent_Relationship_to_Child__c as String default "",
        ParentPhone1: payload01.record.Parent_Phone_01__c as String default "",
        ParentPhone2: payload01.record.Parent_Phone_02__c as String default "",
        ParentPhone3: payload01.record.Parent_Phone_03__c as String default "",
        MailingStreet: payload01.record.MailingStreet as String default "",
        MailingCity: payload01.record.MailingCity as String default "",
        MailingState: payload01.record.MailingState as String default "",
        MailingZip: payload01.record.MailingPostalCode as String default "",
        MailingCountry: payload01.record.MailingCountry as String default "",
        ParentEnglishFluency: payload01.record.Parent_English_Fluency__c as String default "",
        ParentHomeLang: payload01.record.Parent_Home_Language__c as String default "",
        OtherLang: payload01.record.Parent_Other_Language__c as String default "",
        Volunteer: payload01.record.Volunteer_for_this_Program_Parent__c as String default "",
        Emergency_Contact_Name: payload01.record.Emergency_Contact_Name__c as String default "",
        Emergency_Contact_Relationship: payload01.record.Emergency_Contact_Relationship_to_Child__c as String default "",
        Emergency_Contact_Phone1: payload01.record.Emergency_Contact_Name_Phone_01__c as String default "",
        Emergency_Contact_Phone2: payload01.record.Emergency_Contact_Name_Phone_02__c as String default "",
        Emergency_Contact_Phone3: payload01.record.Emergency_Contact_Name_Phone_03__c as String default "",
        Emergency_Contact_Permission_to_Pickup_child: payload01.record.Emergency_Contact_Permission_to_Pick_Up__c as String default "",
        Second_Emergency_Contact_Name: payload01.record.Second_Emergency_Contact_Name__c as String default "",
        Second_Emergency_Contact_Relationship: payload01.record.Second_Emerg_Contact_Relationship_Child__c as String default "",
        Second_Emergency_Contact_Phone1: payload01.record.Second_Emergency_Phone_01__c as String default "",
        Second_Emergency_Contact_Phone2: payload01.record.Second_Emergency_Phone_02__c as String default "",
        Second_Emergency_Contact_Phone3: payload01.record.Second_Emergency_Phone_03__c as String default "",
        Second_Emergency_Contact_Permission_to_Pickup_child: payload01.record.Second_Emergency_Permission_to_Pick_Up__c as String default "",
        LiabilityWaiver: payload01.record.Liability__c as String default "",
        MediaReleaseWaiver: payload01.record.Media_Release__c as String default "",
        DataReleaseWaiver: payload01.record.Data_Release__c as String default "",
        StudentRecordComplete: payload01.record.Student_Record_Complete__c as Boolean default false,
        YearOfReferenceForGradeInformation: payload01.record.Year_of_Reference_for_Grade_Information__c as String default "",
        GradesChildParticipated: payload01.record.Grades_child_participated__c as String default "",
        LatestWaiverDate: payload01.record.Latest_Waiver_Date__c as String default "",
        LatestEnrolledEndDate: vars.contactResults[indexOfPayload01].LatestEnrolledEndDate as String default "",
        LatestEnrolledSiteId: vars.contactResults[indexOfPayload01].LatestEnrolledSiteId as String default "",
        LatestEnrolledSiteName: vars.contactResults[indexOfPayload01].LatestEnrolledSiteName as String default ""
    },
    totalPages: totalPages,
    currentPage: vars.page,
    pageSize: vars.pageSize,
    totalRecords: vars.totalRecords
}]]></ee:set-payload>
        </ee:message>
    </ee:transform>
  </flow>
</mule>
