src/main/mule/contact.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
    http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
    http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
    http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
    
    <flow name="get:\contact\enrollments:salesforce-data-api-config">
        <http:listener path="/test/contact/enrollments" config-ref="salesforce-data-api-httpListenerConfig" doc:name="Listener" doc:id="waipcp" allowedMethods="GET"/>
        
        <logger doc:name="Logger" doc:id="yspmgc" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]."/>
        
        <ee:transform doc:name="Transform" doc:id="omudff">
            <ee:variables>
                <ee:set-variable variableName="contactId"><![CDATA[attributes.queryParams['contactId']]]></ee:set-variable>
                <ee:set-variable variableName="schoolSiteName"><![CDATA[attributes.queryParams['schoolSiteName']]]></ee:set-variable>
                <ee:set-variable variableName="seasonName"><![CDATA[attributes.queryParams['seasonName']]]></ee:set-variable>
                <ee:set-variable variableName="teamSeasonName"><![CDATA[attributes.queryParams['teamSeasonName']]]></ee:set-variable>
                <ee:set-variable variableName="startDate"><![CDATA[attributes.queryParams['startDate']]]></ee:set-variable>
                <ee:set-variable variableName="endDate"><![CDATA[attributes.queryParams['endDate']]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        
        <ee:transform doc:name="Build Query" doc:id="build-query">
            <ee:variables>
                <ee:set-variable variableName="query">
                    <![CDATA[%dw 2.0
                    output application/java
                    var baseQuery = "SELECT Id, Team_Season__r.Id, Team_Season__r.Name, Team_Season__r.Season_Start_Date__c, Team_Season__r.Season_End_Date__c, Team_Season__r.Season__r.Name, Team_Season__r.Team__r.Id, Team_Season__r.Team__r.Name, Team_Season__r.Team__r.School_Site__r.Id, Team_Season__r.Team__r.School_Site__r.Acknowledgement_Listing_Name__c, Contact__r.Id FROM Enrollment__c WHERE Contact__r.Id = ':contactId'"
                    ---
                    baseQuery ++
                    (if (vars.schoolSiteName != null) " AND Team_Season__r.Team__r.School_Site__r.Acknowledgement_Listing_Name__c = ':schoolSiteName'" else "") ++
                    (if (vars.seasonName != null) " AND Team_Season__r.Season__r.Name = ':seasonName'" else "") ++
                    (if (vars.teamSeasonName != null) " AND Team_Season__r.Name = ':teamSeasonName'" else "") ++
                    (if (vars.startDate != null) " AND Team_Season__r.Season_Start_Date__c >= :startDate" else "") ++
                    (if (vars.endDate != null) " AND Team_Season__r.Season_End_Date__c <= :endDate" else "")
                    ]]>
                </ee:set-variable>
            </ee:variables>
        </ee:transform>
        
        <salesforce:query config-ref="Salesforce_Config" doc:name="Query" doc:id="kpgdxo">
            <salesforce:salesforce-query><![CDATA[#[vars.query]]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
            ---
            {
                contactId: vars.contactId,
                schoolSiteName: vars.schoolSiteName,
                seasonName: vars.seasonName,
                teamSeasonName: vars.teamSeasonName,
                startDate: vars.startDate,
                endDate: vars.endDate
            }]]]></salesforce:parameters>
        </salesforce:query>
        
        <ee:transform doc:name="Transform" doc:id="fhzmqe">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                output application/json
                ---
                if (isEmpty(payload)) null
                else payload map (payload01) -> {
                    Id: payload01.Id,
                    TeamSeasonId: payload01.Team_Season__r.Id,
                    TeamSeasonName: payload01.Team_Season__r.Name,
                    StartDate: payload01.Team_Season__r.Season_Start_Date__c,
                    EndDate: payload01.Team_Season__r.Season_End_Date__c,
                    SeasonName: payload01.Team_Season__r.Season__r.Name,
                    TeamID: payload01.Team_Season__r.Team__r.Id,
                    TeamName: payload01.Team_Season__r.Team__r.Name,
                    SchoolSiteId: payload01.Team_Season__r.Team__r.School_Site__r.Id,
                    SchoolSiteName: payload01.Team_Season__r.Team__r.School_Site__r.Acknowledgement_Listing_Name__c
                }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <logger level="INFO" doc:id="wqjvkd" message="#[payload]" />
        <flow-ref name="exit-flow"/>    
    </flow>
</mule>
