src/main/mule/enrollments.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="get:\enrollments:salesforce-data-api-config">
		<logger
			level="INFO"
			doc:name="Log entry-flow"
			doc:id="a8d6722e-a64a-4d68-ac47-3718fb9ee749"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform
			doc:name="Store Query parameters"
			doc:id="f5867837-c4a9-437c-aeb9-1c5ca0bce923">
			<ee:variables>
				<ee:set-variable variableName="teamSeasonId"><![CDATA[attributes.queryParams.'teamSeasonId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query
			doc:name="Select Query with TeamSeasonId"
			doc:id="9f6ac8f1-ada4-456d-904c-03c83492a719"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[
			SELECT 
				Contact__r.Name,
				Contact__r.FirstName,
				Contact__r.LastName,
				Contact__r.Birthdate,
				Contact__r.Gender__c,
				Contact__r.Ethnicity__c,
				Contact__r.Zip_First_Five_Digits__c,
				Contact__r.Parent_Email_Address__c,
				Contact__r.Parent_First_Name__c,
				Contact__r.Parent_Last_Name__c,
				Contact__c,
				End_Date__c,
				Id,
				Name,
				Number_of_Enrollments__c,
				Start_Date__c,
				Team_Season__c,
				Dropped__c,
				Drop_Reason__c
			FROM 
				Enrollment__c 
			WHERE 
				Team_Season__c = ':teamSeasonId'
			]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	teamSeasonId : vars.teamSeasonId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:name="Create Response"
			doc:id="351e5ffc-51e1-480a-bf8f-93be4f4c035a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	EnrollmentId: payload01.Id default "",
	EnrollmentName: payload01.Name default "",
	StartDate: payload01.Start_Date__c default "",
	EndDate: payload01.End_Date__c default "",
	TeamSeasonId: payload01.Team_Season__c default "",
	StudentId: payload01.Contact__c default "",
	StudentName: payload01.Contact__r.Name default "",
	FirstName: payload01.Contact__r.FirstName,
	LastName: payload01.Contact__r.LastName,
	Birthdate: payload01.Contact__r.Birthdate default "",
	Gender: payload01.Contact__r.Gender__c default "",
	Ethnicity: payload01.Contact__r.Ethnicity__c default "",
	ZipCode: payload01.Contact__r.Zip_First_Five_Digits__c default "",
	ParentEmail: payload01.Contact__r.Parent_Email_Address__c default "",
	ParentFirstName: payload01.Contact__r.Parent_First_Name__c default "",
	ParentLastName: payload01.Contact__r.Parent_Last_Name__c default "",
	Dropped: payload01.Dropped__c as Boolean default false,
	DropReason: payload01.Drop_Reason__c default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger
			level="INFO"
			doc:name="Log Created Response"
			doc:id="23d190d2-b7d1-4e34-ac23-2b48a62d2b98"
			message="#[payload]" />
	</flow>
	<flow name="get:\enrollments\dropreasons:salesforce-data-api-config" doc:id="d609ae10-5ce1-43f1-8756-e09b41d942b2" >
		<salesforce:describe-sobject doc:name="Describe sobject" doc:id="657c0c7d-b832-4b3f-b28c-8a81eca2be28" config-ref="Salesforce_Config" type="Enrollment__c"/>
		<ee:transform doc:name="Transform Message" doc:id="d59d23e8-5f54-4874-9824-1f1392c37307" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
(
    payload.fields 
        filter (field) -> field.name == "Drop_Reason__c"
)[0].picklistValues 
    map (item) -> item.value]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow
		name="get:\enrollments\(enrollmentId):salesforce-data-api-config">
		<logger
			level="INFO"
			doc:name="Log entry-flow"
			doc:id="55e77cd2-a3a4-4a37-9688-baa2c04a5337"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform>
			<ee:variables>
				<ee:set-variable variableName="enrollmentId">attributes.uriParams.'enrollmentId'
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query
			doc:name="Select Query with EnrollmentId"
			doc:id="f260dbdf-78c5-466a-aa34-d2d71296302a"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[
			SELECT 
				Contact__r.Name,
				Contact__r.FirstName,
				Contact__r.LastName,
				Contact__r.Birthdate,
				Contact__r.Gender__c,
				Contact__r.Ethnicity__c,
				Contact__r.Zip_First_Five_Digits__c,
				Contact__c,
				End_Date__c,
				Id,
				Name,
				Number_of_Enrollments__c,
				Start_Date__c,
				Team_Season__c,
				Dropped__c,
				Drop_Reason__c
			FROM 
				Enrollment__c 
			WHERE 
				Id = ':enrollmentId'
			]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
				---
				{
					enrollmentId : vars.enrollmentId
				}]]]>
			</salesforce:parameters>
		</salesforce:query>
		<ee:transform
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:name="Create Response"
			doc:id="5194d465-d73d-4f19-a5c9-252f50062a57">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
					output application/json
					---
					payload map ( payload01 , indexOfPayload01 ) -> {
						EnrollmentId: payload01.Id default "",
						EnrollmentName: payload01.Name default "",
						StartDate: payload01.Start_Date__c default "",
						EndDate: payload01.End_Date__c default "",
						TeamSeasonId: payload01.Team_Season__c default "",
						StudentId: payload01.Contact__c default "",
						StudentName: payload01.Contact__r.Name default "",
						FirstName: payload01.Contact__r.FirstName,
						LastName: payload01.Contact__r.LastName,
						Birthdate: payload01.Contact__r.Birthdate default "",
						Gender: payload01.Contact__r.Gender__c default "",
						Ethnicity: payload01.Contact__r.Ethnicity__c default "",
						ZipCode: payload01.Contact__r.Zip_First_Five_Digits__c default "",
						Dropped: payload01.Dropped__c as Boolean default false,
						DropReason: payload01.Drop_Reason__c default ""
					}]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response" doc:id="1cee3392-3963-4ed2-b6d9-17b8509d2102" message="Post Query payload: #[payload]" />
		<choice
			doc:name="Get enrollment successful?"
			doc:id="ee82b0c8-2c07-4456-a51a-80fba2c1f448">
			<when expression="#[payload != null and sizeOf(payload) != 0]">
				<ee:transform 
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" 
					doc:name="Success Response" 
					doc:id="291c1946-dfea-4dd5-aaba-c30b5a5b4311">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
							output application/json
							---
							payload map ( payload01 , indexOfPayload01 ) -> {
								EnrollmentId: payload01.EnrollmentId default "",
								EnrollmentName: payload01.EnrollmentName default "",
								StartDate: payload01.StartDate default "",
								EndDate: payload01.EndDate default "",
								TeamSeasonId: payload01.TeamSeasonId default "",
								StudentId: payload01.StudentId default "",
								StudentName: payload01.StudentName default "",
								FirstName: payload01.FirstName,
								LastName: payload01.LastName,
								Birthdate: payload01.Birthdate default "",
								Gender: payload01.Gender default "",
								Ethnicity: payload01.Ethnicity default "",
								ZipCode: payload01.ZipCode default "",
								Dropped: payload01.Dropped as Boolean default false,
								DropReason: payload01.DropReason default ""
							}]]>
						</ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[200]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
        	</when>
			<otherwise>
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
					doc:name="Failure Response"
					doc:id="291c1937-dfea-4dd5-aaba-c30n5a5b4311">
					<ee:message>
						<ee:set-payload>
							<![CDATA[%dw 2.0
							output application/json
							---
							{
								message: "Enrollment Not Found"
							}]]>
						</ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log Created Response" doc:id="1cee3392-3963-4ed2-a6d9-17b8509d2102" message="Post choice payload: #[payload]" />
	</flow>
	<flow
		name="patch:\enrollments\(enrollmentId):application\json:salesforce-data-api-config">
		<logger
			level="INFO"
			doc:name="Log entry-flow"
			doc:id="b1121d43-0492-48f0-b532-08e6d4f4271e"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store URI parameters">
			<ee:variables>
				<ee:set-variable variableName="enrollmentId">attributes.uriParams.'enrollmentId'
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform
			doc:name="Create Request"
			doc:id="a20684c0-fe26-41d8-84b5-2d2c46be497a">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Id: vars.enrollmentId,
	(Contact__c: payload.StudentId) if payload.StudentId != null,
	(Start_Date__c: payload.StartDate as Date {format: 'yyyy-MM-dd'}) if payload.StartDate != null,
	(End_Date__c: payload.EndDate as Date {format: 'yyyy-MM-dd'}) if payload.EndDate != null,
	(Team_Season__c: payload.TeamSeasonId) if payload.TeamSeasonId != null,
	(Dropped__c: payload.Dropped) if payload.Dropped != null,
	(Drop_Reason__c: payload.DropReason) if payload.DropReason != null
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update
			type="Enrollment__c"
			doc:name="Update"
			doc:id="db1b614e-3b4c-4db6-8195-a6e9617257e4"
			config-ref="Salesforce_Config" />
		<choice doc:name="Update successful?" doc:id="24b97665-02fd-4dec-bbf7-285f710ea489">
			<when expression="#[payload.successful == false]">
				<set-variable value="#['SALESFORCE_ENROLLMENT_UPDATE:' ++ (payload.items[0].statusCode default 'UNKNOWN')]" doc:name="Set Custom Error Type" doc:id="b9040877-1f5b-4788-a786-b5384e68f239" variableName="errorCustomType" />
				<set-variable value="#[payload.items[0].message default 'Unknown Error']" doc:name="Set Custom Error Message" doc:id="7c6fec7f-dbc4-46a3-917a-183fd5bc796b" variableName="errorCustomMessage" />
				<raise-error doc:name="Raise error" doc:id="844ccc3d-6ada-4719-aa14-1fad90ea1000" type="CUSTOM:CUSTOM_ERROR" description="Something went wrong while updating an enrollment record." />
			</when>
		</choice>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Create Response" doc:id="5cd8fa6a-e3d1-44de-9625-aff048e5fc8f">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Enrollment updated"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<logger
			level="INFO"
			doc:name="Log Created Response"
			doc:id="50386ceb-cbfa-4696-9f94-075d5988da4e"
			message="#[payload]" />
	</flow>
	<flow
		name="post:\enrollments:application\json:salesforce-data-api-config">
		<logger
			level="INFO"
			doc:name="Log entry-flow"
			doc:id="25577e3c-d4c3-4199-87c9-3fec4a57d452"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform
			doc:name="Create Request"
			doc:id="1f1221b0-bd99-4433-be65-5159dd3955a6">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Contact__c: payload.StudentId,
	Team_Season__c: payload.TeamSeasonId,
	(Start_Date__c: payload.StartDate as Date {format: 'yyyy-MM-dd'}) if payload.StartDate != null,
	(End_Date__c: payload.EndDate as Date {format: 'yyyy-MM-dd'}) if payload.EndDate != null,
	(Dropped__c: payload.Dropped) if payload.Dropped != null,
	(Drop_Reason__c: payload.DropReason) if payload.DropReason != null
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<until-successful maxRetries="5" doc:name="Until Successful" doc:id="5b2baa1f-a36c-4ca0-a4fa-9c6b033f132d" millisBetweenRetries="2500">
			<salesforce:create type="Enrollment__c" doc:name="Create" doc:id="c3404357-77e8-49ee-80c6-499595b2b643" config-ref="Salesforce_Config" />
			<choice doc:name="Enrollment creation successful?" doc:id="ee82b0c8-2c09-4456-a51a-80fba2c1e448">
			<when expression="#[payload.items[0].successful == false]">
				<set-variable value="#['SALESFORCE_ENROLLMENT_CREATE:' ++ (payload.items[0].statusCode default 'UNKNOWN')]" doc:name="Set Custom Error Type" doc:id="d5c68077-bb4c-4245-b6c5-68396295759c" variableName="errorCustomType" />
				<set-variable value="#[payload.items[0].message default 'Unknown Error']" doc:name="Set Custom Error Message" doc:id="f52e5839-b9ee-4a28-8944-62b63c974bc6" variableName="errorCustomMessage" />
				<raise-error doc:name="Raise error" doc:id="20ccb42b-2476-402d-a634-7c7ae8243959" type="CUSTOM:CUSTOM_ERROR" description="Something went wrong while creating an enrollment record. " />
			</when>
			<otherwise>
				<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Create Response" doc:id="291c1936-dfea-4dd5-aaba-c30a5a5b4311">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  EnrollmentId: payload.items[0].id
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		</until-successful>
		<logger
			level="INFO"
			doc:name="Log Created Response"
			doc:id="c5b7c4fb-80e0-4c5c-8188-96caf7a2754b"
			message="#[payload]" />
	</flow>

	<!-- delete flow -->
	<flow name="delete:\enrollments:application\json:salesforce-data-api-config" doc:id="7f025bf8-4fc6-4557-9905-879b551ef142" >
		<logger level="INFO" doc:name="Log entry-flow" doc:id="e19144a5-1de4-48e7-ba5c-6fd97100f910" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]." />
		<ee:transform doc:name="Transform Message" doc:id="f73ccde1-d7ca-41d8-90a1-d9feeb9f4fd1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
					output application/java
					---
					payload map ( payload01 , indexOfPayload01 ) -> {
						Id: payload01.EnrollmentId
					}]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:delete doc:name="Delete" doc:id="85d7c28c-124a-472b-bfa1-541ab9396aff" config-ref="Salesforce_Config">
			<salesforce:ids ><![CDATA[#[payload.Id]]]></salesforce:ids>
		</salesforce:delete>
		<ee:transform doc:name="Transform Message" doc:id="903290a7-d881-492c-801e-80979a824387">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
					output application/json
					---
					payload]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>
        <logger level="INFO" message='Post delete payload: #[payload]' doc:name="Logger" doc:id="vvxdmx" />
		<choice
			doc:name="Enrollment deletion successful?"
			doc:id="ee82b0c8-2c07-4456-a51a-80fba2c1e448">
			<when expression="#[payload.successful]">
				<ee:transform 
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" 
					doc:name="Success Response" 
					doc:id="291c1946-dfea-4dd5-aaba-c30a5a5b4311">
					<ee:message>
						<ee:set-payload>
							<![CDATA[%dw 2.0
							output application/json
							---
							{
								message: "Enrollment/s deleted successfully"
							}]]>
						</ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[200]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
        	</when>
			<when expression="#[sizeOf(payload.items) == sizeOf(payload.items filter ((item) -> item.successful == false))]">
				<ee:transform
					doc:name="Create Error Response"
					doc:id="aab7a4b8-dfff-4774-bf3e-acdbb63ea782">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
							output application/json
							---
							{
								message: "Enrollment/s Not Found"
							}]]>
						</ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
					doc:name="Partial Success Response"
					doc:id="291c1937-dfea-4dd5-aaba-c30a5a5b4311">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
							output application/json
							---
							{
								message: "Partial Success",
								deleted: payload.items filter ((item) -> item.payload.success == true) map ((item) -> item.payload.id),
								not_found: payload.items filter ((item) -> item.payload.success == false) map ((item) -> if (item.payload.id == null) "unknown id" else item.payload.id)
							}]]>
						</ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[206]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log Created Response" doc:id="1cee3392-3963-4ec2-a6d9-17b8509d2102" message="#[payload]" />
		<!-- <set-property propertyName="http.status" value="#[vars.httpStatus]" doc:name="Set HTTP Status" /> -->
	</flow>
</mule>