src/main/mule/main-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:slack="http://www.mulesoft.org/schema/mule/slack" xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd http://www.mulesoft.org/schema/mule/slack http://www.mulesoft.org/schema/mule/slack/current/mule-slack.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="salesforce-data-api-main">
        <http:listener config-ref="salesforce-data-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <flow-ref doc:name="Log Request" doc:id="ce9341aa-9abd-4901-9611-5d9f679bfbc9" name="entry-flow"/>
		<apikit:router config-ref="salesforce-data-api-config" />
        <flow-ref doc:name="Log Response" doc:id="553e8f82-198b-4c48-829e-7117c3c7634d" name="exit-flow"/>
		<error-handler>
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="67896d39-b9c7-4032-9762-8194362c31d7" type="ANY">
				<flow-ref doc:name="Flow Reference: Slack" doc:id="896efe21-12cb-4b19-a8a6-5187095bed6e" name="global-error-handler" />
				<ee:transform doc:name="Transform Message" doc:id="d28db679-7c68-4a68-9b07-21c7e09dec6d" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
                            output application/json
                            ---
                            {
	                            message: "An unknown error occurred.",
	                            error: (error.description default ""),
	                            detailedError: (error.detailedDescription default ""),
	                            errorType: "Global Error Handler: " ++ (error.errorType.namespace default "") ++ ":" ++ (error.errorType.identifier default "")
                            }
                            ]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
        </error-handler>
    </flow>
    <flow name="global-error-handler" doc:id="a1be3754-f0ea-41f0-abcb-137e877e5b4d">
		<choice doc:name="Choice: " doc:id="f9d0778b-d45e-4b67-89b6-cf6b1ffed3af" >
			<when expression="#[p('slack.enabled')]">
				<slack:create-chatpost-message doc:name="Send Slack Message" doc:id="b991cd72-5997-4e02-ad87-a324cfcfa707" config-ref="Slack_Connector_Config">
				<slack:chatpost-message-content><![CDATA[#[%dw 2.0
			import p from Mule
			output application/json
			---
			{
			    channel: "mule-api-" ++ p('env') ++ "-errors",
			    text: "🚨 *Error Notification* 🚨",
			    blocks: [
			        {
			            "type": "section",
			            text: {
			                "type": "mrkdwn",
			                text: "🚨 *Error Notification* 🚨\n"
			                   ++ "*Environment:* " ++ p('env') ++ "\n" 
			                   ++ "*Endpoint:* `" ++ (attributes.method default "N/A") ++ " " ++ (attributes.maskedRequestPath default "N/A") ++ "`\n"
			                   ++ "*Timestamp:* " ++ (now() as String {format: "yyyy-MM-dd'T'HH:mm:ssZ"}) ++ "\n"
			                   ++ "*Query Parameters:* " ++ (attributes.queryString default "N/A") ++ "\n"
			                   ++ "*Error Type:* " ++ (error.errorType.namespace default "") ++ ":" ++ (error.errorType.identifier default "") ++ "\n"
			                   ++ "*Error Message:* " ++ (error.description default "N/A") ++ "\n"
			                   ++ "*Detailed Description:* " ++ (error.detailedDescription default "N/A") ++ "\n"
			                   ++ "*Source:* " ++ (error.dslSource default "N/A")
			                   ++ (
			                       if (!isEmpty(vars.originalPayload)) 
			                       "\n*Payload Attached:* ```" ++ (write(vars.originalPayload, "application/json") default "No payload available") ++ "```"
			                       else ""
			                   )
			            }
			        }
			    ]
			}]]]></slack:chatpost-message-content>
		</slack:create-chatpost-message>
			</when>
		</choice>
	</flow>
	<flow name="salesforce-data-api-console">
        <http:listener config-ref="salesforce-data-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="salesforce-data-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
                            output application/json
                            ---
                            {message: "Resource not found"}]]>
                        </ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <sub-flow name="entry-flow" doc:id="077e2d7c-81f0-4362-a3da-541e9c96751f">
        <logger level="INFO" doc:name="Log request" doc:id="1ca2fef3-57b9-433a-9b11-4d18746f8931" message="Request received for #[attributes.method] #[attributes.requestPath] - Payload #[payload]" />
        <ee:transform doc:name="Store request path and method">
            <ee:variables>
                <ee:set-variable variableName="requestPath"><![CDATA[attributes.requestPath]]></ee:set-variable>
                <ee:set-variable variableName="method"><![CDATA[attributes.method]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
		<set-variable value="#[payload]" doc:name="Save Original Payload" doc:id="9e486dc6-e2af-4cb4-9b3d-4148dd2cfdb3" variableName="originalPayload"/>
    </sub-flow>
    <sub-flow name="exit-flow" doc:id="748c4e8c-e935-4b46-83ec-a963f8551eb9">
        <logger level="INFO" doc:name="Log response" doc:id="f07808f1-2396-4154-8ad1-64e2761b6f01" message="Sending response for #[vars.method] #[vars.requestPath] - #[payload]" />
    </sub-flow>
    <sub-flow name="message-for-not-implemented-endpoints" doc:id="a1961882-e708-4003-b210-b63b6b3032c1">
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    ---
                    {message: "Not implemented yet"}]]>
                </ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="httpStatus">501</ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>
    <flow name="patch:\assessment\(assessmentId):application\json:salesforce-data-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="assessmentId">attributes.uriParams.'assessmentId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                        output application/json
                        ---
                        {message: "Assessment updated"}]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\sessions\(sessionId)\assessments:salesforce-data-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="sessionId">attributes.uriParams.'sessionId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    ---
                    { message: "bad request" }]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\assessment\(studentId):salesforce-data-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="studentId">attributes.uriParams.'studentId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    ---
                    { message: "Error retrieving enrollments"
                    }]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="patch:\assessments\(studentId)\(assessmentId):application\json:salesforce-data-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="studentId">attributes.uriParams.'studentId'</ee:set-variable>
                <ee:set-variable variableName="assessmentId">attributes.uriParams.'assessmentId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                    message: "Assessment updated"
                    }]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\assessments\(studentId):salesforce-data-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="studentId">attributes.uriParams.'studentId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                    message: "Error retrieving enrollments"
                    }]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\useraccount:salesforce-data-api-config">
        <logger level="INFO" message="get:\useraccount:salesforce-data-api-config" />
    </flow>
    <flow name="post:\sessions\(sessionId)\assessment:application\json:salesforce-data-api-config">
        <ee:transform>
            <ee:variables>
                <ee:set-variable variableName="sessionId">attributes.uriParams.'sessionId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
                    output application/json
                    ---
                    {
                    message: "assessment created"
                    }]]>
                </ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
