src/main/mule/salesforce-data-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:json="http://www.mulesoft.org/schema/mule/json"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties"
	xmlns:slack="http://www.mulesoft.org/schema/mule/slack"
	xmlns:xml-module="http://www.mulesoft.org/schema/mule/xml-module"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd http://www.mulesoft.org/schema/mule/xml-module http://www.mulesoft.org/schema/mule/xml-module/current/mule-xml-module.xsd http://www.mulesoft.org/schema/mule/slack http://www.mulesoft.org/schema/mule/slack/current/mule-slack.xsd">
	<http:listener-config
		name="salesforce-data-api-httpListenerConfig">
		<http:listener-connection host="${http.host}"
			port="${http.private.port}" />
	</http:listener-config>
	<apikit:config name="salesforce-data-api-config"
		api="resource::6c091e72-50d1-49ac-b04d-ee5bb9bc9dbd:salesforce-data-api:3.0.26:raml:zip:salesforce-data-api.raml"
		outboundHeadersMapName="outboundHeaders"
		httpStatusVarName="httpStatus" />
	<salesforce:sfdc-config name="Salesforce_Config"
		doc:name="Salesforce Config"
		doc:id="012e809f-72bb-49a5-b21f-28fa4b364ab3">
		<salesforce:basic-connection
			username="${sfdc.user}" password="${sfdc.password}"
			securityToken="${sfdc.tkn}" url="${sfdc.url}" />
	</salesforce:sfdc-config>
	<configuration-properties
		doc:name="Configuration properties"
		doc:id="7c250965-7498-46d2-a4cf-47c6cca0411c"
		file="properties/${env}.properties" />
	<flow name="salesforce-data-api-main">
		<http:listener
			config-ref="salesforce-data-api-httpListenerConfig"
			path="/api-internal/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:router config-ref="salesforce-data-api-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:BAD_REQUEST">
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">400
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">404
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:METHOD_NOT_ALLOWED">
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">405
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">406
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate
				type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">415
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus">501
						</ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate"
				doc:id="5252c67b-0ef0-42ed-b2d5-6d7fdd7c034b"
				type="CREATECONTACT:CONFLICT">
				<ee:transform doc:name="Transform Message"
					doc:id="9bc7953f-4cbc-411c-9635-dc532f6bfdf5"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[501]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</on-error-propagate>
			<on-error-propagate enableNotifications="true"
				logException="true" doc:name="On Error Propagate"
				doc:id="86924e80-2f5a-4d51-91e9-a122267fd4d1"
				type="MULE:RETRY_EXHAUSTED">
				<ee:transform doc:name="Transform Message"
					doc:id="b39ada89-27d0-4d94-89cf-4560a5f8158a">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.items.*payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</on-error-propagate>
		</error-handler>
	</flow>
	<flow name="salesforce-data-api-console">
		<http:listener
			config-ref="salesforce-data-api-httpListenerConfig" path="/console/*">
			<http:response
				statusCode="#[vars.httpStatus default 200]">
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:response>
			<http:error-response
				statusCode="#[vars.httpStatus default 500]">
				<http:body>#[payload]</http:body>
				<http:headers>#[vars.outboundHeaders default {}]</http:headers>
			</http:error-response>
		</http:listener>
		<apikit:console config-ref="salesforce-data-api-config" />
		<error-handler>
			<on-error-propagate type="APIKIT:NOT_FOUND">
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <sub-flow name="entry-flow" doc:id="077e2d7c-81f0-4362-a3da-541e9c96751f">
        <logger level="INFO" doc:name="Log request" doc:id="1ca2fef3-57b9-433a-9b11-4d18746f8931" message="Request received for #[attributes.method] #[attributes.requestPath] - Payload #[payload]" />
        <ee:transform doc:name="Store request path and method">
            <ee:variables>
                <ee:set-variable variableName="requestPath"><![CDATA[attributes.requestPath]]></ee:set-variable>
                <ee:set-variable variableName="method"><![CDATA[attributes.method]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>
    <sub-flow name="exit-flow" doc:id="748c4e8c-e935-4b46-83ec-a963f8551eb9">
        <logger level="INFO" doc:name="Log response" doc:id="f07808f1-2396-4154-8ad1-64e2761b6f01" message="Sending response for #[vars.method] #[vars.requestPath] - #[payload]" />
    </sub-flow>
    <flow name="get:\coach\(coachId)\teamseasons:salesforce-data-api-config">
        <flow-ref doc:name="entry-flow" doc:id="82b50611-bf96-4408-bc9f-ce11e969853b" name="entry-flow" />
        <logger level="INFO" doc:name="Log entry-flow" doc:id="db2b444c-d384-4b60-a94b-5a4cedc87b30" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. Also for this request we have queryParam: date=#[attributes.queryParams[0]]" />
        <ee:transform doc:name="Store URI parameters" doc:id="ba85bd36-9eef-4b6a-8e4c-c013e46e8271">
            <ee:variables>
                <ee:set-variable variableName="coachId"><![CDATA[attributes.uriParams.'coachId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Log Stored URI Params" doc:id="8027a799-c637-4b02-8cd4-2ca51dd5a969" message="URI Param - coachId: #[vars.coachId] - stored as var " />
        <salesforce:query doc:name="Query" doc:id="c4a7d532-abc4-4dab-abe9-60d8bfaaa69c" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT Anticipated_Players_Enrollment__c,Coach_Soccer__c,Coach_Writing__c,Season__r.Id,CreatedById,CreatedDate,Date_Last_Session_Attended__c,Id,IsDeleted,LastActivityDate,LastModifiedById,LastModifiedDate,LastReferencedDate,LastViewedDate,Name,Number_of_Attendance_Completed__c,Number_of_Attendance_Incomplete__c,Number_of_Students_Absent__c,Number_of_Students_Present__c,Number_of_Team_Seasons__c,Partnership__c,Percent_of_Attendance_Completed__c,Percent_of_Students_Present__c,Schedule__c,School_Site__c,SCORES_Program_Coordinator__r.Name,SCORES_Program_Manager__r.Name,Season_End_Date__c,Season_Start_Date__c,Season__c,SystemModstamp,Team__c,Total_Number_of_Players__c,Total_Number_of_Sessions__c,Coach_Soccer__r.Name,Coach_Writing__r.Name,Team__r.Name,Season__r.Name,Team__r.School_Site__r.Region__c FROM Team_Season__c WHERE (Coach_Soccer__c = ':coachId' OR Coach_Writing__c = ':coachId' OR SCORES_Program_Coordinator__c = ':coachId' OR SCORES_Program_Manager__c = ':coachId')  AND (Season_Start_Date__c <= 2021-09-08 AND Season_End_Date__c >= 2021-09-08 ) ORDER BY Season_End_Date__c DESC]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	coachId : vars.coachId,
	date : attributes.queryParams.date
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:name="Create Response"
			doc:id="ee51a2d1-3e3a-4fbb-aedb-6cf116319685">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	SeasonStartDate: payload01.Season_Start_Date__c as String default "",
	TotalNoOfSessions: payload01.Total_Number_of_Sessions__c default 0,
	CoachWriting: payload01.Coach_Writing__r.Name default  "" as String,
	Partnership: payload01.Partnership__c default "",
	SeasonName: payload01.Season__r.Name default "" as String,
	TotalNoOfPlayers: payload01.Total_Number_of_Players__c default 0,
	TeamSeasonName: payload01.Name default "",
	CoachSoccer: payload01.Coach_Soccer__r.Name,
	TeamSeasonId: payload01.Id default "",
	TeamName: payload01.Team__r.Name default "" as String,
	SchoolSite: payload01.School_Site__c default "",
	SeasonEndDate: payload01.Season_End_Date__c as String default "",
	ScoresProgramManager: payload01.SCORES_Program_Manager__r.Name default  "" as String,
	ProgramCoordinator:  payload01.SCORES_Program_Coordinator__r.Name default  "" as String,
	Region: payload01.Team__r.School_Site__r.Region__c,
	SeasonId: payload01.Season__r.Id default "" as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="7d4746f9-9dc9-4598-9bc2-4599b8e2b7be" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="5fc85786-b9a4-4331-9601-903904e52064" name="exit-flow" />
	</flow>
	<flow
		name="get:\coach\(coachId)\teamseasons\(teamSeasonId)\sessions:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="be3843a3-1c41-4712-9459-43e9b393b6c0" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="55be03c4-09b5-4a1a-95ef-a24ed2008fbf"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. Also for this request we have queryParam: date=#[attributes.queryParams[0]]" />
		<ee:transform doc:name="Store URI parameters"
			doc:id="21103b85-d0a3-4a6c-949c-61d2eae5d2d2">
			<ee:variables>
				<ee:set-variable variableName="coachId"><![CDATA[attributes.uriParams.'coachId']]></ee:set-variable>
				<ee:set-variable variableName="teamSeasonId"><![CDATA[attributes.uriParams.'teamSeasonId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log Stored URI Params"
			doc:id="12fa02b2-d184-4129-8f1b-763187926e20"
			message="URI Param - coachId: #[vars.coachId] , teamseasonId: #[vars.teamSeasonId] - stored as vars" />
		<salesforce:query doc:name="Query"
			doc:id="e2c7a8f4-85c1-4108-be94-83f757bfde43"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT CreatedById,CreatedDate,Id,IsDeleted,LastActivityDate,LastModifiedById,LastModifiedDate,LastReferencedDate,LastViewedDate,Name,Number_of_Students_Absent__c,Number_of_Students_Present__c,Percent_of_Students_Present__c,Session_Date__c,Session_Topic__c,Session_Weekday__c,SystemModstamp,Team_Season__c FROM Session__c WHERE Team_Season__c = ':teamseasonid' AND (Team_Season__r.Coach_Soccer__c = ':coachid' OR Team_Season__r.Coach_Writing__c = ':coachid' OR Team_Season__r.SCORES_Program_Coordinator__c = ':coachid' OR Team_Season__r.SCORES_Program_Manager__c = ':coachid')]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	teamseasonid : vars.teamSeasonId,
	coachid : vars.coachId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Transform Message"
			doc:id="25ad8f74-7ff6-412b-b6d5-47a7c9a81a01">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	TeamSeasonId: vars.teamSeasonId,
	SessionId: payload01.Id default "",
	SessionName: payload01.Name default "",
	SessionDate: payload01.Session_Date__c as String default "",
	SessionTopic: payload01.Session_Topic__c default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="19aaf94d-5c4a-4481-8d9d-59a24c6e950c" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="87c1ea24-9a65-4fdf-9651-94d38ae6b8ee" name="exit-flow" />
	</flow>
	<flow name="get:\coach\(coachId)\all:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="a9ae0f9c-dfcc-4a12-be0d-6e329dfbe7b8" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="263e01d8-85d7-422a-b3fa-e4adf99f6ad5"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. Also for this request we have queryParam: date=#[attributes.queryParams[0]]" />
		<ee:transform doc:name="Store URI parameters"
			doc:id="6784dd16-d76e-4fa4-a526-ab370875d02b">
			<ee:variables>
				<ee:set-variable variableName="coachId"><![CDATA[attributes.uriParams.'coachId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log Stored URI Params"
			doc:id="3d3be5d0-aed9-491c-94ae-1172c08100e3"
			message="URI Param - coachId: #[vars.coachId] - stored as vars" />
		<choice doc:name="Choice"
			doc:id="3100b787-33bf-47c4-9eca-fd13cbb727db">
			<when expression="#[attributes.queryParams.secondDate != null]">
				<salesforce:query doc:name="Query with ranges"
					doc:id="f121388e-f35a-4eef-87be-f5bfdcd91479"
					config-ref="Salesforce_Config">
					<salesforce:salesforce-query><![CDATA[SELECT Id,Name,Team__r.Name, Season__r.Name, Total_Number_of_Players__c, Team__r.School_Site__r.Region__c, (SELECT Id, Name, Session_Topic__c, Session_Date__c From Sessions__r WHERE Session_Date__c >= :startDate AND Session_Date__c <= :endDate),(SELECT Id,Contact__r.Name,Contact__r.FirstName,Contact__r.LastName,Contact__r.Birthdate,Contact__r.Gender__c,Contact__r.Ethnicity__c,Contact__r.Zip_First_Five_Digits__c,Contact__c From Enrollments__r) FROM Team_Season__c WHERE (Coach_Soccer__c = ':coachid' OR Coach_Writing__c = ':coachid' OR SCORES_Program_Coordinator__c = ':coachid' OR SCORES_Program_Manager__c = ':coachid') AND (Season_Start_Date__c <= :endDate AND Season_End_Date__c >= :startDate)]]></salesforce:salesforce-query>
					<salesforce:parameters><![CDATA[#[output application/java
---
{
	endDate : attributes.queryParams.secondDate,
	coachid : vars.coachId,
	startDate : attributes.queryParams.firstDate
}]]]></salesforce:parameters>
				</salesforce:query>
			</when>
			<otherwise>
				<salesforce:query doc:name="Query"
					doc:id="30344094-f0f1-44d4-bdc9-9897cbc2a741"
					config-ref="Salesforce_Config">
					<salesforce:salesforce-query><![CDATA[SELECT Id,Name,Team__r.Name, Season__r.Name, Total_Number_of_Players__c, Team__r.School_Site__r.Region__c, (SELECT Id, Name, Session_Topic__c, Session_Date__c From Sessions__r WHERE Session_Date__c = :date),(SELECT Id,Contact__r.Name,Contact__r.FirstName,Contact__r.LastName,Contact__r.Birthdate,Contact__r.Gender__c,Contact__r.Ethnicity__c,Contact__r.Zip_First_Five_Digits__c,Contact__c From Enrollments__r) FROM Team_Season__c WHERE (Coach_Soccer__c = ':coachid' OR Coach_Writing__c = ':coachid' OR SCORES_Program_Coordinator__c = ':coachid' OR SCORES_Program_Manager__c = ':coachid') AND Season_Start_Date__c <= :date AND Season_End_Date__c >= :date]]></salesforce:salesforce-query>
					<salesforce:parameters><![CDATA[#[output application/java
---
{
	date : attributes.queryParams.firstDate,
	coachid : vars.coachId
}]]]></salesforce:parameters>
				</salesforce:query>
			</otherwise>
		</choice>
		<ee:transform
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:id="2e4560c3-3fd9-4697-9927-098a4fdc0436">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Enrollments: payload01.Enrollments__r map ( enrollmentsr , indexOfEnrollmentsr ) -> {
		EnrollmentId: enrollmentsr.Id,
		StudentName: enrollmentsr.Contact__r.Name,
		FirstName: enrollmentsr.Contact__r.FirstName,
		LastName: enrollmentsr.Contact__r.LastName,
		Birthdate: enrollmentsr.Contact__r.Birthdate default "",
		Gender: enrollmentsr.Contact__r.Gender__c default "",
		Ethnicity: enrollmentsr.Contact__r.Ethnicity__c default "",
		ZipCode: enrollmentsr.Contact__r.Zip_First_Five_Digits__c default "",
		StudentId: enrollmentsr.Contact__c
	},
	Sessions: payload01.Sessions__r map ( sessionsr , indexOfSessionsr ) -> {
		TeamSeasonId: payload01.Id,
		SessionId: sessionsr.Id,
		SessionName: sessionsr.Name,
		SessionDate: sessionsr.Session_Date__c as String,
		SessionTopic: sessionsr.Session_Topic__c
	},
	CoachSoccer: vars.coachId,
	CoachWriting: vars.coachId,
	TotalNoOfPlayers: payload01.Total_Number_of_Players__c default 0 as Number,
	TeamSeasonName: payload01.Name default "",
	TeamSeasonId: payload01.Id default "",
	Team_Name: payload01.Team__r.Name default "",
	Season_Name: payload01.Season__r.Name default "",
	Region: payload01.Team__r.School_Site__r.Region__c

}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="22b14f46-310f-4768-ab87-5128e5f11c61" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="1778e3a5-0c0f-4238-b272-a093a9306f18" name="exit-flow" />
	</flow>
	<flow
		name="get:\coach\(coachId)\teamseasons\(teamSeasonId)\enrollments:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="a0883b26-6773-4d5c-8d61-b8a8361f90e8" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="5f5fe59f-a13b-4ef1-9c1c-2772b5c7643c"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]." />
		<ee:transform doc:name="Store URI parameters"
			doc:id="6ad6fba9-9cc0-4bc5-9582-39a1a552e4d3">
			<ee:variables>
				<ee:set-variable variableName="coachId"><![CDATA[attributes.uriParams.'coachId']]></ee:set-variable>
				<ee:set-variable variableName="teamSeasonId"><![CDATA[attributes.uriParams.'teamSeasonId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log Stored URI Params"
			doc:id="5a22dfa1-fcbc-4f88-ad3a-107abbcaac12"
			message="URI Param - coachId: #[vars.coachId], teamseasonId: #[vars.teamSeasonId] - storfed as vars" />
		<salesforce:query doc:name="Query"
			doc:id="2938911f-53b8-43a5-a53e-14fca711003d"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT Contact__r.Name,Contact__r.FirstName,Contact__r.LastName,Contact__r.Birthdate,Contact__r.Gender__c,Contact__r.Ethnicity__c,Contact__r.Zip_First_Five_Digits__c,Contact__c,CreatedById,CreatedDate,End_Date__c,Id,IsDeleted,LastModifiedById,LastModifiedDate,LastReferencedDate,LastViewedDate,Name,Number_of_Enrollments__c,Start_Date__c,SystemModstamp,Team_Season__c FROM Enrollment__c WHERE Team_Season__c = ':teamseasonid' AND (Team_Season__r.Coach_Soccer__c = ':coachid' OR Team_Season__r.Coach_Writing__c = ':coachid' OR Team_Season__r.SCORES_Program_Coordinator__c = ':coachid' OR Team_Season__r.SCORES_Program_Manager__c = ':coachid')]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	teamseasonid : vars.teamSeasonId,
	coachid : vars.coachId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:id="f83b6a71-b77b-42de-871b-11e4a3508eb1">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	EnrollmentId: payload01.Id default "",
	EnrollmentName: payload01.Name default "",
	StudentId: payload01.Contact__c default "",
	StudentName: payload01.Contact__r.Name default "",
	FirstName: payload01.Contact__r.FirstName,
	LastName: payload01.Contact__r.LastName,
	Birthdate: payload01.Contact__r.Birthdate default "",
	Gender: payload01.Contact__r.Gender__c default "",
	Ethnicity: payload01.Contact__r.Ethnicity__c default "",
	ZipCode: payload01.Contact__r.Zip_First_Five_Digits__c default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="6d1746e6-35ac-4064-9cb3-03e2d2aa2dad" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="fc0d90c2-2581-49e2-aaef-d58ba1013d8e" name="exit-flow" />
	</flow>
	<flow
		name="post:\coach\(coachId)\teamseasons\(teamSeasonId)\sessions\(sessionId)\attendances:application\json:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="319d3747-39e8-43d4-a9c2-9afd1935dd5e" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="c341f736-e33b-41d9-9587-79be5aded28f"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]." />
		<ee:transform doc:name="Store URI parameters"
			doc:id="f711ee79-c3c7-4cdb-af46-28723e067b8f">
			<ee:variables>
				<ee:set-variable variableName="coachId"><![CDATA[attributes.uriParams.'coachId']]></ee:set-variable>
				<ee:set-variable variableName="teamSeasonId"><![CDATA[attributes.uriParams.'teamSeasonId']]></ee:set-variable>
				<ee:set-variable variableName="sessionId"><![CDATA[attributes.uriParams.'sessionId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log Stored URI Params"
			doc:id="89586974-34cf-4491-9ece-93f323634c60"
			message="URI Param - coachId: #[vars.coachId], teamseasonId: #[vars.teamSeasonId], sessionId: #[vars.sessionId] - stored as vars" />
		<salesforce:upsert doc:name="Upsert"
			doc:id="96226f7b-9c73-4b6c-80d2-bce874e4cfb2"
			config-ref="Salesforce_Config" objectType="Attendance__c"
			externalIdFieldName="ExternalId__c">
			<salesforce:records><![CDATA[#[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Contact__c: payload01.StudentId,
	Session__c: vars.sessionId,
	Attended__c: payload01.Attended,
	ExternalId__c: payload01.StudentId ++ '-' ++ vars.sessionId
}]]]></salesforce:records>
		</salesforce:upsert>
		<logger level="INFO" doc:name="Log Upsert"
			doc:id="3e70143c-8c88-4080-95ad-7efe4bd82a1e"
			message="#[output application/json  --- payload.items map ( payload01 , indexOfPayload01 ) -&gt; {  Message: payload01.payload default &quot;&quot; }]" />
		<ee:transform
			xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:id="02b48aab-bddb-4054-8872-ac1433da5ffd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Message: "Attendance taken",
	Attendance_Taken: payload.successful
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="exit flow" doc:id="32b947ab-3abc-4f72-b6a5-79c51e3e786f" name="exit-flow" />
    </flow>
    <flow name="get:\coach\(coachId)\teamseasons\(teamSeasonId)\sessions\(sessionId)\attendances:salesforce-data-api-config">
        <flow-ref doc:name="entry-flow" doc:id="fdc4bec9-fecd-4335-980a-0908eaeb9a17" name="entry-flow" />
        <logger level="INFO" doc:name="Log entry-flow" doc:id="3ea68664-17b8-4854-8e58-7f6d03285b44" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]." />
        <ee:transform doc:name="Store URI parameters" doc:id="86784c2c-83e8-4a5e-ae64-c5093cbacdbe">
            <ee:variables>
                <ee:set-variable variableName="coachId"><![CDATA[attributes.uriParams.'coachId']]></ee:set-variable>
                <ee:set-variable variableName="teamSeasonId"><![CDATA[attributes.uriParams.'teamSeasonId']]></ee:set-variable>
                <ee:set-variable variableName="sessionId"><![CDATA[attributes.uriParams.'sessionId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Log Stored URI Params" doc:id="f5fb5455-22c7-4d1f-b316-fa26806f3f1b" message="URI Param - coachId: #[vars.coachId], teamseasonId: #[vars.teamSeasonId], sessionId: #[vars.sessionId] - stored as vars" />
        <salesforce:query doc:name="Query" doc:id="2c95dcd3-8d07-446c-883b-98f1ae79ed9c" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT Id,Contact__r.Name,Contact__c,Attended__c FROM Attendance__c WHERE Session__c = ':sessionid' AND Contact_Record_Type__c = 'SCORES Student']]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	sessionid : vars.sessionId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:id="cc0b30b2-4bb2-4b3c-bfa8-72626dc8dc02">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	AttendanceId: payload01.Id,
	StudentName: payload01.Contact__r.Name,
	Attended: payload01.Attended__c default false,
	StudentId: payload01.Contact__c default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="30a1023d-5242-40d6-9a42-a3f0668043c7" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="e74de323-770f-4f76-a146-ee79831b8028" name="exit-flow" />
	</flow>
	<flow
		name="post:\contacts:application\json:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="7d35fac9-4eff-4904-9840-1c046ef8a84a" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="f6fc4dab-2c51-479f-943e-d978516fcb3e"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store payload"
			doc:id="d5391b37-613a-4aa1-8a95-1766e6f7b3ce">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="originalPayload"><![CDATA[output application/json
---
payload]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query
			doc:name="Check for matching Contacts"
			doc:id="61c0f5f7-6cee-4580-a92a-2432384dba3c"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT Birthdate,Contact_Type__c,External_Student_ID__c,Ethnicity__c,FirstName,Gender__c,Grade__c,Id,LastName,Level__c,MailingAddress,MailingCity,MailingCountry,MailingPostalCode,MailingState,MailingStreet,MiddleName,Name,Parent_Home_Language__c,RecordTypeId,School_Attending__c,Zip_First_Five_Digits__c FROM Contact WHERE (FirstName = ':firstName' AND LastName = ':lastName' AND BirthDate = :birthDate)]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
import * from modules::GlobalModules
---
{
	firstName: escapeSpecialSOQLChars(vars.originalPayload.FirstName, chars) default '',
	lastName: escapeSpecialSOQLChars(vars.originalPayload.LastName, chars) default '',
	birthDate: vars.originalPayload.Birthdate as Date {format: 'yyyy-MM-dd'}
}]]]></salesforce:parameters>
		</salesforce:query>
		<logger level="INFO" doc:name="Log query response"
			doc:id="25b33a82-fc31-44ef-98c8-36ea8aacd912" message="#[payload]" />
		<choice doc:name="Matching Contact found?"
			doc:id="cd1069b5-ca55-422d-9a92-739a54104316">
			<when expression="#[(sizeOf(payload)) == 0]">
				<logger level="INFO" doc:name="Logger"
					doc:id="03fa150f-5d4f-406f-80ed-cbddd924ba81"
					message="No matching Contacts found" />
				<ee:transform doc:name="Transform Message"
					doc:id="4b040bb0-7cd2-4008-aba2-12df19735ca8">
					<ee:message />
					<ee:variables>
						<ee:set-variable variableName="ContactRecordType"><![CDATA['01250000000VBbXAAW']]></ee:set-variable>
					</ee:variables>
				</ee:transform>
				<salesforce:create doc:name="Create"
					doc:id="45632d40-a2a7-4304-930a-a2fa81d78f0d"
					config-ref="Salesforce_Config" type="Contact">
					<salesforce:records><![CDATA[#[output application/java
---
[{
	LastName: vars.originalPayload.LastName,
	FirstName: vars.originalPayload.FirstName,
	MiddleName: vars.originalPayload.MiddleName,
	RecordTypeId: vars.ContactRecordType,
	MailingStreet: vars.originalPayload.MailingStreet,
	MailingCity: vars.originalPayload.MailingCity,
	MailingState: vars.originalPayload.MailingState,
	MailingPostalCode: vars.originalPayload.MailingZip as String default "",
	MailingCountry: vars.originalPayload.MailingCountry,
	HomePhone: vars.originalPayload.HomePhone,
	Email: vars.originalPayload.PersonalEmail,
	Birthdate: vars.originalPayload.Birthdate as Date,
	Gender__c: vars.originalPayload.Gender,
	Allergies__c: vars.originalPayload.Allergies,
	Data_Release__c: vars.originalPayload.DataReleaseWaiver,
	Emergency_Contact_Name_Phone_01__c: vars.originalPayload.Emergency_Contact_Phone1,
	Emergency_Contact_Name_Phone_02__c: vars.originalPayload.Emergency_Contact_Phone2,
	Emergency_Contact_Name_Phone_03__c: vars.originalPayload.Emergency_Contact_Phone3,
	Emergency_Contact_Name__c: vars.originalPayload.Emergency_Contact_Name,
	Emergency_Contact_Permission_to_Pick_Up__c: vars.originalPayload.Emergency_Contact_Permission_to_Pickup_child,
	Emergency_Contact_Relationship_to_Child__c: vars.originalPayload.Emergency_Contact_Relationship,
	Ethnicity__c: vars.originalPayload.Ethnicity,
	Grade__c: vars.originalPayload.Grade,
	External_Student_ID__c: vars.originalPayload.ExternalStudentId,
	External_Student_DB__c: vars.originalPayload.ExternalStudentIdSource, 
	School_Attending__c: vars.originalPayload.SchoolName,
	Liability__c: vars.originalPayload.LiabilityWaiver,
	Media_Release__c: vars.originalPayload.MediaReleaseWaiver,
	Parent_Email_Address__c: vars.originalPayload.ParentEmail,
	Parent_English_Fluency__c: vars.originalPayload.ParentEnglishFluency,
	Parent_First_Name__c: vars.originalPayload.ParentFName,
	Parent_Home_Language__c: vars.originalPayload.ParentHomeLang,
	Parent_Last_Name__c: vars.originalPayload.ParentLName,
	Parent_Other_Language__c: vars.originalPayload.OtherLang default "",
	Parent_Phone_01__c: vars.originalPayload.ParentPhone1 as String default "",
	Parent_Phone_02__c: vars.originalPayload.ParentPhone2 as String default "",
	Parent_Phone_03__c: vars.originalPayload.ParentPhone3 as String default "",
	Parent_Relationship_to_Child__c: vars.originalPayload.Relationship,
	Permission_to_Commute_Alone__c: vars.originalPayload.PermissiontoCommuteAlone,
	Reduced_Price_Lunch__c: vars.originalPayload.ReducedPriceLunch,
	Second_Emerg_Contact_Relationship_Child__c: vars.originalPayload.Second_Emergency_Contact_Relationship,
	Second_Emergency_Contact_Name__c: vars.originalPayload.Second_Emergency_Contact_Name,
	Second_Emergency_Permission_to_Pick_Up__c: vars.originalPayload.Second_Emergency_Contact_Permission_to_Pickup_child,
	Second_Emergency_Phone_01__c: vars.originalPayload.Second_Emergency_Contact_Phone1,
	Second_Emergency_Phone_02__c: vars.originalPayload.Second_Emergency_Contact_Phone2,
	Second_Emergency_Phone_03__c: vars.originalPayload.Second_Emergency_Contact_Phone3,
	Volunteer_for_this_Program_Parent__c: vars.originalPayload.Volunteer,
	Contact_Type__C: vars.originalPayload.ContactType,
	AccountId: vars.originalPayload.SchoolSiteId
}]]]]></salesforce:records>
				</salesforce:create>
				<choice doc:name="Choice"
					doc:id="7ca5f334-3c6c-4c7c-a6ba-323b1b03ecc9">
					<when
						expression="#[payload.successful == false and payload..errors != null]">
						<logger level="INFO" doc:name="Logger"
							doc:id="18e3324c-2e63-459a-87a8-5a04ddfdb610"
							message="Fuzzy contact match found" />
						<ee:transform doc:name="Transform Message"
							doc:id="8e9989fb-ba44-4031-8b57-5eac1f4367e5">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.items[0].payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<raise-error doc:name="Raise error"
							doc:id="2870caa8-0d15-4067-8910-2d753a5f0a0c"
							type="CREATECONTACT:CONFLICT" />
					</when>
					<otherwise>
						<ee:transform
							xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
							doc:id="29de979e-5346-4cf1-85d1-5d39079a4735"
							doc:name="Create response">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	ContactId: payload.items[0].id
}]]></ee:set-payload>
							</ee:message>
							<ee:variables />
						</ee:transform>
					</otherwise>
				</choice>
			</when>
			<otherwise>
				<logger level="INFO" doc:name="Logger"
					doc:id="7710ae15-a22f-4abf-8f0c-ce7a7c344977"
					message="Contact with same name and DOB has been found" />
				<ee:transform doc:name="Transform Message"
					doc:id="ac5bb0c5-0ca5-4fe5-abe1-77e446a15104">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Message: "Conflict detected. Matching contacts found",
	Contacts: (payload map ( payload01 , indexOfPayload01 ) -> {
		Id: payload01.Id as String default "",
		FirstName: payload01.FirstName as String default "",
		LastName: payload01.LastName as String default "",
		Status: payload01.Status as String default "",
		DateOfBirth: payload01.Birthdate as String default "",
		HousingStatus: payload01.Contact_c as String default "",
		StreetAddress: payload01.MailingStreet as String default "",
		City: payload01.MailingCity as String default "",
		State: payload01.MailingState as String default "",
		Zip: payload01.MailingPostalCode as String default "",
		HomeLanguage: payload01.Parent_Home_Language__c as String default "",
		Ethnicity: payload01.Ethnicity__c as String default "",
		Gender: payload01.Gender__c as String default "",
		EducationalAttainment: payload01.Grade_c as String default "",
		SchoolAttending: payload01.School_Attending__c as String default "",
		SchoolEntryDate: payload01.Contact_c as String default "",
		SFUSDEntryDate: payload01.Contact_c as String default "",
		K12GradeLevel: payload01.Level__c as String default "",
		SchoolSiteId: payload01.AccountId as String default ""
	})
}]]></ee:set-payload>
					</ee:message>
					<ee:variables />
				</ee:transform>
				<raise-error doc:name="Raise error"
					doc:id="1f5aefe5-be75-4cdc-a204-da25a8547b39"
					type="CREATECONTACT:CONFLICT" />
			</otherwise>
		</choice>
	</flow>
	<flow name="get:\contacts:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="c9b03396-87ae-4cc7-a322-5a02422f56ec" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="4757f003-ed95-4269-9939-0811ef781500"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store Query parameters"
			doc:id="13306605-ff4a-46bf-a760-5257cb741357">
			<ee:variables>
				<ee:set-variable variableName="externalStudentId"><![CDATA[attributes.queryParams.'externalStudentId']]></ee:set-variable>
				<ee:set-variable
					variableName="externalStudentIdSource"><![CDATA[attributes.queryParams.'externalStudentIdSource']]></ee:set-variable>
				<ee:set-variable variableName="firstName"><![CDATA[attributes.queryParams.'firstName']]></ee:set-variable>
				<ee:set-variable variableName="lastName"><![CDATA[attributes.queryParams.'lastName']]></ee:set-variable>
				<ee:set-variable variableName="birthDate"><![CDATA[attributes.queryParams.'birthDate']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice"
			doc:id="d8bc290a-d74d-4841-828e-6faa4b57e36b">
			<when
				expression="#[vars.birthDate != null and vars.birthDate != '']">
				<salesforce:query
					doc:name="Select Query with Birthdate"
					doc:id="2d2bd613-7cc8-48df-b3e3-e1c628982996"
					config-ref="Salesforce_Config">
					<salesforce:salesforce-query><![CDATA[SELECT Birthdate,Contact_Type__c,External_Student_ID__c,External_Student_DB__c,Ethnicity__c,FirstName,Gender__c,Grade__c,Id,LastName,Level__c,MailingAddress,MailingCity,MailingCountry,MailingPostalCode,MailingState,MailingStreet,MiddleName,Name,Parent_Home_Language__c,RecordTypeId,School_Attending__c,Zip_First_Five_Digits__c FROM Contact WHERE ((External_Student_ID__c 
 = ':externalStudentId' AND External_Student_DB__c = ':externalStudentIdSource') OR (FirstName = ':firstName' AND LastName = ':lastName' AND BirthDate = :birthDate))]]></salesforce:salesforce-query>
					<salesforce:parameters><![CDATA[#[output application/java
import * from modules::GlobalModules
---
{
	externalStudentId : vars.externalStudentId default 'aaa',
	externalStudentIdSource: vars.externalStudentIdSource default 'NONE',
	firstName: escapeSpecialSOQLChars(vars.firstName default '', chars) default '',
	lastName: escapeSpecialSOQLChars(vars.lastName default '', chars) default '',
	birthDate: vars.birthDate as Date {format: 'yyyy-MM-dd'}
}]]]></salesforce:parameters>
				</salesforce:query>
			</when>
			<otherwise>
				<salesforce:query
					doc:name="Select Query without Birthdate"
					doc:id="ec730d90-d661-40ce-b9c0-d05dd4fc28a0"
					config-ref="Salesforce_Config">
					<salesforce:salesforce-query><![CDATA[SELECT Birthdate,Contact_Type__c,External_Student_ID__c,External_Student_DB__c,Ethnicity__c,FirstName,Gender__c,Grade__c,Id,LastName,Level__c,MailingAddress,MailingCity,MailingCountry,MailingPostalCode,MailingState,MailingStreet,MiddleName,Name,Parent_Home_Language__c,RecordTypeId,School_Attending__c,Zip_First_Five_Digits__c,AccountId FROM Contact WHERE ((External_Student_ID__c 
 = ':externalStudentId' AND External_Student_DB__c = ':externalStudentIdSource') OR (FirstName = ':firstName' AND LastName = ':lastName'))]]></salesforce:salesforce-query>
					<salesforce:parameters><![CDATA[#[output application/java
import * from modules::GlobalModules
---
{
	externalStudentId : vars.externalStudentId default 'aaa',
	externalStudentIdSource: vars.externalStudentIdSource default 'NONE',
	firstName: escapeSpecialSOQLChars(vars.firstName default '', chars) default '',
	lastName: escapeSpecialSOQLChars(vars.lastName default '', chars) default ''
}]]]></salesforce:parameters>
				</salesforce:query>
			</otherwise>
		</choice>
		<ee:transform
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:name="Create Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Id: payload01.Id as String default "",
FirstName: payload01.FirstName as String default "",
LastName: payload01.LastName as String default "",
Status: payload01.Status as String default "",
DateOfBirth: payload01.Birthdate as String default "",
HousingStatus: payload01.Contact_c as String default "",
StreetAddress: payload01.MailingStreet as String default "",
City: payload01.MailingCity as String default "",
State: payload01.MailingState as String default "",
Zip: payload01.MailingPostalCode as String default "",
HomeLanguage: payload01.Parent_Home_Language__c as String default "",
Ethnicity: payload01.Ethnicity__c as String default "",
Gender: payload01.Gender__c as String default "",
EducationalAttainment: payload01.Grade_c as String default "",
SchoolAttending: payload01.School_Attending__c as String default "",
SchoolEntryDate: payload01.Contact_c as String default "",
SFUSDEntryDate: payload01.Contact_c as String default "",
K12GradeLevel: payload01.Level__c as String default "",
ExternalStudentId: payload01.External_Student_ID__c as String default "",
ExternalStudentIdSource: payload01.External_Student_DB__c as String default "",
SchoolSiteId: payload01.AccountId as String default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="b374f207-dfe3-48d7-99a2-b74e757cdb96" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="17176b6b-a1c0-4851-984e-43b59c0506eb" name="exit-flow" />
	</flow>
	<flow name="get:\contacts\search:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="cf3b6309-0886-4f1e-88e7-a5bf6b29041a" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="127d162c-eb82-4c68-858e-cba3a849db5c"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store Query parameters"
			doc:id="06bf0ffb-bedf-4d91-afb9-accd04fb3580">
			<ee:variables>
				<ee:set-variable variableName="searchString"><![CDATA[attributes.queryParams.'searchString']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:search doc:name="Search"
			doc:id="f195a55e-9140-44b5-b60e-1809649ef0a3"
			config-ref="Salesforce_Config">
			<salesforce:search-string><![CDATA[FIND { :searchString } IN ALL FIELDS RETURNING Contact(FirstName,LastName,MiddleName,Name,Id,Grade__c,Birthdate)]]></salesforce:search-string>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	searchString : vars.searchString
}]]]></salesforce:parameters>
		</salesforce:search>
		<ee:transform doc:name="Transform Message"
			doc:id="32f388c1-5da5-43ab-8241-874d02d18d35">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.searchRecords map ( payload01 , indexOfPayload01 ) -> {
	Id: payload01.record.Id as String default"",
FirstName: payload01.record.FirstName as String default "",
MiddleName: payload01.record.MiddleName as String default "",
LastName: payload01.record.LastName as String default "",
DateOfBirth: payload01.record.Birthdate as String default "",
Grade: payload01.record.Grade__c as String default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
	<flow name="get:\contacts\(contactId):salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="3cefb3dd-a787-43f6-b305-ea08ddd5c2ce" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="259840a7-a4b5-4c17-9326-0794dfea6b26"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store URI parameters"
			doc:id="f0ca847c-5413-4e76-bde8-9aec2edd7b7d">
			<ee:variables>
				<ee:set-variable variableName="contactId"><![CDATA[attributes.uriParams.'contactId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Query"
			doc:id="484bbe2a-c7aa-42d5-9463-cd953b4abb1e"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT Birthdate,Contact_Type__c,External_Student_ID__c,External_Student_DB__c,Ethnicity__c,FirstName,Gender__c,Grade__c,Id,LastName,Level__c,MailingAddress,MailingCity,MailingCountry,MailingPostalCode,MailingState,MailingStreet,MiddleName,Name,Parent_Home_Language__c,RecordTypeId,School_Attending__c,Zip_First_Five_Digits__c,AccountId FROM Contact WHERE Id = ':id']]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	id : vars.contactId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:name="Create Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Id: payload01.Id as String default "",
FirstName: payload01.FirstName as String default "",
LastName: payload01.LastName as String default "",
Status: payload01.Status as String default "",
DateOfBirth: payload01.Birthdate as String default "",
HousingStatus: payload01.Contact_c as String default "",
StreetAddress: payload01.MailingStreet as String default "",
City: payload01.MailingCity as String default "",
State: payload01.MailingState as String default "",
Zip: payload01.MailingPostalCode as String default "",
HomeLanguage: payload01.Parent_Home_Language__c as String default "",
Ethnicity: payload01.Ethnicity__c as String default "",
Gender: payload01.Gender__c as String default "",
EducationalAttainment: payload01.Grade_c as String default "",
SchoolAttending: payload01.School_Attending__c as String default "",
SchoolEntryDate: payload01.Contact_c as String default "",
SFUSDEntryDate: payload01.Contact_c as String default "",
K12GradeLevel: payload01.Level__c as String default "",
ExternalStudentId: payload01.External_Student_ID__c as String default "",
ExternalStudentIdSource: payload01.External_Student_DB__c as String default "",
SchoolSiteId: payload01.AccountId as String default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="eb926194-1a98-423e-b0c5-d3910cc9ec21" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="dbbecd8d-132a-4dcc-8e5b-4443895e0d71" name="exit-flow" />
	</flow>
	<flow
		name="patch:\contacts\(contactId):application\json:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="ea712ccc-883f-484d-96c5-5d4f6e5782e7" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="630fb42f-aa01-455b-84ab-ae96ae695b29"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store Query parameters"
			doc:id="16374a77-ca21-4661-a15f-b4d0f23e368b">
			<ee:variables>
				<ee:set-variable variableName="contactId"><![CDATA[attributes.uriParams.'contactId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message"
			doc:id="592cfbca-f5bb-4ed0-842a-8e72b8d5c977">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Id: payload.Id,
	(FirstName: payload.FirstName) if payload.FirstName != null,
	(LastName: payload.LastName) if payload.LastName != null,
	(Birthdate: payload.DateOfBirth as Date {format: 'yyyy-MM-dd'}) if payload.DateOfBirth != null,
	(MailingStreet: payload.StreetAddress) if payload.StreetAddress != null,
	(MailingCity: payload.City) if payload.City != null,
	(MailingState: payload.State) if payload.State != null,
	(MailingPostalCode: payload.Zip) if payload.Zip != null,
	(Parent_Home_Language__c: payload.HomeLanguage) if payload.HomeLanguage != null,
	(Ethnicity__c: payload.Ethnicity) if payload.Ethnicity != null,
	(Gender__c: payload.Gender) if payload.Gender != null,
	(School_Attending__c: payload.SchoolAttending) if payload.SchoolAttending != null,
	(AccountId: payload.SchoolSiteId) if payload.SchoolSiteId != null
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update type="Contact" doc:name="Update"
			doc:id="22d1f2d0-03bc-4987-82e8-200abcd9b67a"
			config-ref="Salesforce_Config" />
		<choice doc:name="Update successful?"
			doc:id="61a478f2-2c8f-430b-a6ad-a5435c432f7a">
			<when expression="#[payload.items[0].successful == false]">
				<ee:transform doc:name="Transform Message"
					doc:id="7c3a7df0-eb2b-4a4d-9182-1fcfd74a48fb">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: payload.items[0].message
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
					doc:name="Create Response">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Contact updated"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="07b47086-0cbc-4db9-9012-faaabb58cff9" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="db9d32e6-d89b-4614-8b62-e0a9368b687d" name="exit-flow" />
	</flow>
	<flow name="get:\sessions:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="9e1f24f3-c2ab-48d2-9d8b-d96b5c725b6d" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="d5c5bea6-8375-47a4-b9e2-3fd28795d11d"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store Query parameters"
			doc:id="3dcc50e2-8559-4f2a-89e4-4195a08339c4">
			<ee:variables>
				<ee:set-variable variableName="teamSeasonId"><![CDATA[attributes.queryParams.'teamSeasonId']]></ee:set-variable>
				<ee:set-variable variableName="date"><![CDATA[attributes.queryParams.'date']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query
			doc:name="Select Query with TeamSeasonId and Date"
			doc:id="2d500270-3028-493a-8b00-60506980b70a"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT Id,Name,Session_Date__c,Session_Topic__c,Team_Season__c FROM Session__c WHERE Team_Season__c = ':teamSeasonId' AND Session_Date__c = :date]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	teamSeasonId : vars.teamSeasonId,
	date: vars.date as Date {format: 'yyyy-MM-dd'}
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:name="Create Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	TeamSeasonId: payload01.Team_Season__c,
	SessionId: payload01.Id,
	SessionName: payload01.Name,
	SessionDate: payload01.Session_Date__c as String,
	SessionTopic: payload01.Session_Topic__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="a55ca7d7-71b4-4e6f-b7b3-df14914f05b8" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="a04ca980-be0b-413d-b9dc-eecf1a3c44a4" name="exit-flow" />
	</flow>
	<flow name="get:\sessions\(sessionId):salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="76b231f1-9f69-416b-b511-1aeed01743e6" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="caac9d27-c1e3-45fe-bbbf-03b377e82c4d"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store URI parameters"
			doc:id="a4a7c1b9-4453-484d-b58a-b906a4ac3645">
			<ee:variables>
				<ee:set-variable variableName="sessionId">attributes.uriParams.'sessionId'
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query
			doc:name="Select Query with sessionId"
			doc:id="a78aa9c2-d524-4535-a0bc-fd81ae881144"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT Id,Name,Session_Date__c,Session_Topic__c,Team_Season__c FROM Session__c WHERE Id = ':sessionId']]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	sessionId : vars.sessionId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:name="Create Response"
			doc:id="38b8c4e6-30f7-47de-ab7f-fe680da96cfe">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
(payload map ( payload01 , indexOfPayload01 ) -> {
 	SessionId: payload01.Id,
	SessionName: payload01.Name,
	SessionDate: payload01.Session_Date__c as String,
	SessionTopic: payload01.Session_Topic__c,
	TeamSeasonId: payload01.Team_Season__c
}) reduce ($$ ++ $)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="9f51f8cb-2fe7-47f6-ab71-ed83c083b03f" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="bf419d54-fe15-4be1-ba03-e1333c223a68" name="exit-flow" />
	</flow>
	<flow
		name="patch:\sessions\(sessionId):application\json:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="8dce4ce1-6e08-4248-97a4-ae448718c031" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="4bcc9ae9-e4a7-4296-94ca-54271da34ee5"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store URI parameters">
			<ee:variables>
				<ee:set-variable variableName="sessionId">attributes.uriParams.'sessionId'
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Create Request"
			doc:id="f9015146-c764-40cd-bdb9-a589f337d394">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Id: vars.sessionId,
	(Name: payload.SessionName) if payload.SessionName != null,
	(Session_Date__c: payload.SessionDate as Date {format: 'yyyy-MM-dd'}) if payload.SessionDate != null,
	(Session_Topic__c: payload.SessionTopic) if payload.SessionTopic != null,
	(Team_Season__c: payload.TeamSeasonId) if payload.TeamSeasonId != null
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update type="Session__c"
			doc:name="Update" doc:id="f6c9dade-b97e-4331-a976-cbf18429ab2e"
			config-ref="Salesforce_Config" />
		<choice doc:name="Update successful?"
			doc:id="c50f9681-0a5b-4f7e-b976-3c11ea9be851">
			<when expression="#[payload.items[0].successful == false]">
				<ee:transform doc:name="Create Error Response"
					doc:id="8eb3d41d-d400-44e2-a997-acb411de9cf4">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: payload.items[0].message
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
					doc:name="Create Response"
					doc:id="670a74ce-14c7-4302-80c8-99b2088d97db">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Session updated"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="7e8446e9-40a5-44d6-8ed9-e56b8ac38304" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="da67b299-2e89-4f51-ae88-e9850ffdd6e1" name="exit-flow" />
	</flow>
	<flow
		name="post:\sessions:application\json:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="9728297b-cafe-4f3a-a93b-928026daba70" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="a48d5735-df77-4cb0-8fa3-185964166876"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Create Request"
			doc:id="db3aba3b-0951-4bf3-9516-e34de7f2afec">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Session_Date__c: payload.SessionDate as Date {format: 'yyyy-MM-dd'},
	Session_Topic__c: payload.SessionTopic,
	Team_Season__c: payload.TeamSeasonId
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="Session__c"
			doc:name="Create" doc:id="f0aede51-1b0e-4ad8-84d5-f634035fa14e"
			config-ref="Salesforce_Config" />
		<choice doc:name="Session creation successful?"
			doc:id="36068654-1f68-4926-ab18-fe675643134f">
			<when expression="#[payload.items[0].successful == false]">
				<ee:transform doc:name="Create Error Response"
					doc:id="f001f891-4371-4b36-bedc-dc638c2923ef">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: payload.items[0].message
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
					doc:name="Create Response"
					doc:id="ff94dfa8-e1fe-445f-920b-5c9f3ebf43c0">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  SessionId: payload.items[0].id
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="2ac25a66-cb92-43f4-b398-69143e6612fe" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="624f9ac8-50af-4be5-b824-2b6e271fb57e" name="exit-flow" />
	</flow>
	<flow name="get:\enrollments:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="49e08376-89cf-49ad-83a7-1ac70afb2f53" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="fe4f40b9-343a-40dc-bbb4-f52e1bd7debc"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store Query parameters"
			doc:id="0b918c1f-6e5f-409a-bb5b-d28da9f51dd2">
			<ee:variables>
				<ee:set-variable variableName="teamSeasonId"><![CDATA[attributes.queryParams.'teamSeasonId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query
			doc:name="Select Query with TeamSeasonId"
			doc:id="7b21e772-69d1-4a72-823f-2ca961976a98"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT Contact__r.Name,Contact__r.FirstName,Contact__r.LastName,Contact__r.Birthdate,Contact__r.Gender__c,Contact__r.Ethnicity__c,Contact__r.Zip_First_Five_Digits__c,Contact__c,End_Date__c,Id,Name,Number_of_Enrollments__c,Start_Date__c,Team_Season__c FROM Enrollment__c WHERE Team_Season__c = ':teamSeasonId']]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	teamSeasonId : vars.teamSeasonId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:name="Create Response"
			doc:id="7f248e8c-5c33-48cd-beb3-6e53050d6319">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	EnrollmentId: payload01.Id default "",
	EnrollmentName: payload01.Name default "",
	TeamSeasonId: payload01.Team_Season__c default "",
	StudentId: payload01.Contact__c default "",
	StudentName: payload01.Contact__r.Name default "",
	FirstName: payload01.Contact__r.FirstName,
	LastName: payload01.Contact__r.LastName,
	Birthdate: payload01.Contact__r.Birthdate default "",
	Gender: payload01.Contact__r.Gender__c default "",
	Ethnicity: payload01.Contact__r.Ethnicity__c default "",
	ZipCode: payload01.Contact__r.Zip_First_Five_Digits__c default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="5d6097dd-a131-4189-b701-aa8a8642bc81" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="c35f88dd-0ae5-41f8-bfe5-0dd76ae0d85c" name="exit-flow" />
	</flow>
	<flow
		name="get:\enrollments\(enrollmentId):salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="d39a1fc7-83b3-45a9-8ac5-83d623da5d29" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="c7d66079-5fb5-456d-bca7-d3fb97adf648"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform>
			<ee:variables>
				<ee:set-variable variableName="enrollmentId">attributes.uriParams.'enrollmentId'
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query
			doc:name="Select Query with EnrollmentId"
			doc:id="10beab2b-2673-4fd0-9e37-d7e205da05ba"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT Contact__r.Name,Contact__r.FirstName,Contact__r.LastName,Contact__r.Birthdate,Contact__r.Gender__c,Contact__r.Ethnicity__c,Contact__r.Zip_First_Five_Digits__c,Contact__c,End_Date__c,Id,Name,Number_of_Enrollments__c,Start_Date__c,Team_Season__c FROM Enrollment__c WHERE Id = ':enrollmentId']]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	enrollmentId : vars.enrollmentId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:name="Create Response"
			doc:id="b58f80e5-f19b-40b8-ae19-235e06068521">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
(payload map ( payload01 , indexOfPayload01 ) -> {
	EnrollmentId: payload01.Id default "",
	EnrollmentName: payload01.Name default "",
	TeamSeasonId: payload01.Team_Season__c default "",
	StudentId: payload01.Contact__c default "",
	StudentName: payload01.Contact__r.Name default "",
	FirstName: payload01.Contact__r.FirstName,
	LastName: payload01.Contact__r.LastName,
	Birthdate: payload01.Contact__r.Birthdate default "",
	Gender: payload01.Contact__r.Gender__c default "",
	Ethnicity: payload01.Contact__r.Ethnicity__c default "",
	ZipCode: payload01.Contact__r.Zip_First_Five_Digits__c default ""
}) reduce ($$ ++ $)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="154e2941-1611-4c9d-864e-0ce9c0473ee7" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="30472418-e1b3-44e3-80f6-a3b13621f1c7" name="exit-flow" />
	</flow>
	<flow
		name="patch:\enrollments\(enrollmentId):application\json:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="48b4acf1-2fd5-420f-85db-81828ff4483b" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="9758eedf-d042-43bc-9cd0-07f3e7acc38b"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store URI parameters">
			<ee:variables>
				<ee:set-variable variableName="enrollmentId">attributes.uriParams.'enrollmentId'
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Create Request"
			doc:id="540d6f1e-fa85-4176-8d55-933539364742">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Id: vars.enrollmentId,
	(Contact__c: payload.StudentId) if payload.StudentId != null,
	(Start_Date__c: payload.StartDate as Date {format: 'yyyy-MM-dd'}) if payload.StartDate != null,
	(End_Date__c: payload.EndDate as Date {format: 'yyyy-MM-dd'}) if payload.EndDate != null,
	(Team_Season__c: payload.TeamSeasonId) if payload.TeamSeasonId != null
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update type="Enrollment__c"
			doc:name="Update" doc:id="44afbe5c-68ce-4f65-bd99-38adf52e2b50"
			config-ref="Salesforce_Config" />
		<choice doc:name="Update successful?"
			doc:id="52e6ec78-6654-4a9c-a6ec-b0d2bf4656d1">
			<when expression="#[payload.items[0].successful == false]">
				<ee:transform doc:name="Create Error Response"
					doc:id="7ada2379-59ce-4908-b07b-a6b617a822ef">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: payload.items[0].message
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
					doc:name="Create Response"
					doc:id="df7487db-f467-4cf5-ba4a-d38339357b91">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Enrollment updated"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="0f14ac89-9d8a-42cc-9bf8-dbe5d24c5980" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="fb4ee683-8e4e-419a-b6e6-52bdb9977b10" name="exit-flow" />
	</flow>
	<flow
		name="post:\enrollments:application\json:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="da80e564-5da0-4a0a-b982-1072c3cfe7aa" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="7137e13f-9ca3-4a90-8310-f314a4a50828"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Create Request"
			doc:id="32f87744-5656-464f-8c78-4faa1a4f7b6b">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Contact__c: payload.StudentId,
	Team_Season__c: payload.TeamSeasonId,
	(Start_Date__c: payload.StartDate as Date {format: 'yyyy-MM-dd'}) if payload.StartDate != null,
	(End_Date__c: payload.EndDate as Date {format: 'yyyy-MM-dd'}) if payload.EndDate != null
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create type="Enrollment__c"
			doc:name="Create" doc:id="12e0dce5-2d49-4d47-a1b9-a557c1e1cd15"
			config-ref="Salesforce_Config" />
		<choice doc:name="Enrollment creation successful?"
			doc:id="ad2ae423-6e18-4afb-8c58-069e36bcca3c">
			<when expression="#[payload.items[0].successful == false]">
				<ee:transform doc:name="Create Error Response"
					doc:id="bf4cbdfc-ce48-4146-9df5-ea75a1be1a7c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: payload.items[0].message
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
					doc:name="Create Response"
					doc:id="41697d23-fc1d-4997-b18b-54bd0ead2b8c">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  EnrollmentId: payload.items[0].id
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="4670a9f1-4aa5-4cfa-adc7-d09fbba15dce" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="4519e08e-bde3-4e28-8032-a874b23f0f1a" name="exit-flow" />
	</flow>
	<flow name="get:\teams\(teamId):salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="344c79b7-deae-4a75-bad4-5a3c282f5059" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="ed4441dc-d9e0-4541-b4c8-13a7f234542b"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]." />
		<ee:transform doc:name="Store URI parameters"
			doc:id="1a434c01-2c10-40f4-b8a7-bf89e99b2bbf">
			<ee:variables>
				<ee:set-variable variableName="teamId"><![CDATA[attributes.uriParams.'teamId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log Stored URI Params"
			doc:id="5d7d2731-1bb8-4342-a4b2-77264ab9dc01"
			message="URI Param - teamId: #[vars.teamId] - stored as vars" />
		<salesforce:query doc:name="Query"
			doc:id="f01262b6-4556-4307-add7-d706c71ce2e7"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT Coach_Soccer__c,Coach_Writing__c,CreatedById,CreatedDate,Id,IsDeleted,LastModifiedById,LastModifiedDate,LastReferencedDate,LastViewedDate,Name,OwnerId,School_Site__c,SCORES_Program_Coordinator__c,SCORES_Program_Manager__c,SCORES_Program_Type__c,SystemModstamp,Unique_Teams__c FROM Team__c WHERE Id = ':teamid']]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	teamid : vars.teamId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:id="a43c786b-8e5a-4437-ab6f-006a57b10578">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	TeamName: payload01.Name,
	TeamId: payload01.Id default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="0ab610e4-ac88-4d4f-8820-82edb6600d83" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="e4f42792-044a-444f-8033-9f86273d9801" name="exit-flow" />
	</flow>
	<flow
		name="patch:\teams\(teamId):application\json:salesforce-data-api-config">
		<flow-ref doc:name="message-for-not-implemented-endpoints"
			doc:id="185f08d0-9eca-402f-82e8-8816e56c21e4"
			name="message-for-not-implemented-endpoints" />
	</flow>
	<flow
		name="patch:\teamSeasons\(teamSeasonId):application\json:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="1cfa42da-20e7-4512-9f57-232205e83ac2" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="aea001ef-efb0-4a3b-9bfc-a5384e805327"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store URI parameters"
			doc:id="eca43153-b0a0-46d3-b564-69a4019ef7af">
			<ee:variables>
				<ee:set-variable variableName="teamSeasonId"><![CDATA[attributes.uriParams.'teamSeasonId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Create Request"
			doc:id="0c469ff4-bb15-41cb-be7b-0d43f82a4b3f">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Id: vars.teamSeasonId,
	(Name: payload.TeamSeasonName) if payload.TeamSeasonName != null,
	(Team__c: payload.TeamId) if payload.TeamId != null,
	(Season__c: payload.SeasonId) if payload.SeasonId != null,
	(School_Site__c: payload.SchoolSite) if payload.SchoolSite != null,
	(Partnership__c: payload.Partnership) if payload.Partnership != null,
	(Total_Number_of_Players__c: payload.TotalNoOfPlayers) if payload.TotalNoOfPlayers != null,
	(Total_Number_of_Sessions__c: payload.TotalNoOfSessions) if payload.TotalNoOfSessions != null,
	(Season_Start_Date__c: payload.SeasonStartDate as Date {format: 'yyyy-MM-dd'}) if payload.SeasonStartDate != null,
	(Season_End_Date__c: payload.SeasonEndDate as Date {format: 'yyyy-MM-dd'}) if payload.SeasonEndDate != null,
	(Coach_Soccer__c: payload.CoachSoccer) if payload.CoachSoccer != null,
	(Coach_Writing__c: payload.CoachWriting) if payload.CoachWriting != null,
	(SCORES_Program_Coordinator__c: payload.ProgramCoordinator) if payload.ProgramCoordinator != null,
	(SCORES_Program_Manager__c: payload.ProgramManager) if payload.ProgramManager != null
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update type="Team_Season__c"
			doc:name="Update" doc:id="6e73b821-a977-41ee-87e6-ccd2b9b49342"
			config-ref="Salesforce_Config" />
		<choice doc:name="Update successful?"
			doc:id="bbd03deb-ee72-4820-9802-41525766d0db">
			<when expression="#[payload.items[0].successful == false]">
				<ee:transform doc:name="Create Error Response"
					doc:id="9191216e-971d-4052-a340-4c42aa6327f2">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: payload.items[0].message
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Create Response"
					doc:id="96595596-1340-4eda-8652-b6efdef5660b"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "TeamSeason updated"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="a4c162aa-a505-4a66-a73f-e94b3d395f91" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="30a5d601-c1c1-4327-bfea-bb164d4b03d0" name="exit-flow" />
	</flow>
	<flow name="get:\teamSeasons:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="00fa21c8-af1b-41cf-a3a8-5e7c81c94a06" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="28d4d928-243f-4eb7-bc5b-ec5d9c331af5"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store Query Parameters"
			doc:id="49ad3af8-6085-453b-b1fe-d7d14d0c425f">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="date"><![CDATA[attributes.queryParams.'date']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Query"
			doc:id="1423aba4-cdf4-47d8-a1f7-f904ebc68665"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT Anticipated_Players_Enrollment__c,Coach_Soccer__c,Coach_Writing__c,Season__r.Id,CreatedById,CreatedDate,Date_Last_Session_Attended__c,Id,IsDeleted,LastActivityDate,LastModifiedById,LastModifiedDate,LastReferencedDate,LastViewedDate,Name,Number_of_Attendance_Completed__c,Number_of_Attendance_Incomplete__c,Number_of_Students_Absent__c,Number_of_Students_Present__c,Number_of_Team_Seasons__c,Partnership__c,Percent_of_Attendance_Completed__c,Percent_of_Students_Present__c,Schedule__c,School_Site__c,SCORES_Program_Coordinator__r.Name,SCORES_Program_Manager__r.Name,Season_End_Date__c,Season_Start_Date__c,Season__c,SystemModstamp,Team__c,Total_Number_of_Players__c,Total_Number_of_Sessions__c,Coach_Soccer__r.Name,Coach_Writing__r.Name,Team__r.Name,Season__r.Name,Team__r.School_Site__r.Region__c FROM Team_Season__c WHERE Season_Start_Date__c = :date ORDER BY Season_End_Date__c DESC]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	date: vars.date as Date {format: 'yyyy-MM-dd'}
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Create Response"
			doc:id="f81492cf-b1b4-4956-8f20-91d323cb5e4d">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	SeasonStartDate: payload01.Season_Start_Date__c as String default "",
	TotalNoOfSessions: payload01.Total_Number_of_Sessions__c default 0,
	CoachWriting: payload01.Coach_Writing__r.Name default  "" as String,
	Partnership: payload01.Partnership__c default "",
	SeasonName: payload01.Season__r.Name default "" as String,
	TotalNoOfPlayers: payload01.Total_Number_of_Players__c default 0,
	TeamSeasonName: payload01.Name default "",
	CoachSoccer: payload01.Coach_Soccer__r.Name,
	TeamSeasonId: payload01.Id default "",
	TeamName: payload01.Team__r.Name default "" as String,
	SchoolSite: payload01.School_Site__c default "",
	SeasonEndDate: payload01.Season_End_Date__c as String default "",
	ScoresProgramManager: payload01.SCORES_Program_Manager__r.Name default  "" as String,
	ProgramCoordinator:  payload01.SCORES_Program_Coordinator__r.Name default  "" as String,
	Region: payload01.Team__r.School_Site__r.Region__c,
	SeasonId: payload01.Season__r.Id default "" as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="2e7bca9d-b7ab-46b5-90f2-2a0bfcbb24b8" message="#[payload]" />
		<flow-ref doc:name="exit-flow"
			doc:id="34d7f0e0-6524-4606-9062-d19dd9202eab" name="exit-flow" />
	</flow>
	<flow name="get:\teams:salesforce-data-api-config">
		<flow-ref doc:name="message-for-not-implemented-endpoints"
			doc:id="634f6198-82df-4a17-a005-e0593a06262f"
			name="message-for-not-implemented-endpoints" />
	</flow>
	<flow
		name="get:\teamSeasons\(teamSeasonId):salesforce-data-api-config">
		<flow-ref doc:name="message-for-not-implemented-endpoints"
			doc:id="8401f088-397e-4ce3-bb7a-afc2337aebef"
			name="message-for-not-implemented-endpoints" />
	</flow>
	<flow
		name="post:\teamSeasons:application\json:salesforce-data-api-config">
		<flow-ref doc:name="message-for-not-implemented-endpoints"
			doc:id="1f87c942-094b-467e-a602-82dbc1f67bcf"
			name="message-for-not-implemented-endpoints" />
	</flow>
	<sub-flow name="message-for-not-implemented-endpoints"
		doc:id="a1961882-e708-4003-b210-b63b6b3032c1">
		<ee:transform
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not implemented yet"}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="httpStatus">501</ee:set-variable>
			</ee:variables>
		</ee:transform>
	</sub-flow>
	<flow
		name="post:\teams:application\json:salesforce-data-api-config">
		<flow-ref doc:name="message-for-not-implemented-endpoints"
			doc:id="e552c3e8-8bde-47fe-8689-6ea52172bd5d"
			name="message-for-not-implemented-endpoints" />
	</flow>
	<flow
		name="get:\coach\(coachId)\teamseasonsNotOwnedByCoach:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="80461e4d-5d8c-4847-8fb9-2b4956ce843f" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="edb65e58-9ab1-4ce3-840f-e95990ae5961"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. Also for this request we have queryParams: date=#[attributes.queryParams[0]]" />
		<ee:transform doc:name="Store Parameters"
			doc:id="0370b773-5268-4c82-b21b-fff6de1b3fe6">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="coachId"><![CDATA[attributes.uriParams.'coachId']]></ee:set-variable>
				<ee:set-variable variableName="teamSeasonId"><![CDATA[attributes.uriParams.'teamSeasonId']]></ee:set-variable>
				<ee:set-variable variableName="region"><![CDATA[attributes.queryParams.'region']]></ee:set-variable>
				<ee:set-variable variableName="season"><![CDATA[attributes.queryParams.'season']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log Stored Params"
			doc:id="436b78d3-4d20-4a5a-8dc0-1a0a2be43a1b"
			message="URI Param - coachId: #[vars.coachId] - stored as var and URI Param - teamSeasonID: #[vars.teamSeasonID] - stored as var" />
		<salesforce:query doc:name="Query"
			doc:id="cf0e3b35-eb45-4493-b40a-ab9cd3f99273"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT Anticipated_Players_Enrollment__c,Coach_Soccer__c,Coach_Writing__c,CreatedById,CreatedDate,Date_Last_Session_Attended__c,Id,IsDeleted,LastActivityDate,LastModifiedById,LastModifiedDate,LastReferencedDate,LastViewedDate,Name,Number_of_Attendance_Completed__c,Number_of_Attendance_Incomplete__c,Number_of_Students_Absent__c,Number_of_Students_Present__c,Number_of_Team_Seasons__c,Partnership__c,Percent_of_Attendance_Completed__c,Percent_of_Students_Present__c,Schedule__c,School_Site__c,SCORES_Program_Coordinator__c,SCORES_Program_Manager__c,Season_End_Date__c,Season_Start_Date__c,Season__c,SystemModstamp,Team__c,Total_Number_of_Players__c,Total_Number_of_Sessions__c,Coach_Soccer__r.Name,Coach_Writing__r.Name,SCORES_Program_Coordinator__r.Name,SCORES_Program_Manager__r.Name,Team__r.Name,Season__r.Name FROM Team_Season__c WHERE (Coach_Soccer__c != ':coachId' OR Coach_Writing__c != ':coachId' OR SCORES_Program_Coordinator__c != ':coachId' OR SCORES_Program_Manager__c != ':coachId') AND (Team__r.School_Site__r.Region__c = ':region') AND (Season__c = ':season')]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	season : vars.season,
	region : vars.region,
	coachId : vars.coachId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Create Response"
			doc:id="9fa45ae2-07a4-4857-af7c-7487c2fe453c"
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	SeasonStartDate: payload01.Season_Start_Date__c as String default "",
	TotalNoOfSessions: payload01.Total_Number_of_Sessions__c default 0,
	CoachWriting: payload01.Coach_Writing__r.Name default "" as String,
	Partnership: payload01.Partnership__c default "",
	SeasonName: payload01.Season__r.Name default "" as String,
	TotalNoOfPlayers: payload01.Total_Number_of_Players__c default 0,
	TeamSeasonName: payload01.Name default "",
	CoachSoccer: payload01.Coach_Soccer__r.Name default "" as String,
	TeamSeasonId: payload01.Id default "",
	TeamName: payload01.Team__r.Name default "" as String,
	SchoolSite: payload01.School_Site__c default "",
	SeasonEndDate: payload01.Season_End_Date__c as String default "",
	ProgramCoordinator:  payload01.SCORES_Program_Coordinator__r.Name default "" as String,
	ScoreProgramManager: payload01.SCORES_Program_Manager__r.Name default "" as String
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="d8ecc282-d9e5-4701-9daa-79d507b4401e" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="90679941-f7e0-4b12-a9fe-f461fb6ca5dc" name="exit-flow" />
	</flow>
	<flow
		name="post:\attendances:application\json:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="4f5d6453-199a-4e08-8ca8-e337a0a5e592" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="7b13314a-f957-48c3-b129-d54ffca9992b"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]." />
		<until-successful maxRetries="2"
			doc:name="Until Successful"
			doc:id="d15587ae-2d7a-43e1-92af-238e34e139f8"
			millisBetweenRetries="2000">
			<try doc:name="Try" doc:id="4bedd063-e272-4740-a234-78e2a65a4ea8">
				<salesforce:upsert doc:name="Upsert"
					doc:id="4d233e6e-69b4-4f9d-89ee-4839571ab171"
					config-ref="Salesforce_Config" objectType="Attendance__c"
					externalIdFieldName="ExternalId__c">
					<salesforce:records><![CDATA[#[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Contact__c: payload01.StudentId,
	Session__c: payload01.SessionId,
	Attended__c: payload01.Attended,
	ExternalId__c: payload01.StudentId ++ '-' ++ payload01.SessionId
}]]]></salesforce:records>
				</salesforce:upsert>
				<choice doc:name="Upsert successful?"
					doc:id="132108bf-cd03-4123-9044-1b3f8c646b68">
					<when
						expression="#[(payload.items..*statusCode default []) contains 'UNABLE_TO_LOCK_ROW']">
						<raise-error doc:name="Raise error"
							doc:id="d329c204-1204-4b44-8c2a-63f539a1d1a1"
							type="SALESFORCE-CUSTOM:UNABLE_TO_LOCK_ROW" />
					</when>
				</choice>
			</try>
		</until-successful>
		<ee:transform
			xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:id="b1e33ff7-6e73-4898-8ea2-4134f7f4ed17"
			doc:name="Create response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload.items.*payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<flow-ref doc:name="exit flow"
			doc:id="37b06898-f43a-4d5a-ae2a-00bee3f194ce" name="exit-flow" />
	</flow>
	<flow
		name="get:\coach\(coachId)\allSessions:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="88d3fa2f-c16d-400f-8ad2-72ce95d3903c" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="e1d2563f-f104-4588-a866-02b90652713a"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]." />
		<ee:transform doc:name="Store Parameters"
			doc:id="8937277f-3d93-41bc-abc0-6da3720899a5">
			<ee:message />
			<ee:variables>
				<ee:set-variable variableName="coachId"><![CDATA[attributes.uriParams.'coachId']]></ee:set-variable>
				<ee:set-variable variableName="date"><![CDATA[attributes.queryParams.'date']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Query"
			doc:id="24aaebf4-25af-45bd-9b18-f9672f23598c"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT CreatedById,CreatedDate,Id,IsDeleted,LastActivityDate,LastModifiedById,LastModifiedDate,LastReferencedDate,LastViewedDate,Name,Number_of_Students_Absent__c,Number_of_Students_Present__c,Percent_of_Students_Present__c,Session_Date__c,Session_Topic__c,Team_Season__c, Session_Weekday__c From Session__c WHERE (Team_Season__r.Coach_Writing__c = ':coachId' OR Team_Season__r.Coach_Soccer__c = ':coachId' OR Team_Season__r.SCORES_Program_Coordinator__c = ':coachId' OR Team_Season__r.SCORES_Program_Manager__c = ':coachId') AND (Team_Season__r.Season__r.Start_Date__c < :date) AND (Team_Season__r.Season__r.End_Date__c > :date)]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	date : vars.date,
	coachId : vars.coachId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Create Response"
			doc:id="e829cd3e-8fa5-45c3-a9bc-79ffebb63c7c"
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	TeamSeasonId: payload01.Team_Season__c default "",
	SessionId: payload01.Id default "",
	SessionName: payload01.Name default "",
	SessionDate: payload01.Session_Date__c as String default "",
	SessionTopic: payload01.Session_Topic__c default ""
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="a819e002-c9f4-4453-a14e-9b294acac38e" message="#[payload]" />
		<flow-ref doc:name="exit-flow"
			doc:id="5c0021ed-9897-43bd-9be7-104e54a4a7d0" name="exit-flow" />
	</flow>
	<flow
		name="get:\coach\(coachId)\regions:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="ff8d3790-5ce7-468b-9d81-d1aa1dc4ba07" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="f247b5aa-2966-4b4b-8cd2-a63c048e0335"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. Also for this request we have queryParam: date=#[attributes.queryParams[0]]" />
		<ee:transform doc:name="Store URI parameters"
			doc:id="732ca3e0-9f8e-4608-86c0-e6fe6b8d4538">
			<ee:variables>
				<ee:set-variable variableName="coachId"><![CDATA[attributes.uriParams.'coachId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<logger level="INFO" doc:name="Log Stored URI Params"
			doc:id="ae7f4f43-3aab-4a4b-aa22-72bd049c1f04"
			message="URI Param - coachId: #[vars.coachId] - stored as var - Query Param - date: #[vars.date] - stored as var" />
		<salesforce:query doc:name="Query"
			doc:id="1c469572-0a13-4ec4-af11-1a180dad1f29"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT Team__r.School_Site__r.Region__c FROM Team_Season__c WHERE (Coach_Soccer__c = ':coachId' OR Coach_Writing__c = ':coachId' OR SCORES_Program_Coordinator__c = ':coachId' OR SCORES_Program_Manager__c = ':coachId')]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	coachId : vars.coachId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform doc:name="Create Response"
			doc:id="c6f46063-e866-4726-b0ac-ea760e0e6113"
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Region: payload01.Team__r.School_Site__r.Region__c,
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<ee:transform doc:name="Eliminate duplicates"
			doc:id="47da582b-3623-4cde-acb9-4f74f7ec4d73">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload distinctBy (value) -> { "unique" : value }]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="e19e1f49-7d3c-4cfd-ba87-4f1c8be690b5" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="c51dfc90-a5c0-4537-9846-77b49544764e" name="exit-flow" />
	</flow>
	<flow
		name="patch:\coach\(coachId)\teamseasons\(teamSeasonId)\sessions\(sessionId)\attendances:application\json:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="5c8512bc-5f34-4682-9a0e-bf958db2b2d9" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="70cadc02-23f3-4935-ac5a-253f60edd43f"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store URI parameters"
			doc:id="cc642196-6c49-49cf-acb8-7fd15a7e0f5c">
			<ee:variables>
				<ee:set-variable variableName="teamSeasonId"><![CDATA[attributes.uriParams.'teamSeasonId']]></ee:set-variable>
				<ee:set-variable variableName="sessionId"><![CDATA[attributes.uriParams.'sessionId']]></ee:set-variable>
				<ee:set-variable variableName="coachId"><![CDATA[attributes.uriParams.'coachId']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:update type="Attendance__c"
			doc:name="Update" doc:id="4f4cb0a3-354a-4613-b2eb-8fc7789b795f"
			config-ref="Salesforce_Config">
			<salesforce:records><![CDATA[#[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Id: payload01.AttendanceId,
	Contact__c: payload01.StudentId,
	Attended__c: payload01.Attended,
}]]]></salesforce:records>
		</salesforce:update>
		<choice doc:name="Update successful?"
			doc:id="3cf4d8b6-1188-40ca-af80-45874cd50d38">
			<when expression="#[payload.items[0].successful == false]">
				<ee:transform doc:name="Create Error Response"
					doc:id="52593c7f-e10a-4e17-89f4-17311b977136">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	message: payload.items[0].message
}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform doc:name="Create Response"
					doc:id="fb3860fc-e16f-4661-ac7a-6df2a8cb4053"
					xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Session updated"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="6277debb-2aa4-4703-97d1-66d20cd0d8e0" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="124c2970-ba8d-4bfa-b9c7-0852a61a1dcc" name="exit-flow" />
	</flow>

	<flow name="get:\schoolsites:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow"
			doc:id="a2440a82-edea-46f8-b3d5-9a6394f31e42" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow"
			doc:id="34c8fb39-7c44-4d20-a093-b0abc254fd56"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. Also for this request we have queryParam: date=#[attributes.queryParams[0]]" />
		<salesforce:query doc:name="Query"
			doc:id="875fe5af-b9e2-4697-868f-b953bd05c1ad"
			config-ref="Salesforce_Config">
			<!-- Recommended query but not working because of bad schema in Sandbox -->
			<!-- <salesforce:salesforce-query><![CDATA[SELECT Id, Name, Region__c, 
				Site_Type__c FROM Account WHERE Site_Type__c != NULL ORDER BY Region__c,Name]]></salesforce:salesforce-query> -->
<!-- 			<salesforce:salesforce-query><![CDATA[SELECT Name, Site FROM Account WHERE RecordTypeId = '01250000000J8SPAA0']]></salesforce:salesforce-query> -->
			<salesforce:salesforce-query><![CDATA[SELECT Name, Id, Region__c FROM Account WHERE RecordTypeId = '01250000000J8SPAA0' GROUP By Region__c, Name,Id]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Create Response"
			doc:id="1c0cae60-6942-4e5a-991c-67d86c24253c"
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
    output application/json
    ---
    payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response"
			doc:id="1ad84b35-3fb6-492d-a61f-78a6ee5ff2ec" message="#[payload]" />
		<flow-ref doc:name="exit flow"
			doc:id="efa5126b-873d-42fe-b198-81978abe8b42" name="exit-flow" />
	</flow>
</mule>
