src/main/mule/salesforce-data-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json="http://www.mulesoft.org/schema/mule/json" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:secure-properties="http://www.mulesoft.org/schema/mule/secure-properties" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd http://www.mulesoft.org/schema/mule/json http://www.mulesoft.org/schema/mule/json/current/mule-json.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/secure-properties http://www.mulesoft.org/schema/mule/secure-properties/current/mule-secure-properties.xsd">
    <http:listener-config name="salesforce-data-api-httpListenerConfig">
        <http:listener-connection host="${http.host}" port="${http.private.port}" />
    </http:listener-config>
    <apikit:config name="salesforce-data-api-config" api="resource::6c091e72-50d1-49ac-b04d-ee5bb9bc9dbd:salesforce-data-api:2.0.2:raml:zip:salesforce-data-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="012e809f-72bb-49a5-b21f-28fa4b364ab3">
        <salesforce:basic-connection username="${sfdc.user}" password="${secure::sfdc.password}" securityToken="${secure::sfdc.token}" url="${sfdc.url}" />
    </salesforce:sfdc-config>
    <configuration-properties doc:name="Configuration properties" doc:id="031c2472-faec-452c-9fa9-b18871f154af" file="properties/${env}.properties" />
    <secure-properties:config name="Secure_Properties_Config" doc:name="Secure Properties Config" doc:id="76e4d1c6-1d87-4c40-8b1a-ae9370b49e34" file="properties/${env}-secure.properties" key="${runtime.decryptionkey}">
        <secure-properties:encrypt algorithm="Blowfish" />
    </secure-properties:config>
	<flow name="salesforce-data-api-main">
        <http:listener config-ref="salesforce-data-api-httpListenerConfig" path="/api-internal/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="salesforce-data-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="salesforce-data-api-console">
        <http:listener config-ref="salesforce-data-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="salesforce-data-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <sub-flow name="entry-flow" doc:id="077e2d7c-81f0-4362-a3da-541e9c96751f">
        <logger level="INFO" doc:name="Log request" doc:id="1ca2fef3-57b9-433a-9b11-4d18746f8931" message="Request received for #[attributes.method] #[attributes.requestPath] - Payload #[payload]" />
        <ee:transform doc:name="Store request path and method">
            <ee:variables>
                <ee:set-variable variableName="requestPath"><![CDATA[attributes.requestPath]]></ee:set-variable>
                <ee:set-variable variableName="method"><![CDATA[attributes.method]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
    </sub-flow>
    <sub-flow name="exit-flow" doc:id="748c4e8c-e935-4b46-83ec-a963f8551eb9">
        <logger level="INFO" doc:name="Log response" doc:id="f07808f1-2396-4154-8ad1-64e2761b6f01" message="Sending response for GET #[vars.requestPath] - #[payload]" />
    </sub-flow>
    <flow name="get:\coach\(coachId)\teamseasons:salesforce-data-api-config">
        <flow-ref doc:name="entry-flow" doc:id="82b50611-bf96-4408-bc9f-ce11e969853b" name="entry-flow" />
        <logger level="INFO" doc:name="Log entry-flow" doc:id="db2b444c-d384-4b60-a94b-5a4cedc87b30" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. Also for this request we have queryParam: date=#[attributes.queryParams[0]]" />
        <ee:transform doc:name="Store URI parameters" doc:id="ba85bd36-9eef-4b6a-8e4c-c013e46e8271">
            <ee:variables>
                <ee:set-variable variableName="coachId"><![CDATA[attributes.uriParams.'coachId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Log Stored URI Params" doc:id="8027a799-c637-4b02-8cd4-2ca51dd5a969" message="URI Param - coachId: #[vars.coachId] - stored as var " />
        <salesforce:query doc:name="Query" doc:id="c4a7d532-abc4-4dab-abe9-60d8bfaaa69c" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT Anticipated_Players_Enrollment__c,Coach_Soccer__c,Coach_Writing__c,CreatedById,CreatedDate,Date_Last_Session_Attended__c,Id,IsDeleted,LastActivityDate,LastModifiedById,LastModifiedDate,LastReferencedDate,LastViewedDate,Name,Number_of_Attendance_Completed__c,Number_of_Attendance_Incomplete__c,Number_of_Students_Absent__c,Number_of_Students_Present__c,Number_of_Team_Seasons__c,Partnership__c,Percent_of_Attendance_Completed__c,Percent_of_Students_Present__c,Schedule__c,School_Site__c,SCORES_Program_Coordinator__c,SCORES_Program_Manager__c,Season_End_Date__c,Season_Start_Date__c,Season__c,SystemModstamp,Team__c,Total_Number_of_Players__c,Total_Number_of_Sessions__c,Coach_Soccer__r.Name,Coach_Writing__r.Name,Team__r.Name,Season__r.Name FROM Team_Season__c WHERE Coach_Soccer__c = ':coachId' OR Coach_Writing__c = ':coachId' OR SCORES_Program_Coordinator__c = ':coachId' OR SCORES_Program_Manager__c = ':coachId' ]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	coachId : vars.coachId
}]]]></salesforce:parameters>
        </salesforce:query>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Create Response" doc:id="ee51a2d1-3e3a-4fbb-aedb-6cf116319685">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	SeasonStartDate: payload01.Season_Start_Date__c as String default "",
	TotalNoOfSessions: payload01.Total_Number_of_Sessions__c default 0,
	CoachWriting: payload01.Coach_Writing__r[0].Name default "",
	Partnership: payload01.Partnership__c default "",
	SeasonName: payload01.Season__r[0].Name default "",
	TotalNoOfPlayers: payload01.Total_Number_of_Players__c default 0,
	TeamSeasonName: payload01.Name default "",
	CoachSoccer: payload01.Coach_Soccer__r[0].Name default "",
	TeamSeasonId: payload01.Id default "",
	TeamName: payload01.Team__r[0].Name default "",
	SchoolSite: payload01.School_Site__c default "",
	SeasonEndDate: payload01.Season_End_Date__c as String default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Log Created Response" doc:id="7d4746f9-9dc9-4598-9bc2-4599b8e2b7be" message="#[payload]" />
        <flow-ref doc:name="exit flow" doc:id="5fc85786-b9a4-4331-9601-903904e52064" name="exit-flow" />
    </flow>
    <flow name="get:\coach\(coachId)\teamseasons\(teamSeasonId)\sessions:salesforce-data-api-config">
        <flow-ref doc:name="entry-flow" doc:id="be3843a3-1c41-4712-9459-43e9b393b6c0" name="entry-flow" />
        <logger level="INFO" doc:name="Log entry-flow" doc:id="55be03c4-09b5-4a1a-95ef-a24ed2008fbf" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. Also for this request we have queryParam: date=#[attributes.queryParams[0]]" />
        <ee:transform doc:name="Store URI parameters" doc:id="21103b85-d0a3-4a6c-949c-61d2eae5d2d2">
            <ee:variables>
                <ee:set-variable variableName="coachId"><![CDATA[attributes.uriParams.'coachId']]></ee:set-variable>
                <ee:set-variable variableName="teamSeasonId"><![CDATA[attributes.uriParams.'teamSeasonId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Log Stored URI Params" doc:id="12fa02b2-d184-4129-8f1b-763187926e20" message="URI Param - coachId: #[vars.coachId] , teamseasonId: #[vars.teamSeasonId] - stored as vars" />
        <salesforce:query doc:name="Query" doc:id="e2c7a8f4-85c1-4108-be94-83f757bfde43" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT CreatedById,CreatedDate,Id,IsDeleted,LastActivityDate,LastModifiedById,LastModifiedDate,LastReferencedDate,LastViewedDate,Name,Number_of_Students_Absent__c,Number_of_Students_Present__c,Percent_of_Students_Present__c,Session_Date__c,Session_Topic__c,Session_Weekday__c,SystemModstamp,Team_Season__c FROM Session__c WHERE Team_Season__c = ':teamseasonid' AND (Team_Season__r.Coach_Soccer__c = ':coachid' OR Team_Season__r.Coach_Writing__c = ':coachid' OR Team_Season__r.SCORES_Program_Coordinator__c = ':coachid' OR Team_Season__r.SCORES_Program_Manager__c = ':coachid')]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	teamseasonid : vars.teamSeasonId,
	coachid : vars.coachId
}]]]></salesforce:parameters>
        </salesforce:query>
        <ee:transform doc:name="Transform Message" doc:id="25ad8f74-7ff6-412b-b6d5-47a7c9a81a01">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	TeamSeasonId: vars.teamSeasonId,
	SessionId: payload01.Id default "",
	SessionName: payload01.Name default "",
	SessionDate: payload01.Session_Date__c as String default "",
	SessionTopic: payload01.Session_Topic__c default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Log Created Response" doc:id="19aaf94d-5c4a-4481-8d9d-59a24c6e950c" message="#[payload]" />
        <flow-ref doc:name="exit flow" doc:id="87c1ea24-9a65-4fdf-9651-94d38ae6b8ee" name="exit-flow" />
    </flow>
    <flow name="get:\coach\(coachId)\all:salesforce-data-api-config">
        <flow-ref doc:name="entry-flow" doc:id="a9ae0f9c-dfcc-4a12-be0d-6e329dfbe7b8" name="entry-flow" />
        <logger level="INFO" doc:name="Log entry-flow" doc:id="263e01d8-85d7-422a-b3fa-e4adf99f6ad5" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. Also for this request we have queryParam: date=#[attributes.queryParams[0]]" />
        <ee:transform doc:name="Store URI parameters" doc:id="6784dd16-d76e-4fa4-a526-ab370875d02b">
            <ee:variables>
                <ee:set-variable variableName="coachId"><![CDATA[attributes.uriParams.'coachId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Log Stored URI Params" doc:id="3d3be5d0-aed9-491c-94ae-1172c08100e3" message="URI Param - coachId: #[vars.coachId] - stored as vars" />
        <salesforce:query doc:name="Query" doc:id="30344094-f0f1-44d4-bdc9-9897cbc2a741" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT Id,Name, Total_Number_of_Players__c, (SELECT Id, Name, Session_Topic__c, Session_Date__c From Sessions__r WHERE Session_Date__c = :date),(SELECT Id,Contact__r.Name,Contact__r.FirstName,Contact__r.LastName,Contact__r.Birthdate,Contact__r.Gender__c,Contact__r.Ethnicity__c,Contact__r.Zip_First_Five_Digits__c,Contact__c From Enrollments__r) FROM Team_Season__c WHERE (Coach_Soccer__c = ':coachid' OR Coach_Writing__c = ':coachid' OR SCORES_Program_Coordinator__c = ':coachid' OR SCORES_Program_Manager__c = ':coachid') AND Season_Start_Date__c < :date AND Season_End_Date__c > :date]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	date : attributes.queryParams.date,
	coachid : vars.coachId
}]]]></salesforce:parameters>
        </salesforce:query>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="2e4560c3-3fd9-4697-9927-098a4fdc0436">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Enrollments: payload01.Enrollments__r map ( enrollmentsr , indexOfEnrollmentsr ) -> {
		EnrollmentId: enrollmentsr.Id,
		StudentName: enrollmentsr.Contact__r.Name,
		FirstName: enrollmentsr.Contact__r.FirstName,
		LastName: enrollmentsr.Contact__r.LastName,
		Birthdate: enrollmentsr.Contact__r.Birthdate default "",
		Gender: enrollmentsr.Contact__r.Gender__c default "",
		Ethnicity: enrollmentsr.Contact__r.Ethnicity__c default "",
		ZipCode: enrollmentsr.Contact__r.Zip_First_Five_Digits__c default "",
		StudentId: enrollmentsr.Contact__c
	},
	Sessions: payload01.Sessions__r map ( sessionsr , indexOfSessionsr ) -> {
		TeamSeasonId: payload01.Id,
		SessionId: sessionsr.Id,
		SessionName: sessionsr.Name,
		SessionDate: sessionsr.Session_Date__c as String,
		SessionTopic: sessionsr.Session_Topic__c
	},
	CoachSoccer: vars.coachId,
	CoachWriting: vars.coachId,
	TotalNoOfPlayers: payload01.Total_Number_of_Players__c default 0 as Number,
	TeamSeasonName: payload01.Name default "",
	TeamSeasonId: payload01.Id default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Log Created Response" doc:id="22b14f46-310f-4768-ab87-5128e5f11c61" message="#[payload]" />
        <flow-ref doc:name="exit flow" doc:id="1778e3a5-0c0f-4238-b272-a093a9306f18" name="exit-flow" />
    </flow>
    <flow name="get:\coach\(coachId)\teamseasons\(teamSeasonId)\enrollments:salesforce-data-api-config">
        <flow-ref doc:name="entry-flow" doc:id="a0883b26-6773-4d5c-8d61-b8a8361f90e8" name="entry-flow" />
        <logger level="INFO" doc:name="Log entry-flow" doc:id="5f5fe59f-a13b-4ef1-9c1c-2772b5c7643c" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]." />
        <ee:transform doc:name="Store URI parameters" doc:id="6ad6fba9-9cc0-4bc5-9582-39a1a552e4d3">
            <ee:variables>
                <ee:set-variable variableName="coachId"><![CDATA[attributes.uriParams.'coachId']]></ee:set-variable>
                <ee:set-variable variableName="teamSeasonId"><![CDATA[attributes.uriParams.'teamSeasonId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Log Stored URI Params" doc:id="5a22dfa1-fcbc-4f88-ad3a-107abbcaac12" message="URI Param - coachId: #[vars.coachId], teamseasonId: #[vars.teamSeasonId] - storfed as vars" />
        <salesforce:query doc:name="Query" doc:id="2938911f-53b8-43a5-a53e-14fca711003d" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT Contact__r.Name,Contact__r.FirstName,Contact__r.LastName,Contact__r.Birthdate,Contact__r.Gender__c,Contact__r.Ethnicity__c,Contact__r.Zip_First_Five_Digits__c,Contact__c,CreatedById,CreatedDate,End_Date__c,Id,IsDeleted,LastModifiedById,LastModifiedDate,LastReferencedDate,LastViewedDate,Name,Number_of_Enrollments__c,Start_Date__c,SystemModstamp,Team_Season__c FROM Enrollment__c WHERE Team_Season__c = ':teamseasonid' AND (Team_Season__r.Coach_Soccer__c = ':coachid' OR Team_Season__r.Coach_Writing__c = ':coachid' OR Team_Season__r.SCORES_Program_Coordinator__c = ':coachid' OR Team_Season__r.SCORES_Program_Manager__c = ':coachid')]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	teamseasonid : vars.teamSeasonId,
	coachid : vars.coachId
}]]]></salesforce:parameters>
        </salesforce:query>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="f83b6a71-b77b-42de-871b-11e4a3508eb1">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	EnrollmentId: payload01.Id default "",
	EnrollmentName: payload01.Name default "",
	StudentId: payload01.Contact__c default "",
	StudentName: payload01.Contact__r.Name default "",
	FirstName: payload01.Contact__r.FirstName,
	LastName: payload01.Contact__r.LastName,
	Birthdate: payload01.Contact__r.Birthdate default "",
	Gender: payload01.Contact__r.Gender__c default "",
	Ethnicity: payload01.Contact__r.Ethnicity__c default "",
	ZipCode: payload01.Contact__r.Zip_First_Five_Digits__c default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Log Created Response" doc:id="6d1746e6-35ac-4064-9cb3-03e2d2aa2dad" message="#[payload]" />
        <flow-ref doc:name="exit flow" doc:id="fc0d90c2-2581-49e2-aaef-d58ba1013d8e" name="exit-flow" />
    </flow>
    <flow name="post:\coach\(coachId)\teamseasons\(teamSeasonId)\sessions\(sessionId)\attendances:application\json:salesforce-data-api-config">
        <flow-ref doc:name="entry-flow" doc:id="319d3747-39e8-43d4-a9c2-9afd1935dd5e" name="entry-flow" />
        <logger level="INFO" doc:name="Log entry-flow" doc:id="c341f736-e33b-41d9-9587-79be5aded28f" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]." />
        <ee:transform doc:name="Store URI parameters" doc:id="f711ee79-c3c7-4cdb-af46-28723e067b8f">
            <ee:variables>
                <ee:set-variable variableName="coachId"><![CDATA[attributes.uriParams.'coachId']]></ee:set-variable>
                <ee:set-variable variableName="teamSeasonId"><![CDATA[attributes.uriParams.'teamSeasonId']]></ee:set-variable>
                <ee:set-variable variableName="sessionId"><![CDATA[attributes.uriParams.'sessionId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Log Stored URI Params" doc:id="89586974-34cf-4491-9ece-93f323634c60" message="URI Param - coachId: #[vars.coachId], teamseasonId: #[vars.teamSeasonId], sessionId: #[vars.sessionId] - stored as vars" />
        <salesforce:upsert doc:name="Upsert" doc:id="96226f7b-9c73-4b6c-80d2-bce874e4cfb2" config-ref="Salesforce_Config" objectType="Attendance__c" externalIdFieldName="ExternalId__c">
            <salesforce:records><![CDATA[#[%dw 2.0
output application/java
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Contact__c: payload01.StudentId,
	Session__c: vars.sessionId,
	Attended__c: payload01.Attended,
	ExternalId__c: payload01.StudentId ++ '-' ++ vars.sessionId
}]]]></salesforce:records>
        </salesforce:upsert>
        <logger level="INFO" doc:name="Log Upsert" doc:id="3e70143c-8c88-4080-95ad-7efe4bd82a1e" message="#[output application/json  --- payload.items map ( payload01 , indexOfPayload01 ) -&gt; {  Message: payload01.payload default &quot;&quot; }]" />
        <ee:transform xsi:schemaLocation=" http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd  http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="02b48aab-bddb-4054-8872-ac1433da5ffd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Message: "Attendance taken",
	Attendance_Taken: payload.successful
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <flow-ref doc:name="exit flow" doc:id="32b947ab-3abc-4f72-b6a5-79c51e3e786f" name="exit-flow" />
    </flow>
    <flow name="get:\coach\(coachId)\teamseasons\(teamSeasonId)\sessions\(sessionId)\attendances:salesforce-data-api-config">
        <flow-ref doc:name="entry-flow" doc:id="fdc4bec9-fecd-4335-980a-0908eaeb9a17" name="entry-flow" />
        <logger level="INFO" doc:name="Log entry-flow" doc:id="3ea68664-17b8-4854-8e58-7f6d03285b44" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]." />
        <ee:transform doc:name="Store URI parameters" doc:id="86784c2c-83e8-4a5e-ae64-c5093cbacdbe">
            <ee:variables>
                <ee:set-variable variableName="coachId"><![CDATA[attributes.uriParams.'coachId']]></ee:set-variable>
                <ee:set-variable variableName="teamSeasonId"><![CDATA[attributes.uriParams.'teamSeasonId']]></ee:set-variable>
                <ee:set-variable variableName="sessionId"><![CDATA[attributes.uriParams.'sessionId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Log Stored URI Params" doc:id="f5fb5455-22c7-4d1f-b316-fa26806f3f1b" message="URI Param - coachId: #[vars.coachId], teamseasonId: #[vars.teamSeasonId], sessionId: #[vars.sessionId] - stored as vars" />
        <salesforce:query doc:name="Query" doc:id="2c95dcd3-8d07-446c-883b-98f1ae79ed9c" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT Contact__r.Name,Contact__c,Attended__c FROM Attendance__c WHERE Session__c = ':sessionid']]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	sessionid : vars.sessionId
}]]]></salesforce:parameters>
        </salesforce:query>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="cc0b30b2-4bb2-4b3c-bfa8-72626dc8dc02">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	StudentName: payload01.Contact__r.Name,
	Attended: payload01.Attended__c default false,
	StudentId: payload01.Contact__c default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Log Created Response" doc:id="30a1023d-5242-40d6-9a42-a3f0668043c7" message="#[payload]" />
        <flow-ref doc:name="exit flow" doc:id="e74de323-770f-4f76-a146-ee79831b8028" name="exit-flow" />
    </flow>
    <flow name="post:\contact:application\json:salesforce-data-api-config">
        <logger level="INFO" doc:name="Logger" doc:id="a8942ace-aaa2-488b-8842-a75bc77b4d45" message="#[payload]" />
        <ee:transform doc:name="Transform Message" doc:id="4d186f67-169d-4c69-8a7a-1d102a7cdd35">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
{
}]]></ee:set-payload>
            </ee:message>
            <ee:variables>
                <ee:set-variable variableName="stored_payload"><![CDATA[payload]]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Logger" doc:id="00a4fb5b-b824-4235-ad85-fac2b04fdc72" message="#[vars.stored_payload]" />
        <salesforce:query doc:name="Query" doc:id="61c0f5f7-6cee-4580-a92a-2432384dba3c" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT Name, Email, Birthdate, Id FROM Contact where (Email=':email' AND Birthdate=:bday) OR (name=':FullName' AND Birthdate=:bday)]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	bday : vars.stored_payload.Birthdate,
	FullName : vars.stored_payload.FirstName ++ " " ++ vars.stored_payload.LastName,
	email : vars.stored_payload.PersonalEmail
}]]]></salesforce:parameters>
        </salesforce:query>
        <logger level="INFO" doc:name="Logger" doc:id="25b33a82-fc31-44ef-98c8-36ea8aacd912" message="#[payload]" />
        <choice doc:name="Choice" doc:id="cd1069b5-ca55-422d-9a92-739a54104316">
            <when expression="#[(sizeOf(payload)) == 0]">
                <logger level="INFO" doc:name="Logger" doc:id="03fa150f-5d4f-406f-80ed-cbddd924ba81" message="No Contacts found" />
                <ee:transform doc:name="Transform Message" doc:id="4b040bb0-7cd2-4008-aba2-12df19735ca8">
                    <ee:message />
                    <ee:variables>
                        <ee:set-variable variableName="ContactRecordType"><![CDATA['01250000000VBbXAAW']]></ee:set-variable>
                    </ee:variables>
                </ee:transform>
                <salesforce:create doc:name="Create" doc:id="45632d40-a2a7-4304-930a-a2fa81d78f0d" config-ref="Salesforce_Config" type="Contact">
                    <salesforce:records><![CDATA[#[output application/java
---
[{
	LastName: vars.stored_payload.LastName,
	FirstName: vars.stored_payload.FirstName,
	MiddleName: vars.stored_payload.MiddleName,
	RecordTypeId: vars.ContactRecordType,
	MailingStreet: vars.stored_payload.MailingStreet,
	MailingCity: vars.stored_payload.MailingCity,
	MailingState: vars.stored_payload.MailingState,
	MailingPostalCode: vars.stored_payload.MailingZip as String default "",
	MailingCountry: vars.stored_payload.MailingCountry,
	HomePhone: vars.stored_payload.HomePhone,
	Email: vars.stored_payload.PersonalEmail,
	Birthdate: vars.stored_payload.Birthdate as Date default "",
	Gender__c: vars.stored_payload.Gender,
	Allergies__c: vars.stored_payload.Allergies,
	Data_Release__c: vars.stored_payload.DataReleaseWaiver,
	Emergency_Contact_Name_Phone_01__c: vars.stored_payload.Emergency_Contact_Phone1,
	Emergency_Contact_Name_Phone_02__c: vars.stored_payload.Emergency_Contact_Phone2,
	Emergency_Contact_Name_Phone_03__c: vars.stored_payload.Emergency_Contact_Phone3,
	Emergency_Contact_Name__c: vars.stored_payload.Emergency_Contact_Name,
	Emergency_Contact_Permission_to_Pick_Up__c: vars.stored_payload.Emergency_Contact_Permission_to_Pickup_child,
	Emergency_Contact_Relationship_to_Child__c: vars.stored_payload.Emergency_Contact_Relationship,
	Ethnicity__c: vars.stored_payload.Ethnicity,
	Grade__c: vars.stored_payload.Grade,
	DCYF_Student_ID__c: vars.stored_payload.DCYFStuID,
	School_Attending__c: vars.stored_payload.SchoolName,
	Liability__c: vars.stored_payload.LiabilityWaiver,
	Media_Release__c: vars.stored_payload.MediaReleaseWaiver,
	Parent_Email_Address__c: vars.stored_payload.ParentEmail,
	Parent_English_Fluency__c: vars.stored_payload.ParentEnglishFluency,
	Parent_First_Name__c: vars.stored_payload.ParentFName,
	Parent_Home_Language__c: vars.stored_payload.ParentHomeLang,
	Parent_Last_Name__c: vars.stored_payload.ParentLName,
	Parent_Other_Language__c: vars.stored_payload.OtherLang default "",
	Parent_Phone_01__c: vars.stored_payload.ParentPhone1 as String default "",
	Parent_Phone_02__c: vars.stored_payload.ParentPhone2 as String default "",
	Parent_Phone_03__c: vars.stored_payload.ParentPhone3 as String default "",
	Parent_Relationship_to_Child__c: vars.stored_payload.Relationship,
	Permission_to_Commute_Alone__c: vars.stored_payload.PermissiontoCommuteAlone,
	Reduced_Price_Lunch__c: vars.stored_payload.ReducedPriceLunch,
	Second_Emerg_Contact_Relationship_Child__c: vars.stored_payload.Second_Emergency_Contact_Relationship,
	Second_Emergency_Contact_Name__c: vars.stored_payload.Second_Emergency_Contact_Name,
	Second_Emergency_Permission_to_Pick_Up__c: vars.stored_payload.Second_Emergency_Contact_Permission_to_Pickup_child,
	Second_Emergency_Phone_01__c: vars.stored_payload.Second_Emergency_Contact_Phone1,
	Second_Emergency_Phone_02__c: vars.stored_payload.Second_Emergency_Contact_Phone2,
	Second_Emergency_Phone_03__c: vars.stored_payload.Second_Emergency_Contact_Phone3,
	Volunteer_for_this_Program_Parent__c: vars.stored_payload.Volunteer
}]]]]></salesforce:records>
                </salesforce:create>
            </when>
            <otherwise>
                <logger level="INFO" doc:name="Logger" doc:id="7710ae15-a22f-4abf-8f0c-ce7a7c344977" message="Contact with same name or email has been found" />
                <ee:transform doc:name="Transform Message" doc:id="ac5bb0c5-0ca5-4fe5-abe1-77e446a15104">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	contact__ID: payload[0].Id
}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables />
                </ee:transform>
                <salesforce:update type="Contact" doc:name="Update" doc:id="3e66bb09-890a-4a89-b212-51dcebd38eaa" config-ref="Salesforce_Config">
                    <salesforce:records><![CDATA[#[output application/java
---
[{
	
	Id: payload.contact__ID,
	(LastName: vars.stored_payload.LastName) if (vars.stored_payload.LastName != null),
	(FirstName: vars.stored_payload.FirstName) if (vars.stored_payload.FirstName != null),
	(MiddleName: vars.stored_payload.MiddleName) if (vars.stored_payload.MiddleName != null),
	RecordTypeId: vars.ContactRecordType,
	(MailingStreet: vars.stored_payload.MailingStreet) if (vars.stored_payload.MailingStreet != null),
	(MailingCity: vars.stored_payload.MailingCity) if (vars.stored_payload.MailingCity != null),
	(MailingState: vars.stored_payload.MailingState) if (vars.stored_payload.MailingState != null),
	(MailingPostalCode: vars.stored_payload.MailingZip as String default "") if (vars.stored_payload.MailingZip != null),
	(MailingCountry: vars.stored_payload.MailingCountry) if (vars.stored_payload.MailingCountry != null),
	(HomePhone: vars.stored_payload.HomePhone) if (vars.stored_payload.HomePhone != null),
	(Email: vars.stored_payload.PersonalEmail) if (vars.stored_payload.PersonalEmail != null),
	(Birthdate: vars.stored_payload.Birthdate as Date default "") if (vars.stored_payload.Birthdate != null),
	(Gender__c: vars.stored_payload.Gender) if (vars.stored_payload.Gender != null),
	(Allergies__c: vars.stored_payload.Allergies) if (vars.stored_payload.Allergies != null),
	(Data_Release__c: vars.stored_payload.DataReleaseWaiver) if (vars.stored_payload.DataReleaseWaiver != null),
	(Emergency_Contact_Name_Phone_01__c: vars.stored_payload.Emergency_Contact_Phone1) if (vars.stored_payload.Emergency_Contact_Phone1 != null),
	(Emergency_Contact_Name_Phone_02__c: vars.stored_payload.Emergency_Contact_Phone2) if (vars.stored_payload.Emergency_Contact_Phone2 != null),
	(Emergency_Contact_Name_Phone_03__c: vars.stored_payload.Emergency_Contact_Phone3) if (vars.stored_payload.Emergency_Contact_Phone3 != null),
	(Emergency_Contact_Name__c: vars.stored_payload.Emergency_Contact_Name) if (vars.stored_payload.Emergency_Contact_Name != null),
	(Emergency_Contact_Permission_to_Pick_Up__c: vars.stored_payload.Emergency_Contact_Permission_to_Pickup_child) if (vars.stored_payload.Emergency_Contact_Permission_to_Pickup_child != null),
	(Emergency_Contact_Relationship_to_Child__c: vars.stored_payload.Emergency_Contact_Relationship) if (vars.stored_payload.Emergency_Contact_Relationship != null),
	(Ethnicity__c: vars.stored_payload.Ethnicity) if (vars.stored_payload.Ethnicity != null),
	(Grade__c: vars.stored_payload.Grade) if (vars.stored_payload.Grade != null),
	(DCYF_Student_ID__c: vars.stored_payload.DCYFStuID) if (vars.stored_payload.DCYFStuID != null),
	(School_Attending__c: vars.stored_payload.SchoolName) if (vars.stored_payload.SchoolName != null),
	(Liability__c: vars.stored_payload.LiabilityWaiver) if (vars.stored_payload.LiabilityWaiver != null),
	(Media_Release__c: vars.stored_payload.MediaReleaseWaiver) if (vars.stored_payload.MediaReleaseWaiver != null),
	(Parent_Email_Address__c: vars.stored_payload.ParentEmail) if (vars.stored_payload.ParentEmail != null),
	(Parent_English_Fluency__c: vars.stored_payload.ParentEnglishFluency) if (vars.stored_payload.ParentEnglishFluency != null),
	(Parent_First_Name__c: vars.stored_payload.ParentFName) if (vars.stored_payload.ParentFName != null),
	(Parent_Home_Language__c: vars.stored_payload.ParentHomeLang) if (vars.stored_payload.ParentHomeLang != null),
	(Parent_Last_Name__c: vars.stored_payload.ParentLName) if (vars.stored_payload.ParentLName != null),
	(Parent_Other_Language__c: vars.stored_payload.OtherLang default "") if (vars.stored_payload.OtherLang != null),
	(Parent_Phone_01__c: vars.stored_payload.ParentPhone1 as String default "") if (vars.stored_payload.ParentPhone1 != null),
	(Parent_Phone_02__c: vars.stored_payload.ParentPhone2 as String default "") if (vars.stored_payload.ParentPhone2 != null),
	(Parent_Phone_03__c: vars.stored_payload.ParentPhone3 as String default "") if (vars.stored_payload.ParentPhone3 != null),
	(Parent_Relationship_to_Child__c: vars.stored_payload.Relationship) if (vars.stored_payload.Relationship != null),
	(Permission_to_Commute_Alone__c: vars.stored_payload.PermissiontoCommuteAlone) if (vars.stored_payload.PermissiontoCommuteAlone != null),
	(Reduced_Price_Lunch__c: vars.stored_payload.ReducedPriceLunch) if (vars.stored_payload.ReducedPriceLunch != null),
	(Second_Emerg_Contact_Relationship_Child__c: vars.stored_payload.Second_Emergency_Contact_Relationship) if (vars.stored_payload.Second_Emergency_Contact_Relationship != null),
	(Second_Emergency_Contact_Name__c: vars.stored_payload.Second_Emergency_Contact_Name) if (vars.stored_payload.Second_Emergency_Contact_Name != null),
	(Second_Emergency_Permission_to_Pick_Up__c: vars.stored_payload.Second_Emergency_Contact_Permission_to_Pickup_child) if (vars.stored_payload.Second_Emergency_Contact_Permission_to_Pickup_child != null),
	(Second_Emergency_Phone_01__c: vars.stored_payload.Second_Emergency_Contact_Phone1) if (vars.stored_payload.Second_Emergency_Contact_Phone1 != null),
	(Second_Emergency_Phone_02__c: vars.stored_payload.Second_Emergency_Contact_Phone2) if (vars.stored_payload.Second_Emergency_Contact_Phone2 != null),
	(Second_Emergency_Phone_03__c: vars.stored_payload.Second_Emergency_Contact_Phone3) if (vars.stored_payload.Second_Emergency_Contact_Phone3 != null),
	(Volunteer_for_this_Program_Parent__c: vars.stored_payload.Volunteer) if (vars.stored_payload.Volunteer != null)
}]]]]></salesforce:records>
                </salesforce:update>
            </otherwise>
        </choice>
        <logger level="INFO" doc:name="Logger" doc:id="aa6d154b-820c-4b9e-bb0b-984abebfe401" message="#[payload.items[0].exception]" />
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="29de979e-5346-4cf1-85d1-5d39079a4735">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	Successful_Registration: payload.successful //boolean value
}]]></ee:set-payload>
            </ee:message>
            <ee:variables />
        </ee:transform>
    </flow>
    <flow name="get:\teams\(teamId):salesforce-data-api-config">
        <flow-ref doc:name="entry-flow" doc:id="09219ac2-68fc-482e-847b-46c6eee13f71" name="entry-flow" />
        <logger level="INFO" doc:name="Log entry-flow" doc:id="ac416d60-8471-494b-86d1-830116c72fd3" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]." />
        <ee:transform doc:name="Store URI parameters" doc:id="534e8c14-01b9-4735-bbd4-a8fe6613574b">
            <ee:variables>
                <ee:set-variable variableName="teamId"><![CDATA[attributes.uriParams.'teamId']]></ee:set-variable>
            </ee:variables>
        </ee:transform>
        <logger level="INFO" doc:name="Log Stored URI Params" doc:id="bb3a5048-bfb2-4fc2-b112-5c5db4d9e103" message="URI Param - teamId: #[vars.teamId] - stored as vars" />
        <salesforce:query doc:name="Query" doc:id="d1b574db-b455-4582-958f-f9a7b6af26bf" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT Coach_Soccer__c,Coach_Writing__c,CreatedById,CreatedDate,Id,IsDeleted,LastModifiedById,LastModifiedDate,LastReferencedDate,LastViewedDate,Name,OwnerId,School_Site__c,SCORES_Program_Coordinator__c,SCORES_Program_Manager__c,SCORES_Program_Type__c,SystemModstamp,Unique_Teams__c FROM Team__c WHERE Id = ':teamid']]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	teamid : vars.teamId
}]]]></salesforce:parameters>
        </salesforce:query>
        <ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:id="1abae06c-e9d8-427d-943d-8833afadf555">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	TeamName: payload01.Name,
	TeamId: payload01.Id default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Log Created Response" doc:id="12fcc381-4976-4d20-96c7-f0741c31902a" message="#[payload]" />
        <flow-ref doc:name="exit flow" doc:id="279192f6-8c9e-4489-abf1-f961504574d5" name="exit-flow" />
    </flow>
    <flow name="patch:\contacts\(id):application\json:salesforce-data-api-config">
        <flow-ref doc:name="entry-flow" doc:id="ea712ccc-883f-484d-96c5-5d4f6e5782e7" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow" doc:id="630fb42f-aa01-455b-84ab-ae96ae695b29" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store Query parameters" doc:id="16374a77-ca21-4661-a15f-b4d0f23e368b">
			<ee:variables>
				<ee:set-variable variableName="id"><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform doc:name="Transform Message" doc:id="592cfbca-f5bb-4ed0-842a-8e72b8d5c977" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[{
	Id: payload.Id,
	(FirstName: payload.FirstName) if payload.FirstName != null,
	(LastName: payload.LastName) if payload.LastName != null,
	(Birthdate: payload.DateOfBirth as Date {format: 'yyyy-MM-dd'}) if payload.DateOfBirth != null,
	(MailingStreet: payload.StreetAddress) if payload.StreetAddress != null,
	(MailingCity: payload.City) if payload.City != null,
	(MailingState: payload.State) if payload.State != null,
	(MailingPostalCode: payload.Zip) if payload.Zip != null,
	(Parent_Home_Language__c: payload.HomeLanguage) if payload.HomeLanguage != null,
	(Ethnicity__c: payload.Ethnicity) if payload.Ethnicity != null,
	(Gender__c: payload.Gender) if payload.Gender != null,
	(School_Attending__c: payload.SchoolAttending) if payload.SchoolAttending != null
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update type="Contact" doc:name="Update" doc:id="22d1f2d0-03bc-4987-82e8-200abcd9b67a" config-ref="Salesforce_Config"/>
		<choice doc:name="Update successful?" doc:id="61a478f2-2c8f-430b-a6ad-a5435c432f7a" >
			<when expression="#[payload.items[0].successful == false]">
				<ee:transform doc:name="Transform Message" doc:id="7c3a7df0-eb2b-4a4d-9182-1fcfd74a48fb" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	message: payload.items[0].message
}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Create Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Contact updated"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Log Created Response" doc:id="07b47086-0cbc-4db9-9012-faaabb58cff9" message="#[payload]" />
		<flow-ref doc:name="exit flow" doc:id="db9d32e6-d89b-4614-8b62-e0a9368b687d" name="exit-flow" />
    </flow>
    <flow name="get:\contacts:salesforce-data-api-config">
        <flow-ref doc:name="entry-flow" doc:id="c9b03396-87ae-4cc7-a322-5a02422f56ec" name="entry-flow" />
        <logger level="INFO" doc:name="Log entry-flow" doc:id="4757f003-ed95-4269-9939-0811ef781500" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
        <ee:transform doc:name="Store Query parameters" doc:id="13306605-ff4a-46bf-a760-5257cb741357">
			<ee:variables>
				<ee:set-variable variableName="dcyfId" ><![CDATA[attributes.queryParams.'dcyfId']]></ee:set-variable>
				<ee:set-variable variableName="firstName" ><![CDATA[attributes.queryParams.'firstName']]></ee:set-variable>
				<ee:set-variable variableName="lastName" ><![CDATA[attributes.queryParams.'lastName']]></ee:set-variable>
				<ee:set-variable variableName="birthDate" ><![CDATA[attributes.queryParams.'birthDate']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<choice doc:name="Choice" doc:id="d8bc290a-d74d-4841-828e-6faa4b57e36b" >
			<when expression="#[vars.birthDate != null and vars.birthDate != '']">
				<salesforce:query doc:name="Select Query with Birthdate" doc:id="2d2bd613-7cc8-48df-b3e3-e1c628982996" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT Birthdate,Contact_Type__c,DCYF_Student_ID__c,Ethnicity__c,FirstName,Gender__c,Grade__c,Id,LastName,Level__c,MailingAddress,MailingCity,MailingCountry,MailingPostalCode,MailingState,MailingStreet,MiddleName,Name,Parent_Home_Language__c,RecordTypeId,School_Attending__c,Zip_First_Five_Digits__c FROM Contact WHERE (DCYF_Student_ID__c 
 = ':dcyfId' OR (FirstName = ':firstName' AND LastName = ':lastName' AND BirthDate = :birthDate))]]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
import * from modules::GlobalModules
---
{
	dcyfId : vars.dcyfId default 'aaa',
	firstName: escapeSpecialSOQLChars(vars.firstName, chars) default '',
	lastName: escapeSpecialSOQLChars(vars.lastName, chars) default '',
	birthDate: vars.birthDate as Date {format: 'yyyy-MM-dd'}
}]]]></salesforce:parameters>
        </salesforce:query>
			</when>
			<otherwise >
				<salesforce:query doc:name="Select Query without Birthdate" doc:id="ec730d90-d661-40ce-b9c0-d05dd4fc28a0" config-ref="Salesforce_Config">
					<salesforce:salesforce-query><![CDATA[SELECT Birthdate,Contact_Type__c,DCYF_Student_ID__c,Ethnicity__c,FirstName,Gender__c,Grade__c,Id,LastName,Level__c,MailingAddress,MailingCity,MailingCountry,MailingPostalCode,MailingState,MailingStreet,MiddleName,Name,Parent_Home_Language__c,RecordTypeId,School_Attending__c,Zip_First_Five_Digits__c FROM Contact WHERE (DCYF_Student_ID__c 
 = ':dcyfId' OR (FirstName = ':firstName' AND LastName = ':lastName'))]]></salesforce:salesforce-query>
					<salesforce:parameters><![CDATA[#[output application/java
import * from modules::GlobalModules
---
{
	dcyfId : vars.dcyfId default 'aaa',
	firstName: escapeSpecialSOQLChars(vars.firstName, chars) default '',
	lastName: escapeSpecialSOQLChars(vars.lastName, chars) default ''
}]]]></salesforce:parameters>
				</salesforce:query>
			</otherwise>
		</choice>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Create Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Id: payload01.Id as String default "",
FirstName: payload01.FirstName as String default "",
LastName: payload01.LastName as String default "",
Status: payload01.Status as String default "",
DateOfBirth: payload01.Birthdate as String default "",
HousingStatus: payload01.Contact_c as String default "",
StreetAddress: payload01.MailingStreet as String default "",
City: payload01.MailingCity as String default "",
State: payload01.MailingState as String default "",
Zip: payload01.MailingPostalCode as String default "",
HomeLanguage: payload01.Parent_Home_Language__c as String default "",
Ethnicity: payload01.Ethnicity__c as String default "",
Gender: payload01.Gender__c as String default "",
EducationalAttainment: payload01.Grade_c as String default "",
SchoolAttending: payload01.School_Attending__c as String default "",
SchoolEntryDate: payload01.Contact_c as String default "",
SFUSDEntryDate: payload01.Contact_c as String default "",
K12GradeLevel: payload01.Level__c as String default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Log Created Response" doc:id="b374f207-dfe3-48d7-99a2-b74e757cdb96" message="#[payload]" />
        <flow-ref doc:name="exit flow" doc:id="17176b6b-a1c0-4851-984e-43b59c0506eb" name="exit-flow" />
    </flow>
    <flow name="get:\contacts\(id):salesforce-data-api-config">
        <flow-ref doc:name="entry-flow" doc:id="3cefb3dd-a787-43f6-b305-ea08ddd5c2ce" name="entry-flow" />
        <logger level="INFO" doc:name="Log entry-flow" doc:id="259840a7-a4b5-4c17-9326-0794dfea6b26" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
        <ee:transform doc:name="Store URI parameters" doc:id="f0ca847c-5413-4e76-bde8-9aec2edd7b7d">
			<ee:variables>
				<ee:set-variable variableName="id" ><![CDATA[attributes.uriParams.'id']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Query" doc:id="484bbe2a-c7aa-42d5-9463-cd953b4abb1e" config-ref="Salesforce_Config">
            <salesforce:salesforce-query><![CDATA[SELECT Birthdate,Contact_Type__c,DCYF_Student_ID__c,Ethnicity__c,FirstName,Gender__c,Grade__c,Id,LastName,Level__c,MailingAddress,MailingCity,MailingCountry,MailingPostalCode,MailingState,MailingStreet,MiddleName,Name,Parent_Home_Language__c,RecordTypeId,School_Attending__c,Zip_First_Five_Digits__c FROM Contact WHERE Id = ':id']]></salesforce:salesforce-query>
            <salesforce:parameters><![CDATA[#[output application/java
---
{
	id : vars.id
}]]]></salesforce:parameters>
        </salesforce:query>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Create Response">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Id: payload01.Id as String default "",
FirstName: payload01.FirstName as String default "",
LastName: payload01.LastName as String default "",
Status: payload01.Status as String default "",
DateOfBirth: payload01.Birthdate as String default "",
HousingStatus: payload01.Contact_c as String default "",
StreetAddress: payload01.MailingStreet as String default "",
City: payload01.MailingCity as String default "",
State: payload01.MailingState as String default "",
Zip: payload01.MailingPostalCode as String default "",
HomeLanguage: payload01.Parent_Home_Language__c as String default "",
Ethnicity: payload01.Ethnicity__c as String default "",
Gender: payload01.Gender__c as String default "",
EducationalAttainment: payload01.Grade_c as String default "",
SchoolAttending: payload01.School_Attending__c as String default "",
SchoolEntryDate: payload01.Contact_c as String default "",
SFUSDEntryDate: payload01.Contact_c as String default "",
K12GradeLevel: payload01.Level__c as String default ""
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        <logger level="INFO" doc:name="Log Created Response" doc:id="eb926194-1a98-423e-b0c5-d3910cc9ec21" message="#[payload]" />
        <flow-ref doc:name="exit flow" doc:id="dbbecd8d-132a-4dcc-8e5b-4443895e0d71" name="exit-flow" />
    </flow>
</mule>
