src/main/mule/seasons.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	 <flow name="get:\seasons:salesforce-data-api-config">
		<flow-ref doc:name="entry-flow" doc:id="f06c84fc-4bd0-4686-b017-4dbdb6308788" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow" doc:id="cc77b99f-c2a5-4180-a80c-a718be36b62d" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. Also for this request we have queryParam: date=#[attributes.queryParams[0]]" />
		<salesforce:query doc:name="Query" doc:id="55fb0a3d-b3ac-49ae-91b2-38f3f7658c5b" config-ref="Salesforce_Config" >
			<salesforce:salesforce-query ><![CDATA[SELECT Id,Name,Start_Date__c,End_Date__c FROM Season__c ORDER BY Start_Date__c DESC NULLS LAST LIMIT 5]]></salesforce:salesforce-query>
		</salesforce:query>
		<ee:transform doc:name="Create Response" doc:id="2e5d5b49-6bcd-41f7-ba33-d73e6c6ebba3" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Id: payload01.Id as String default "",
	Name: payload01.Name as String default "",
	StartDate: payload01.Start_Date__c as String default "",
	EndDate: payload01.End_Date__c as String default "",
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Log Created Response" doc:id="50ac657e-93db-4e99-b5b3-69c2d3320015" message="#[payload]" />
		<flow-ref doc:name="exit flow" doc:id="df5c0b90-1631-4e45-9321-b4d160076c4e" name="exit-flow" />
    </flow>
	</mule>
