src/main/mule/sessions.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="get:\sessions:salesforce-data-api-config">
		<logger
			level="INFO"
			doc:name="Log entry-flow"
			doc:id="959d370c-e64b-4d82-ba94-3095f0b56c69"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform
			doc:name="Store Query parameters"
			doc:id="fc0e28dc-f2ae-4572-8051-b9674f15e096">
			<ee:variables>
				<ee:set-variable variableName="teamSeasonId"><![CDATA[attributes.queryParams.'teamSeasonId']]></ee:set-variable>
				<ee:set-variable variableName="date"><![CDATA[attributes.queryParams.'date']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query
			doc:name="Select Query with TeamSeasonId and Date"
			doc:id="984d7248-dea9-46de-9589-ef583bc88dc6"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[
			SELECT 
				Id,
				Name,
				Session_Date__c,
				Session_Start__c,
				Session_End__c,
				Session_Topic__c,
				Team_Season__c 
			FROM 
				Session__c 
			WHERE 
				Team_Season__c = ':teamSeasonId' 
				AND Session_Date__c = :date
			]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	teamSeasonId : vars.teamSeasonId,
	date: vars.date as Date {format: 'yyyy-MM-dd'}
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:name="Create Response">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	TeamSeasonId: payload01.Team_Season__c,
	SessionId: payload01.Id,
	SessionName: payload01.Name,
	SessionDate: payload01.Session_Date__c as String,
	SessionStartTime: payload01.Session_Start__c as LocalTime as String default "",
	SessionEndTime: payload01.Session_End__c as LocalTime as String default "",
	SessionTopic: payload01.Session_Topic__c
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger
			level="INFO"
			doc:name="Log Created Response"
			doc:id="f6f08142-6b1a-4797-a855-748520d0ce8f"
			message="#[payload]" />
	</flow>
	<flow name="get:\sessions\(sessionId):salesforce-data-api-config">
		<logger
			level="INFO"
			doc:name="Log entry-flow"
			doc:id="488a71a7-63dc-431e-935d-fb29c21ec4bb"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform
			doc:name="Store URI parameters"
			doc:id="8b4fe253-629b-49a5-9e19-377aba7e9043">
			<ee:variables>
				<ee:set-variable variableName="sessionId">attributes.uriParams.'sessionId'
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query
			doc:name="Select Query with sessionId"
			doc:id="43214918-bb1a-4522-94b8-c930ad7b5160"
			config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[	SELECT 
				Id,
				Name,
				Session_Date__c,
				Session_Start__c,
				Session_End__c,
				Session_Topic__c,
				Team_Season__c,
				Team_Season__r.Team__r.Uses_Headcount__c,
				Team_Season__r.Team__r.SCORES_Program_Type__c,
				Boys_Present__c,
				Girls_Present__c,
 				Nonbinary_Present__c,
 				Unknown_Present__c
			FROM 
				Session__c 
			WHERE 
				Id = ':sessionId'
			]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	sessionId : vars.sessionId
}]]]></salesforce:parameters>
		</salesforce:query>
		<ee:transform
			xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
			doc:name="Create Response"
			doc:id="e68940e6-eac3-49e9-a3b5-930d15f2ae6c">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
(payload map ( payload01 , indexOfPayload01 ) -> {
 	SessionId: payload01.Id,
	SessionName: payload01.Name,
	SessionDate: payload01.Session_Date__c as String,
	SessionStartTime: payload01.Session_Start__c as LocalTime as String default "",
	SessionEndTime: payload01.Session_End__c as LocalTime as String default "",
	SessionTopic: payload01.Session_Topic__c,
	TeamSeasonId: payload01.Team_Season__c,
	BoysPresent: payload01.Boys_Present__c,
	GirlsPresent: payload01.Girls_Present__c,
	NonbinaryPresent: payload01.Nonbinary_Present__c,
	UnknownPresent: payload01.Unknown_Present__c,
	UsesHeadcount: payload01.Team_Season__r.Team__r.Uses_Headcount__c,
	ProgramType: payload01.Team_Season__r.Team__r.SCORES_Program_Type__c
}) reduce ($$ ++ $)]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger
			level="INFO"
			doc:name="Log Created Response"
			doc:id="acf707a7-c898-4973-9def-d8bb2b45577c"
			message="#[payload]" />
	</flow>
	<flow
		name="patch:\sessions\(sessionId):application\json:salesforce-data-api-config">
		<logger
			level="INFO"
			doc:name="Log entry-flow"
			doc:id="4724eb13-17e0-4380-8768-37addeddc1f8"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store URI parameters">
			<ee:variables>
				<ee:set-variable variableName="sessionId">attributes.uriParams.'sessionId'
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<ee:transform
			doc:name="Create Request"
			doc:id="b9470e96-c6ef-4a2c-a456-2d5ba67958af">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Id: vars.sessionId,
	(Name: payload.SessionName) if payload.SessionName != null,
	(Session_Date__c: payload.SessionDate as Date {format: 'yyyy-MM-dd'}) if payload.SessionDate != null,
	(Session_Start__c: payload.SessionStart as Time) if payload.SessionStart != null,
	(Session_End__c: payload.SessionEnd as Time) if payload.SessionEnd != null,
	(Session_Topic__c: payload.SessionTopic) if payload.SessionTopic != null,
	(Team_Season__c: payload.TeamSeasonId) if payload.TeamSeasonId != null,
	(Boys_Present__c: payload.BoysPresent) if payload.BoysPresent != null,
	(Girls_Present__c: payload.GirlsPresent) if payload.GirlsPresent != null,
	(Nonbinary_Present__c: payload.NonbinaryPresent) if payload.NonbinaryPresent != null,
	(Unknown_Present__c: payload.UnknownPresent) if payload.UnknownPresent != null 
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update
			type="Session__c"
			doc:name="Update"
			doc:id="8c8e7dd2-d781-47cf-86ea-22b015e314d3"
			config-ref="Salesforce_Config" />
		<choice doc:name="Update successful?" doc:id="f4c85f06-f54f-497d-b69b-9007eb30e2f0">
			<when expression="#[payload.successful == false]">
				<set-variable value="#['SALESFORCE_SESSION_UPDATE:' ++ (payload.items[0].statusCode default 'UNKNOWN')]" doc:name="Set Custom Error Type" doc:id="9fbbe3a1-79b5-4f6d-800f-8beadaaad609" variableName="errorCustomType" />
				<set-variable value="#[payload.items[0].message default 'Unknown Error']" doc:name="Set Custom Error Message" doc:id="2f5302d7-ac4c-4e32-883c-ab45aa802497" variableName="errorCustomMessage" />
				<raise-error doc:name="Raise error" doc:id="fb063b28-d382-4f8f-b234-d2f6ff1e150e" type="CUSTOM:CUSTOM_ERROR" description="Something went while updating a session record." />
			</when>
		</choice>
		<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Create Response" doc:id="e4941d73-e82e-40a0-b233-d8ab1b1563c2">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "Session updated"
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
		<logger
			level="INFO"
			doc:name="Log Created Response"
			doc:id="a674f8a2-3d62-4b8d-8f14-18864cb484a6"
			message="#[payload]" />
	</flow>
	<flow
		name="post:\sessions:application\json:salesforce-data-api-config">
		<logger
			level="INFO"
			doc:name="Log entry-flow"
			doc:id="eeb32be2-c86a-4bb7-a34d-7258ee797f6a"
			message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<set-variable value="#[attributes.queryParams.createAttendances as Boolean default false]" doc:name="Set CreateAttendances" doc:id="8728d853-7e61-4646-86cb-d1cfd593450a" variableName="createAttendances"/>
		<set-variable value="#[payload.TeamSeasonId]" doc:name="Set TeamSeasonId" doc:id="e19555a7-5f6e-4b6c-9e7c-0d66f9b6bf8f" variableName="teamSeasonId" />
		<set-variable value="#[payload.SessionDate]" doc:name="Set SessionDate" doc:id="d52910ea-c4e3-47b8-9b98-e043c13b4d85" variableName="sessionDate" />
		<ee:transform
			doc:name="Create Request"
			doc:id="38bd186d-e6af-481c-9dd1-3405eba1e8d8">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	Session_Date__c: payload.SessionDate as Date {format: 'yyyy-MM-dd'},
	(Session_Start__c: payload.SessionStart as Time) if payload.SessionStart != null,
	(Session_End__c: payload.SessionEnd as Time) if payload.SessionEnd != null,
	Session_Topic__c: payload.SessionTopic,
	Team_Season__c: payload.TeamSeasonId
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:create
			type="Session__c"
			doc:name="Create"
			doc:id="b3d05b31-6ff5-4009-8e65-d5e947bf452c"
			config-ref="Salesforce_Config" />
		<choice doc:name="Update successful?" doc:id="5ea52270-6369-44a8-aaef-22ec7832b131">
			<when expression="#[payload.successful == false]">
				<set-variable value="#['SALESFORCE_SESSION_CREATE:' ++ (payload.items[0].statusCode default 'UNKNOWN')]" doc:name="Set Custom Error Type" doc:id="80d0ee96-1184-465b-a512-34155d33db9d" variableName="errorCustomType" />
				<set-variable value="#[payload.items[0].message default 'Unknown Error']" doc:name="Set Custom Error Message" doc:id="6e50136b-e978-4594-9c21-44076456a2e9" variableName="errorCustomMessage" />
				<raise-error doc:name="Raise error" doc:id="c6e24563-2fc9-426c-bc46-6955bc1d402b" type="CUSTOM:CUSTOM_ERROR" description="Something went wrong while creating a session record." />
			</when>
		</choice>
		<set-variable value="#[payload.items[0].id]" doc:name="Set SessionId" doc:id="1bb65f85-ccb1-44dd-a649-6037aca328c7" variableName="sessionId" />
		<choice doc:name="Choice" doc:id="f3a5ffb3-7fe7-4b3d-842c-f9a33d815e97" >
			<when expression="#[vars.createAttendances]">
				<salesforce:query doc:name="Select Query with TeamSeasonId and SessionDate from Enrollment object" doc:id="4885618a-3146-49d5-8577-ea7d7b952dfd" config-ref="Salesforce_Config" target="enrollmentResponse">
			<salesforce:salesforce-query><![CDATA[
				SELECT Contact__c
				FROM Enrollment__c 
				WHERE Team_Season__c = ':teamSeasonId' 
				AND Start_Date__c <= :sessionDate
				AND End_Date__c >= :sessionDate
				GROUP BY Contact__c
				]]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
				---
				{
					teamSeasonId : vars.teamSeasonId,
					sessionDate : vars.sessionDate
				}]]]></salesforce:parameters>
		</salesforce:query>
				<choice doc:name="Choice" doc:id="f8b015c6-811d-4767-b2d4-fbdc06f5cbe9">
					<when expression="#[sizeOf(vars.enrollmentResponse) &gt; 0]">
						<ee:transform doc:name="Prepare Upsert" doc:id="71f3c55e-4143-4e4c-b79f-8ba9edffa0af">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.enrollmentResponse map ( payload01 , indexOfPayload01 ) -> {
	Contact__c: payload01.Contact__c,
	Session__c: vars.sessionId,
	Attended__c: false,
	ExternalId__c: payload01.Contact__c ++ '-' ++ vars.sessionId
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
						<salesforce:upsert objectType="Attendance__c" externalIdFieldName="ExternalId__c" doc:name="Upsert Attendance" doc:id="f1d1f788-a0cf-454a-9084-bcec15198cd7" config-ref="Salesforce_Config">
				<salesforce:records><![CDATA[#[%dw 2.0
output application/java
---
payload]]]></salesforce:records>
			</salesforce:upsert>
						<choice doc:name="Update successful?" doc:id="61cd491c-b2d8-443b-9a6d-8d94f8a6430a">
					<when expression="#[payload.successful == false]">
						<set-variable value="#['SALESFORCE_ATTENDANCE_CREATE:' ++ (payload.items[0].statusCode default 'UNKNOWN')]" doc:name="Set Custom Error Type" doc:id="072cca5f-6026-438d-9191-c6a827d70cb4" variableName="errorCustomType" />
						<set-variable value="#[payload.items[0].message default 'Unknown Error']" doc:name="Set Custom Error Message" doc:id="089a7668-1b0b-475f-8a91-1c225fe1598a" variableName="errorCustomMessage" />
						<raise-error doc:name="Raise error" doc:id="17098c84-335f-42b4-bcd5-d8d18ce4aba4" type="CUSTOM:CUSTOM_ERROR" description="Session is created, but something went wrong while creating related attendances." />
					</when>
					<otherwise>
						<ee:transform xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" doc:name="Create Response" doc:id="6779c4d0-a8dc-4e33-befa-a4b77df09562">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  SessionId: vars.sessionId,
  Attendances: payload
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
					</otherwise>
				</choice>
					</when>
					<otherwise >
						<ee:transform doc:name="Create Response" doc:id="ddd986f8-234f-45dc-a10a-15b74b2736c4" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  SessionId: vars.sessionId,
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</when>
			<otherwise >
				<ee:transform doc:name="Create Response" doc:id="1f8861ce-ac3c-49ea-b90f-6e0c661f2e20" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
  SessionId: vars.sessionId,
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
		<logger
			level="INFO"
			doc:name="Log Created Response"
			doc:id="640a58eb-a8ab-40f9-bcc2-a9cadcf86bb5"
			message="#[payload]" />
	</flow>
	<flow name="delete:\sessions\(sessionId):salesforce-data-api-config" doc:id="d97b31a5-0ea7-46d3-a346-cbca136228e3" >
		<logger level="INFO" doc:name="Log entry-flow" doc:id="9ae3dcc8-74f5-4189-b3c1-bd9656a059ec" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]" />
		<ee:transform doc:name="Store URI parameters" doc:id="ae0066ba-0a60-42b4-9665-2269c6fb5564" >
			<ee:variables >
				<ee:set-variable variableName="sessionId" ><![CDATA[attributes.uriParams.'sessionId'
				]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:query doc:name="Select Query with sessionId from Assessment object" doc:id="1e288924-44bc-4e3c-b544-5b51936d7367" config-ref="Salesforce_Config" target="assesmentResponse" targetValue="#[output application/json &#10;---&#10;payload]">
			<salesforce:salesforce-query ><![CDATA[SELECT Id FROM Assessment__c WHERE Session__c = ':sessionId'
			]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	sessionId : vars.sessionId
}]]]></salesforce:parameters>
		</salesforce:query>
		<salesforce:query doc:name="Select Query with sessionId from Attendence object" doc:id="cfe08f1a-cc1a-4102-bf59-a6aaeb021ec5" config-ref="Salesforce_Config" target="attendanceResponse" targetValue="#[output application/json &#10;---&#10;payload]">
			<salesforce:salesforce-query ><![CDATA[SELECT Id FROM Attendance__c WHERE  Session__c = ':sessionId' AND Attended__c = true
			]]></salesforce:salesforce-query>
			<salesforce:parameters ><![CDATA[#[output application/java
---
{
	sessionId : vars.sessionId
}]]]></salesforce:parameters>
		</salesforce:query>
		<set-variable value='#["true"]' doc:name="Set Variable" doc:id="6ed36b25-91dd-4429-bf78-2f5cb16190a2" variableName="sessionFlag"/>
		<choice doc:name="Choice" doc:id="92f74e31-c84b-4d92-96a8-a54282a8f912" >
			<when expression='#[isEmpty(vars.assesmentResponse) and isEmpty(vars.attendanceResponse)]'>
				<ee:transform doc:name="sessionIds" doc:id="0fbc4a8b-63a7-4921-a442-cb27583294c7">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[vars.sessionId]]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<salesforce:delete doc:name="Delete" doc:id="b57d6d95-dcd0-48de-a55e-f5bb0f1186d5" config-ref="Salesforce_Config" >
				</salesforce:delete>
				<ee:transform doc:name="Transform Message" doc:id="903290a7-d881-491c-801e-80979a824387">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
				<choice doc:name="Choice" doc:id="100917c1-dab8-4514-a8f8-9f37f8ab0948">
					<when expression="#[payload.successful == true]">
						<ee:transform doc:name="success response" doc:id="6f9995d5-7f26-43e0-84b5-37947225a965" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "session is deleted successfully",
	"sessionId": vars.sessionId,
	"success": true
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</when>
					<otherwise >
						<ee:transform doc:name="Error response" doc:id="d4dc91ae-9b28-418d-9dfe-93075831d489" >
							<ee:message >
								<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Error while deleting session",
	"sessionId": vars.sessionId,
	"success": false
}]]></ee:set-payload>
							</ee:message>
						</ee:transform>
					</otherwise>
				</choice>
			</when>
			<otherwise >
				<ee:transform doc:name="Session is active" doc:id="cb95577e-30b3-42c4-9320-2d4238060952" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"message" : "Session is active",
	"assessmentIds": vars.assesmentResponse,
	"attendenceIds": vars.attendanceResponse,
	"success": false
		
}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
</mule>