src/main/mule/tasks.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd  http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd  http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  <flow name="get:\tasks:salesforce-data-api-config">
    <logger level="INFO" message="get:\tasks:salesforce-data-api-config"></logger>
    <ee:transform doc:id="7e56aada-f163-47f0-8ffc-213f3acd09a8" doc:name="Store Query parameters">
      <ee:variables>
        <ee:set-variable variableName="contactId">
          <![CDATA[attributes.queryParams.'contactId']]>
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
    <salesforce:query config-ref="Salesforce_Config" doc:id="1d085a1a-e15b-412b-a836-1014557a9abd" doc:name="Query to get tasks by contactId">
      <salesforce:salesforce-query>
        <![CDATA[
				SELECT 
					Id,
					Assigned_By__c,
					Assigned_To__c,
					CreatedById,
					Created_By_Contact__c,
					Description__c,
					Due_Date__c,
					LastModifiedById,
					Last_Modified_By_Contact__c,
					OwnerId,
					Priority__c,
					Priority_Icon__c,
					Resource_Link__c,
					Session__c,
					Name,
					Task_Status__c,
					Task_Type__c
				FROM 
					SCORES_Task__c
				WHERE 
					Assigned_To__c = ':contactId'
				]]>
      </salesforce:salesforce-query>
      <salesforce:parameters>
        <![CDATA[#[output application/java
				---
				{
					contactId : vars.contactId,
				}
			]]]>
      </salesforce:parameters>
    </salesforce:query>
    <ee:transform doc:id="cca12834-e1ee-4339-90ef-91c9be555af9" doc:name="Transform Message">
      <ee:message>
        <ee:set-payload>
          <![CDATA[%dw 2.0
					output application/json
					---
					payload map ( payload01 , indexOfpayload01 ) -> {
						"Id": payload01.Id,
						"AssignedBy": payload01.Assigned_By__c as String default "",
						"AssignedTo": payload01.Assigned_To__c as String default "",
						"CreatedBy": payload01.CreatedById as String default "",
						"CreatedContact": payload01.Created_By_Contact__c as String default "",
						"Description": payload01.Description__c as String default "",
						"DueDate": payload01.Due_Date__c as String default "",
						"LastModifiedBy": payload01.LastModifiedById as String default "",
						"LastModifiedContact": payload01.Last_Modified_By_Contact__c as String default "",
						"OwnerId": payload01.OwnerId as String default "",
						"Priority": payload01.Priority__c as String default "",
						"PriorityIcon": payload01.Priority_Icon__c as String default "",
						"ResourceLink": payload01.Resource_Link__c as String default "",
						"Session": payload01.Session__c as String default "",
						"Name": payload01.Name as String default "",
						"TaskStatus": payload01.Task_Status__c as String default "",
						"TaskType": payload01.Task_Type__c as String default ""
					}]]>
        </ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="get:\tasks\(taskId)\tags:salesforce-data-api-config">
    <logger level="INFO" message="get:\tasks\(taskId)\tags:salesforce-data-api-config"></logger>
    <ee:transform doc:id="7e56aada-f163-47f0-8ffc-213f1acd09a8" doc:name="Store Query parameters">
      <ee:variables>
        <ee:set-variable variableName="taskId">
          <![CDATA[attributes.uriParams.'taskId']]>
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
    <salesforce:query config-ref="Salesforce_Config" doc:id="1d085a1-e15b-412b-a836-10142557a9abd" doc:name="Search By ownerId (contactId)">
      <salesforce:salesforce-query>
        <![CDATA[
				SELECT 
					Id,
					SCORES_Task__c,
					SCORES_Task__r.Name, 
					SCORES_Tag__c,
					SCORES_Tag__r.Name, 
					SCORES_Tag__r.Tag_Color__c, 
					SCORES_Tag__r.Description__c,
					Name
				FROM 
					SCORES_Task_Tag__c
				WHERE 
					SCORES_Task__c = ':taskId'
			]]>
      </salesforce:salesforce-query>
      <salesforce:parameters>
        <![CDATA[#[output application/java
				---
				{
					taskId : vars.taskId,
				}
			]]]>
      </salesforce:parameters>
    </salesforce:query>
    <ee:transform doc:id="cca12834-e1ee-4c39-90ef-91c9be555af9" doc:name="Transform Message">
      <ee:message>
        <ee:set-payload>
          <![CDATA[%dw 2.0
					output application/json
					---
					payload map ( payload01 , indexOfpayload01 ) -> {
						"Id": payload01.Id,
						"TaskId": payload01.SCORES_Task__c as String default "",
						"TaskName": payload01.SCORES_Task__r.Name as String default "",
						"TagId": payload01.SCORES_Tag__c as String default "",
						"TagName": payload01.SCORES_Tag__r.Name as String default "",
						"TagColor": payload01.SCORES_Tag__r.Tag_Color__c as String default "",
						"Description": payload01.SCORES_Tag__r.Description__c as String default "",
						"TaskTagName": payload01.Name as String default ""

					}]]>
        </ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
  <flow name="post:\tasks:application\json:salesforce-data-api-config">
		<flow-ref doc:id="7d35fac9-4eff-49204-9840-1c046ef8a84a" doc:name="entry-flow" name="entry-flow"></flow-ref>
		<ee:transform doc:id="d5391b37-613a-4aa1-8a95-31766e6f7b3ce" doc:name="Store payload">
			<ee:variables>
				<ee:set-variable variableName="originalPayload">
												
						<![CDATA[output application/json
							---
							payload
						]]>                    				
				</ee:set-variable>
			</ee:variables>
		</ee:transform>
		<salesforce:create config-ref="Salesforce_Config" doc:id="dd33ee35c-1b02-4cc9-a47b-733ddccb4800" doc:name="Create" type="SCORES_Task__c">
              <salesforce:records>              							    
				<![CDATA[#[output application/java
				---
				[{
					Assigned_To__c: vars.originalPayload.AssignedTo, // Mandatory field
					(Assigned_By__c: vars.originalPayload.AssignedBy) if vars.originalPayload.AssignedBy != null,
					(Created_By_Contact__c: vars.originalPayload.CreatedById) if vars.originalPayload.CreatedById != null,
					(Description__c: vars.originalPayload.Description) if vars.originalPayload.Description != null,
					(Due_Date__c: vars.originalPayload.DueDate as Date) if vars.originalPayload.DueDate != null,
					(Last_Modified_By_Contact__c: vars.originalPayload.LastModifiedById) if vars.originalPayload.LastModifiedById != null,
					(Name: vars.originalPayload.Name) if vars.originalPayload.Name != null,
					(OwnerId: vars.originalPayload.OwnerId) if vars.originalPayload.OwnerId != null,
					(Priority__c: vars.originalPayload.Priority) if vars.originalPayload.Priority != null,
					(Resource_Link__c: vars.originalPayload.ResourceLink) if vars.originalPayload.ResourceLink != null,
					(Session__c: vars.originalPayload.Session) if vars.originalPayload.Session != null,
					(Task_Status__c: vars.originalPayload.TaskStatus) if vars.originalPayload.TaskStatus != null,
					(Task_Type__c: vars.originalPayload.TaskType) if vars.originalPayload.TaskType != null
				}]]]]>
              </salesforce:records>
        </salesforce:create>
		<choice doc:name="Task creation successful?" doc:id="ee82b0c8-2c09-4456-a531a-80fba2c1e448">
			<when expression="#[payload.items[0].successful == false]">
				<ee:transform
					doc:name="Create Error Response"
					doc:id="aab7a4b8-dfff-46734-bf3e-acdbb63ea782">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
						output application/json
						---
						{
							message: payload.items[0].message
						}]]></ee:set-payload>
					</ee:message>
						<ee:variables>
							<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
						</ee:variables>
						</ee:transform>
					</when>
					<otherwise>
					<ee:transform
						xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd"
						doc:name="Create Response"
						doc:id="291c1936-dfea-4dd5-aaba-c320a5a5b4311">
						<ee:message>
							<ee:set-payload><![CDATA[%dw 2.0
								output application/json
								---
								{
								TaskId: payload.items[0].id
								}]]>
							</ee:set-payload>
						</ee:message>
					</ee:transform>
				</otherwise>
		</choice>
		<logger
			level="INFO"
			doc:name="Log Created Response"
			doc:id="640a58eb-a8ab-40f9-bcc23-a9cadcf86bb5"
			message="#[payload]" />
		<flow-ref
			doc:name="exit flow"
			doc:id="ffed222e-011b-42f6-a9a1-2f3cb065c6e44"
			name="exit-flow" />
  </flow>
    <flow name="patch:\tasks\(taskId):application\json:salesforce-data-api-config">
		<flow-ref doc:id="7d35fac9-4eff-49304-9840-1c046ef8a84a" doc:name="entry-flow" name="entry-flow"></flow-ref>
		<set-variable value="#[attributes.uriParams.taskId]" doc:name="Set Task ID" variableName="taskId" doc:id="e1f7ebc1-0e1e-45b9-88b6-d6c5c998b79c"/>
		<ee:transform doc:name="Store payload" doc:id="12345678-90ab-cdef-ghij-1234567890ab">
			<ee:variables>
				<ee:set-variable variableName="originalPayload">
					<![CDATA[output application/json
					---
					payload
					]]>
				</ee:set-variable>
			</ee:variables>
		</ee:transform>

		<salesforce:update config-ref="Salesforce_Config" doc:name="Update Task" doc:id="78901234-5678-90ab-cdef-567890abcdef" type="SCORES_Task__c">
			<salesforce:records>
				<![CDATA[#[output application/java
				---
				[{
					Id: vars.taskId, // Mandatory ID field for updating record
					(Assigned_To__c: vars.originalPayload.AssignedTo) if vars.originalPayload.AssignedTo != null,
					(Assigned_By__c: vars.originalPayload.AssignedBy) if vars.originalPayload.AssignedBy != null,
					(Created_By_Contact__c: vars.originalPayload.CreatedById) if vars.originalPayload.CreatedById != null,
					(Description__c: vars.originalPayload.Description) if vars.originalPayload.Description != null,
					(Due_Date__c: vars.originalPayload.DueDate as Date) if vars.originalPayload.DueDate != null,
					(Last_Modified_By_Contact__c: vars.originalPayload.LastModifiedById) if vars.originalPayload.LastModifiedById != null,
					(Name: vars.originalPayload.Name) if vars.originalPayload.Name != null,
					(OwnerId: vars.originalPayload.OwnerId) if vars.originalPayload.OwnerId != null,
					(Priority__c: vars.originalPayload.Priority) if vars.originalPayload.Priority != null,
					(Resource_Link__c: vars.originalPayload.ResourceLink) if vars.originalPayload.ResourceLink != null,
					(Session__c: vars.originalPayload.Session) if vars.originalPayload.Session != null,
					(Task_Status__c: vars.originalPayload.TaskStatus) if vars.originalPayload.TaskStatus != null,
					(Task_Type__c: vars.originalPayload.TaskType) if vars.originalPayload.TaskType != null
				}]]]]>
			</salesforce:records>
		</salesforce:update>

		<choice doc:name="Update Successful?" doc:id="abcdef12-3456-7890-abcd-ef1234567890">
			<when expression="#[payload.items[0].successful == false]">
				<ee:transform
					doc:name="Create Error Response"
					doc:id="abcd1234-5678-90ef-ghij-567890abcdef">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
						output application/json
						---
						{
							message: payload.items[0].message
						}]]></ee:set-payload>
					</ee:message>
					<ee:variables>
						<ee:set-variable variableName="httpStatus"><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise>
				<ee:transform
					doc:name="Create Response"
					doc:id="fedcba98-7654-3210-fedc-ba9876543210">
					<ee:message>
						<ee:set-payload><![CDATA[%dw 2.0
						output application/json
						---
						{
							message: "Task updated successfully",
							TaskId: vars.taskId
						}]]>
						</ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>

		<!-- Log Updated Response -->
		<logger
			level="INFO"
			doc:name="Log Update Response"
			doc:id="log12345-67890-abcdef-ghijk"
			message="#[payload]" />

		<!-- Exit Flow -->
		<flow-ref
			doc:name="exit flow"
			doc:id="exit1234-5678-90ab-cdef-ghijklmno123"
			name="exit-flow" />
  </flow>
</mule>
