src/main/mule/teamseasons.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  <flow name="get:\seasons:salesforce-data-api-config">
    <logger doc:id="cc77b99f-c2a5-4180-a80c-a718be36b62d" doc:name="Log entry-flow" level="INFO" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. Also for this request we have queryParam: date=#[attributes.queryParams[0]]"></logger>
    <salesforce:query config-ref="Salesforce_Config" doc:id="55fb0a3d-b3ac-49ae-91b2-38f3f7658c5b" doc:name="Query">
      <salesforce:salesforce-query>
        <![CDATA[
			SELECT 
				Id,
				Name,
				Start_Date__c,
				End_Date__c 
			FROM 
				Season__c 
			ORDER BY 
				Start_Date__c DESC 
			NULLS LAST 
			LIMIT 5
			]]>
      </salesforce:salesforce-query>
    </salesforce:query>
    <ee:transform doc:id="2e5d5b49-6bcd-41f7-ba33-d73e6c6ebba3" doc:name="Create Response" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
      <ee:message>
        <ee:set-payload>
          <![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	Id: payload01.Id as String default "",
	Name: payload01.Name as String default "",
	StartDate: payload01.Start_Date__c as String default "",
	EndDate: payload01.End_Date__c as String default "",
}]]>
        </ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger doc:id="50ac657e-93db-4e99-b5b3-69c2d3320015" doc:name="Log Created Response" level="INFO" message="#[payload]"></logger>
  </flow>
  <flow name="patch:\teamSeasons\(teamSeasonId)\contacts\(contactId)\enrollments\(enrollmentId):salesforce-data-api-config" doc:id="3f5f50e9-befe-4d8e-bff3-f0cdbcc9f54b" >
		<ee:transform doc:name="Store URI parameters: enrollmentId, teamSeasonId, contactId" doc:id="883f6125-7026-4c17-970f-f6479b0d9a00" >
			<ee:variables >
				<ee:set-variable variableName="enrollmentId" ><![CDATA[attributes.uriParams.'enrollmentId']]></ee:set-variable>
				<ee:set-variable variableName="teamSeasonId" ><![CDATA[attributes.uriParams.'teamSeasonId']]></ee:set-variable>
				<ee:set-variable variableName="contactId" ><![CDATA[attributes.uriParams.'contactId']]></ee:set-variable>
				<ee:set-variable variableName="startDate"><![CDATA[
				  if (payload.StartDate != null)
				    payload.StartDate as Date {format: "yyyy-MM-dd"}
				  else
				    null
				]]></ee:set-variable>
				
				<ee:set-variable variableName="endDate"><![CDATA[
				  if (payload.EndDate != null)
				    payload.EndDate as Date {format: "yyyy-MM-dd"}
				  else
				    null
				]]></ee:set-variable>

			</ee:variables>
		</ee:transform>
		<choice doc:name="Check if at least 'StartDate' or 'EndDate' are present" doc:id="12f08ad9-6f7d-4188-9c2c-f75cb5d8efd1">
  			<when expression="#[vars.startDate == null and vars.endDate == null]">
  			    <raise-error type="CUSTOM:BAD_REQUEST" doc:name="Raise Bad Request Error" description="'StartDate', 'EndDate' or both are missing from Payload."/>
  			</when>
		</choice>
		<choice doc:name="Check if 'StarDate' &lt; 'EndDate'" doc:id="bc3a68a4-f53e-4d67-9805-9ce511f209a9" >
  			<when expression="#[vars.startDate != null and vars.endDate != null and vars.startDate > vars.endDate]">
  			    <raise-error type="CUSTOM:BAD_REQUEST" doc:name="Raise Bad Request Error" description="'EndDate' must be bigger than 'StartDate'."/>
			</when>
		</choice>
		<salesforce:query doc:name="Retrieve EnrollmentId" doc:id="cac1cdb2-14ab-4a3d-a0a8-89915f32f17e" config-ref="Salesforce_Config">
		    <salesforce:salesforce-query><![CDATA[
		        SELECT 
		            Id,
		            Contact__c,
		            Team_Season__c,
		            Start_Date__c,
		            End_Date__c
		        FROM 
		            Enrollment__c 
		        WHERE 
		            Id = ':EnrollmentId'
		        LIMIT 1
		    ]]></salesforce:salesforce-query>
		    <salesforce:parameters><![CDATA[#[output application/java
		    ---
		    {
		        EnrollmentId: vars.enrollmentId as String
		    }]]]></salesforce:parameters>
		</salesforce:query>

		<ee:transform doc:name="Rename Fields" doc:id="3259f5e3-f295-49cf-8723-98f529bd37b1">
		    <ee:message>
		        <ee:set-payload><![CDATA[
		            %dw 2.0
		            output application/json
		            ---
		            {
		              ContactId: payload[0].Contact__c,
		              TeamSeasonId: payload[0].Team_Season__c,
		              StartDate: payload[0].Start_Date__c,
		              EndDate: payload[0].End_Date__c
		            }
		        ]]></ee:set-payload>
		    </ee:message>
		</ee:transform>
		<choice doc:name="Validate Record vs Request" doc:id="144a325e-5e30-464b-b067-cb8f8a7c0546">
		    <when expression="#[payload.TeamSeasonId == vars.teamSeasonId and payload.ContactId == vars.contactId]">
		        <logger level="INFO" message="Record matches request TeamSeasonId and ContactId." doc:name="Log Match" />
		    </when>
		    <otherwise>
		        <raise-error type="CUSTOM:BAD_REQUEST" doc:name="Raise Error" description="Provided 'TeamSeasonId' and 'ContactId' do not match with record associated with the provided 'EnrollmentId'" />
		    </otherwise>
		</choice>
		<set-variable 
		    variableName="StartDate" 
		    doc:name="Set 'StartDate'" 
		    doc:id="2085c968-6b8f-4813-8352-1a8ca65a3f29"
		    value="#[vars.startDate default payload.StartDate]" />
		<set-variable 
		    variableName="EndDate" 
		    doc:name="Set 'EndDate'" 
		    doc:id="a1b27c52-2c88-4af3-b0ac-6dfbad7eb71a"
		    value="#[vars.endDate default payload.EndDate]" />
		<choice doc:name="Check if 'StarDate' &lt; 'EndDate' (2)" doc:id="0220b134-adb4-42e8-a7d4-49e024544985">
			<when expression="#[vars.startDate != null and vars.endDate != null and vars.startDate &gt; vars.endDate]">
				<raise-error doc:name="Raise Bad Request Error" doc:id="c96523bb-6a3c-480f-9931-0ce4445c8e7b" type="CUSTOM:BAD_REQUEST" description="Provided value violates the rule 'StartDate' &lt; 'EndDate'" />
			</when>
		</choice>
		<ee:transform doc:name="Create Request" doc:id="dac65fbc-5356-422a-b90d-87860710acb6" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
					output application/java
					---
					[{
						Id: vars.enrollmentId,
						(Start_Date__c: vars.startDate as Date {format: 'yyyy-MM-dd'}) if vars.startDate != null,
						(End_Date__c: vars.endDate as Date {format: 'yyyy-MM-dd'}) if vars.endDate != null
					}]]]>
				</ee:set-payload>
			</ee:message>
		</ee:transform>
		<salesforce:update type="Enrollment__c" doc:name="Update" doc:id="67bd555b-2024-4d3b-8720-24dcb8688184" config-ref="Salesforce_Config" />
		<choice doc:name="Update successful?" doc:id="b659fb79-98a3-4c48-bd2e-e8e8c10dece4" >
			<when expression="#[payload.items[0].successful == false]" >
				<ee:transform doc:name="Create Error Response" doc:id="fffa0ab0-96f4-4218-bfb0-7ec3093ed912" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
						output application/json
						---
						{
							message: payload.items[0].message
						}]]></ee:set-payload>
					</ee:message>
					<ee:variables >
						<ee:set-variable variableName="httpStatus" ><![CDATA[400]]></ee:set-variable>
					</ee:variables>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Create Response" doc:id="8790764d-7b54-4f5f-b7ee-c9b6b3bc11f0" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
					output application/json
					---
					{
					  message: "Enrollment updated"
					}]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</otherwise>
		</choice>
	</flow>
	<flow name="get:\teamSeasons\(teamSeasonId):salesforce-data-api-config">
    <flow-ref doc:id="03174916-e85d-4c3c-9357-eee984a14887" doc:name="message-for-not-implemented-endpoints" name="message-for-not-implemented-endpoints"></flow-ref>
  </flow>
  <flow name="post:\teamSeasons:application\json:salesforce-data-api-config">
    <flow-ref doc:id="beb72f4f-da50-4122-a253-1b4ce87187a1" doc:name="message-for-not-implemented-endpoints" name="message-for-not-implemented-endpoints"></flow-ref>
  </flow>
  <flow name="get:\teamSeasons:salesforce-data-api-config">
    <logger doc:id="5e5cb3b3-4ec7-4010-b415-84c629de251d" doc:name="Log entry-flow" level="INFO" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]"></logger>
    <ee:transform doc:id="0d5c09b6-6426-4e0e-a056-31d4d65764d4" doc:name="Store `date`, `endDate` `isWithinDateRange` (query parameters)">
      <ee:message></ee:message>
      <ee:variables>
        <ee:set-variable variableName="date">
          <![CDATA[attributes.queryParams.'date']]>
        </ee:set-variable>
        <ee:set-variable variableName="endDate">
          <![CDATA[attributes.queryParams.'endDate']]>
        </ee:set-variable>
        <ee:set-variable variableName="isWithinDateRange">
          <![CDATA[attributes.queryParams.'isWithinDateRange' default false]]>
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
    <logger doc:id="abhzxj" doc:name="Log provided variables" level="INFO" message="Variables: `date`: #[vars.date], `endDate`: #[vars.endDate], `isWithinDateRange`: #[vars.isWithinDateRange]"></logger>
    <choice doc:id="zlhxzl" doc:name="Choice">
      <when expression="#[vars.isWithinDateRange and isEmpty(vars.endDate)]">
        <salesforce:query config-ref="Salesforce_Config" doc:id="09cc2d2c-6b43-49fe-96e1-534e34827af8" doc:name="Query">
          <salesforce:salesforce-query>
            <![CDATA[
			SELECT 
				Anticipated_Players_Enrollment__c,
				Coach_Soccer__c,
				Coach_Writing__c,
				Season__r.Id,
				CreatedById,
				CreatedDate,
				Date_Last_Session_Attended__c,
				Id,
				IsDeleted,
				LastActivityDate,
				LastModifiedById,
				LastModifiedDate,
				LastReferencedDate,
				LastViewedDate,
				Name,
				Number_of_Attendance_Completed__c,
				Number_of_Attendance_Incomplete__c,
				Number_of_Students_Absent__c,
				Number_of_Students_Present__c,
				Number_of_Team_Seasons__c,
				Partnership__c,
				Percent_of_Attendance_Completed__c,
				Percent_of_Students_Present__c,
				Schedule__c,
				School_Site__c,
				SCORES_Program_Coordinator__r.Name,
				SCORES_Program_Manager__r.Name,
				Season_End_Date__c,
				Season_Start_Date__c,
				Season__c,
				SystemModstamp,
				Team__c,
				Total_Number_of_Players__c,
				Total_Number_of_Sessions__c,
				Coach_Soccer__r.Name,
				Coach_Writing__r.Name,
				Team__r.Name,
				Season__r.Name,
				Team__r.School_Site__r.Region__c 
			FROM 
				Team_Season__c 
			WHERE 
				Season_Start_Date__c >= :date
			ORDER BY 
				Season_End_Date__c DESC
			]]>
          </salesforce:salesforce-query>
          <salesforce:parameters>
            <![CDATA[#[output application/java
---
{
	date: vars.date as Date {format: 'yyyy-MM-dd'}
}]]]>
          </salesforce:parameters>
        </salesforce:query>
      </when>
      <when expression="#[vars.isWithinDateRange and not isEmpty(vars.endDate)]">
        <salesforce:query config-ref="Salesforce_Config" doc:id="09cc2d2c-6b43-49fe-96e1-534e31827af8" doc:name="Query">
          <salesforce:salesforce-query>
            <![CDATA[
			SELECT 
				Anticipated_Players_Enrollment__c,
				Coach_Soccer__c,
				Coach_Writing__c,
				Season__r.Id,
				CreatedById,
				CreatedDate,
				Date_Last_Session_Attended__c,
				Id,
				IsDeleted,
				LastActivityDate,
				LastModifiedById,
				LastModifiedDate,
				LastReferencedDate,
				LastViewedDate,
				Name,
				Number_of_Attendance_Completed__c,
				Number_of_Attendance_Incomplete__c,
				Number_of_Students_Absent__c,
				Number_of_Students_Present__c,
				Number_of_Team_Seasons__c,
				Partnership__c,
				Percent_of_Attendance_Completed__c,
				Percent_of_Students_Present__c,
				Schedule__c,
				School_Site__c,
				SCORES_Program_Coordinator__r.Name,
				SCORES_Program_Manager__r.Name,
				Season_End_Date__c,
				Season_Start_Date__c,
				Season__c,
				SystemModstamp,
				Team__c,
				Total_Number_of_Players__c,
				Total_Number_of_Sessions__c,
				Coach_Soccer__r.Name,
				Coach_Writing__r.Name,
				Team__r.Name,
				Season__r.Name,
				Team__r.School_Site__r.Region__c 
			FROM 
				Team_Season__c 
			WHERE 
				Season_Start_Date__c >= :date AND Season_End_Date__c <= :endDate
			ORDER BY 
				Season_End_Date__c DESC
			]]>
          </salesforce:salesforce-query>
          <salesforce:parameters>
            <![CDATA[#[output application/java
---
{
	date: vars.date as Date {format: 'yyyy-MM-dd'},
	endDate: vars.endDate as Date {foramt: 'yyy-MM-dd'}
}]]]>
          </salesforce:parameters>
        </salesforce:query>
      </when>
      <otherwise>
        <salesforce:query config-ref="Salesforce_Config" doc:id="09cc2d2c-6b43-49fe-96e1-534e348b7af8" doc:name="Query">
          <salesforce:salesforce-query>
            <![CDATA[
			SELECT 
				Anticipated_Players_Enrollment__c,
				Coach_Soccer__c,
				Coach_Writing__c,
				Season__r.Id,
				CreatedById,
				CreatedDate,
				Date_Last_Session_Attended__c,
				Id,
				IsDeleted,
				LastActivityDate,
				LastModifiedById,
				LastModifiedDate,
				LastReferencedDate,
				LastViewedDate,
				Name,
				Number_of_Attendance_Completed__c,
				Number_of_Attendance_Incomplete__c,
				Number_of_Students_Absent__c,
				Number_of_Students_Present__c,
				Number_of_Team_Seasons__c,
				Partnership__c,
				Percent_of_Attendance_Completed__c,
				Percent_of_Students_Present__c,
				Schedule__c,
				School_Site__c,
				SCORES_Program_Coordinator__r.Name,
				SCORES_Program_Manager__r.Name,
				Season_End_Date__c,
				Season_Start_Date__c,
				Season__c,
				SystemModstamp,
				Team__c,
				Total_Number_of_Players__c,
				Total_Number_of_Sessions__c,
				Coach_Soccer__r.Name,
				Coach_Writing__r.Name,
				Team__r.Name,
				Season__r.Name,
				Team__r.School_Site__r.Region__c 
			FROM 
				Team_Season__c 
			WHERE 
				Season_Start_Date__c = :date 
			ORDER BY 
				Season_End_Date__c DESC
			]]>
          </salesforce:salesforce-query>
          <salesforce:parameters>
            <![CDATA[#[output application/java
---
{
	date: vars.date as Date {format: 'yyyy-MM-dd'}
}]]]>
          </salesforce:parameters>
        </salesforce:query>
      </otherwise>
    </choice>
    <ee:transform doc:id="8a2e5e69-2df1-459b-9aeb-60c9cb198763" doc:name="Create Response">
      <ee:message>
        <ee:set-payload>
          <![CDATA[%dw 2.0
output application/json
---
payload map ( payload01 , indexOfPayload01 ) -> {
	SeasonStartDate: payload01.Season_Start_Date__c as String default "",
	TotalNoOfSessions: payload01.Total_Number_of_Sessions__c default 0,
	CoachWriting: payload01.Coach_Writing__r.Name default  "" as String,
	Partnership: payload01.Partnership__c default "",
	SeasonName: payload01.Season__r.Name default "" as String,
	TotalNoOfPlayers: payload01.Total_Number_of_Players__c default 0,
	TeamSeasonName: payload01.Name default "",
	CoachSoccer: payload01.Coach_Soccer__r.Name,
	TeamSeasonId: payload01.Id default "",
	TeamName: payload01.Team__r.Name default "" as String,
	SchoolSite: payload01.School_Site__c default "",
	SeasonEndDate: payload01.Season_End_Date__c as String default "",
	ScoresProgramManager: payload01.SCORES_Program_Manager__r.Name default  "" as String,
	ProgramCoordinator:  payload01.SCORES_Program_Coordinator__r.Name default  "" as String,
	Region: payload01.Team__r.School_Site__r.Region__c,
	SeasonId: payload01.Season__r.Id default "" as String
}]]>
        </ee:set-payload>
      </ee:message>
    </ee:transform>
    <logger doc:id="92e9c386-35b3-4d98-be2b-c9749a746778" doc:name="Log Created Response" level="INFO" message="#[payload]"></logger>
  </flow>
  <flow name="patch:\teamSeasons\(teamSeasonId):application\json:salesforce-data-api-config">
    <logger doc:id="5e84b14e-5e7d-47b7-8fdf-7cb1afc27820" doc:name="Log entry-flow" level="INFO" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]"></logger>
    <ee:transform doc:id="7d1ddb06-9dee-4bc0-9f6e-5ec2dc18b61b" doc:name="Store URI parameters">
      <ee:variables>
        <ee:set-variable variableName="teamSeasonId">
          <![CDATA[attributes.uriParams.'teamSeasonId']]>
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
    <ee:transform doc:id="b113fc49-7606-4715-9011-4c44e7ab7932" doc:name="Create Request">
      <ee:message>
        <ee:set-payload>
          <![CDATA[%dw 2.0
output application/java
---
[{
	Id: vars.teamSeasonId,
	(Name: payload.TeamSeasonName) if payload.TeamSeasonName != null,
	(Team__c: payload.TeamId) if payload.TeamId != null,
	(Season__c: payload.SeasonId) if payload.SeasonId != null,
	(School_Site__c: payload.SchoolSite) if payload.SchoolSite != null,
	(Partnership__c: payload.Partnership) if payload.Partnership != null,
	(Total_Number_of_Players__c: payload.TotalNoOfPlayers) if payload.TotalNoOfPlayers != null,
	(Total_Number_of_Sessions__c: payload.TotalNoOfSessions) if payload.TotalNoOfSessions != null,
	(Season_Start_Date__c: payload.SeasonStartDate as Date {format: 'yyyy-MM-dd'}) if payload.SeasonStartDate != null,
	(Season_End_Date__c: payload.SeasonEndDate as Date {format: 'yyyy-MM-dd'}) if payload.SeasonEndDate != null,
	(Coach_Soccer__c: payload.CoachSoccer) if payload.CoachSoccer != null,
	(Coach_Writing__c: payload.CoachWriting) if payload.CoachWriting != null,
	(SCORES_Program_Coordinator__c: payload.ProgramCoordinator) if payload.ProgramCoordinator != null,
	(SCORES_Program_Manager__c: payload.ProgramManager) if payload.ProgramManager != null
}]]]>
        </ee:set-payload>
      </ee:message>
    </ee:transform>
    <salesforce:update config-ref="Salesforce_Config" doc:id="d17f7124-2383-4f56-8891-5b990940aff1" doc:name="Update" type="Team_Season__c"></salesforce:update>
    <choice doc:id="79b6ffa5-5d2c-4347-a0f2-b8b06a6e1763" doc:name="Update successful?">
      <when expression="#[payload.items[0].successful == false]">
        <ee:transform doc:id="2fd09e2d-9361-42f4-9031-a7794997ee0e" doc:name="Create Error Response">
          <ee:message>
            <ee:set-payload>
              <![CDATA[%dw 2.0
output application/json
---
{
	message: payload.items[0].message
}]]>
            </ee:set-payload>
          </ee:message>
          <ee:variables>
            <ee:set-variable variableName="httpStatus">
              <![CDATA[400]]>
            </ee:set-variable>
          </ee:variables>
        </ee:transform>
      </when>
      <otherwise>
        <ee:transform doc:id="72afa280-ab53-48ec-ada3-2965f6254973" doc:name="Create Response" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload>
              <![CDATA[%dw 2.0
output application/json
---
{
  message: "TeamSeason updated"
}]]>
            </ee:set-payload>
          </ee:message>
        </ee:transform>
      </otherwise>
    </choice>
    <logger doc:id="7929814c-bb94-4872-a86f-211a4874b58a" doc:name="Log Created Response" level="INFO" message="#[payload]"></logger>
  </flow>
  <flow name="get:\teamSeasons\searchByTeamName:salesforce-data-api-config">
    <logger doc:id="5702e8bf-921c-4af0-2a9f0-9bc9091adf34" doc:name="Log entry-flow" level="INFO" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]. queryparams=#[attributes.queryParams]"></logger>
    <ee:transform doc:id="7e56aada-2f163-47f0-8ffc-213f7acd09a8" doc:name="Store Query parameters">
      <ee:variables>			
        <ee:set-variable variableName="teamName">  
          <![CDATA[attributes.queryParams.'teamName']]>
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
     <salesforce:query config-ref="Salesforce_Config" doc:id="091c2d2c-6b43-49fe-96e1-534e348b7af8" doc:name="Query">
          <salesforce:salesforce-query>
            <![CDATA[
			SELECT 
				Id,
				Season__r.Name,
				Season__c,
				Season_Start_Date__c,
				Season_End_Date__c
			FROM 
				Team_Season__c 
			WHERE 
				Name LIKE ':name'
			ORDER BY 
				Season_End_Date__c DESC
			LIMIT
				8
			]]>
          </salesforce:salesforce-query>
          <salesforce:parameters>
            <![CDATA[#[output application/java
				---
				{
					name: vars.teamName as String ++ "%"
				}]]]>
          </salesforce:parameters>
        </salesforce:query>
    <ee:transform doc:id="cca12834-e1e3e-4cc9-90ef-91c9be555af9" doc:name="Transform Message">
      <ee:message>
        <ee:set-payload>
          <![CDATA[%dw 2.0
			output application/json
			---
			payload map ( payload01 , indexOfPayload01 ) -> {
				id: payload01.Id as String default "",
				SeasonId: payload01.Season__c as String default "",
				SeasonName: payload01.Season__r.Name as String default "",
				SeasonStartDate: payload01.Season_Start_Date__c as String default "",
				SeasonEndDate: payload01.Season_End_Date__c as String default ""
			}]]>
        </ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
</mule>
