src/main/mule/typeform.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
	<flow name="get:\typeform\responses:salesforce-data-api-config" doc:id="93de368d-e2ec-4c5c-b61e-930e4b1c77f5" >
		<flow-ref doc:name="entry-flow" doc:id="34182ed2-c306-42d2-8d5d-167409dc966d" name="entry-flow" />
		<logger level="INFO" doc:name="Log entry-flow" doc:id="54a58465-9152-4c42-9837-c6904d4f0b9c" message="Method and Request Path stored as vars: method=#[vars.method], request path=#[vars.requestPath]." />
		<ee:transform doc:name="Store URI parameters" doc:id="caaf72cf-eba8-41d3-903a-e0943afc0620" >
			<ee:variables >
				<ee:set-variable variableName="formId" ><![CDATA[attributes.queryParams.'formId']]></ee:set-variable>
				<ee:set-variable variableName="responseId" ><![CDATA[attributes.queryParams.'responseId']]></ee:set-variable>
				<ee:set-variable variableName="student" ><![CDATA[attributes.queryParams.'student']]></ee:set-variable>
			</ee:variables>
		</ee:transform>
		<http:request method="GET" doc:name="Request" doc:id="7f48ee54-2082-46a4-8b0e-4144fb3947c2" url="https://api.typeform.com/forms/{formId}/responses">
			<http:headers ><![CDATA[#[output application/java
---
{
	Authorization : "${typeform.tkn}",
	client_secret : "${typeform.clientsecret}",
	client_id : "${typeform.clientid}"
}]]]></http:headers>
			<http:uri-params ><![CDATA[#[output application/java
---
{
	formId : vars.formId
}]]]></http:uri-params>
			<http:query-params ><![CDATA[#[output application/java
---
{
	included_response_ids : vars.responseId
}]]]></http:query-params>
		</http:request>
		<choice doc:name="Choice" doc:id="30269e4f-c591-4312-a9c2-bb45b3bb50a7" >
			<when expression="#[vars.student]">
				<ee:transform doc:name="Transform Message" doc:id="16443e8e-2ef2-4817-b4c9-aac70518a3f4" >
					<ee:message >
						<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
					</ee:message>
				</ee:transform>
			</when>
			<otherwise >
				<ee:transform doc:name="Transform Message" doc:id="ad674da3-e4c7-454d-8038-7de5873b6d01">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/json  skipNullOn="everywhere"
---
payload.items map ( payload01 , indexOfPayload01 ) -> {
	Answers: payload01.answers map ( answer , indexOfanswer ) -> {
	FirstName: if (answer.field.ref == "first_name") (
		answer.text
	) else null,
	LastName: if (answer.field.ref == "last_name") (
		answer.text
	) else null,
	Birthdate: if (answer.field.ref == "birthdate") (
		answer.date
	) else null,
	Gender: if (answer.field.ref == "gender") (
		answer.text
	) else null,
	Ethnicity: if (answer.field.ref == "ethnicity") (
		answer.text
	) else null,
	Email: if (answer.field.ref == "email") (
		answer.email
	) else null,
	EmailType: if (answer.field.ref == "email_type") (
		answer.text
	) else null,
	PhoneNumber: if (answer.field.ref == "phone_number") (
		answer.phone_number
	) else null,
	scoresProgramSite: if (answer.field.ref == "scores_program_site") (
		answer.text
	) else null,
	school: if (answer.field.ref contains("school_")) (
		answer.text
	) else null,
	} 
}]]></ee:set-payload>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="isCoach"><![CDATA[%dw 2.0
output application/java
---
true]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<ee:transform doc:name="Transform Message" doc:id="7f00b811-a7b4-49ad-b20d-25caaf667571">
			<ee:message>
			</ee:message>
			<ee:variables>
				<ee:set-variable variableName="originalPayload"><![CDATA[output application/json
---
payload]]></ee:set-variable>
				<ee:set-variable variableName="accountName"><![CDATA[%dw 2.0
output application/json
---
payload.Answers[0].school[0]]]></ee:set-variable>
			</ee:variables>
		</ee:transform>
				<salesforce:query doc:name="Query" doc:id="961a8b32-3395-4633-b288-67e2d80b9ca9" config-ref="Salesforce_Config">
			<salesforce:salesforce-query><![CDATA[SELECT Id,Name FROM Account WHERE Name = ':name']]></salesforce:salesforce-query>
			<salesforce:parameters><![CDATA[#[output application/java
---
{
	name : vars.accountName
}]]]></salesforce:parameters>
		</salesforce:query>
				<ee:transform doc:name="Transform Message" doc:id="98fcbd87-cf5a-4f72-9a42-4fad47174c37">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
import remove from dw::core::Strings
output application/json
---
{
	FirstName: vars.originalPayload.Answers[0].FirstName[0] default "",
	LastName: vars.originalPayload.Answers[0].LastName[0] default "",
	Birthdate: vars.originalPayload.Answers[0].Birthdate[0] remove "T00:00:00.000Z",
	Gender: vars.originalPayload.Answers[0].Gender[0] default "",
	Ethnicity: vars.originalPayload.Answers[0].Ethnicity[0] default "",
	Email: vars.originalPayload.Answers[0].Email[0] default "",
	EmailType: vars.originalPayload.Answers[0].EmailType[0] default "",
	PhoneNumber: vars.originalPayload.Answers[0].PhoneNumber[0] remove "+1" default "",
	AccountId: payload.Id[0],
	IsCoach: true,
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" doc:name="log response" doc:id="9142c8bd-8edb-4dce-bd81-addb9041225e" message="#[payload]" />
				<flow-ref doc:name="create Coach" doc:id="148f8f93-4d5d-4231-9558-fb0caad6a73a" name="post:\contacts:application\json:salesforce-data-api-config" />
			</otherwise>
		</choice>
	</flow>
</mule>
