src/main/mule/waiver.xml
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
  <flow doc:id="dd4a0323-53eb-475f-8d22-1e47cef4fe56" name="get:\waiver:salesforce-data-api-config">
    <ee:transform doc:id="0955be0d-6f6d-43f2-93d8-db11c0e90793" doc:name="Transform Message">
      <ee:message></ee:message>
      <ee:variables>
        <ee:set-variable variableName="region">
          <![CDATA[attributes.queryParams.'region']]>
        </ee:set-variable>
      </ee:variables>
    </ee:transform>
    <salesforce:query config-ref="Salesforce_Config" doc:id="f7eea34a-c7f6-4ff7-ba4b-e76c55c9d153" doc:name="Query">
      <salesforce:salesforce-query>
        <![CDATA[SELECT Id,Name,WaiverRegion__c,WaiverSource_email__c,WaiverSource__c,WaiverText__c,Waiver_Active_End__c,Waiver_Active_Start__c, Archived__c FROM Waiver__c WHERE WaiverRegion__c = ':region' AND Archived__c = false AND Waiver_Active_End__c >= TODAY]]>
      </salesforce:salesforce-query>
      <salesforce:parameters>
        <![CDATA[#[output application/java
---
{
	region : vars.region
}]]]>
      </salesforce:parameters>
    </salesforce:query>
        <choice doc:name="Check If Payload Is Empty" doc:id="a25c9bb9-2d4c-4983-87e4-4e3abf64e31c">
        <when expression="#[isEmpty(payload)]">
            <ee:transform
                      doc:name="Create Error Response"
                      doc:id="92521a9b-a8a5-4f91-ac00-166310c64e45">
                      <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
                      output application/json
                      ---
                      {
                        message: "No current waiver found"
            }]]></ee:set-payload>
                      </ee:message>
                      <ee:variables>
                        <ee:set-variable variableName="httpStatus"><![CDATA[404]]></ee:set-variable>
                      </ee:variables>
                    </ee:transform>        </when>
        <otherwise>
            <ee:transform doc:id="map-transform" doc:name="Map Filtered Items">
                <ee:message>
                    <ee:set-payload>
                        <![CDATA[%dw 2.0
                          output application/json
                          ---
                          payload
                              // Map the filtered items to the desired format
                              map (payload01) -> {
                                  WaiverId: payload01.Id as String default "",
                                  Name: payload01.Name as String default "",
                                  Region: payload01.WaiverRegion__c as String default "",
                                  SourceEmail: payload01.WaiverSource_email__c as String default "",
                                  Source: payload01.WaiverSource__c as String default "",
                                  Content: payload01.WaiverText__c as String default "",
                                  ValidFrom: payload01.Waiver_Active_Start__c as String default "",
                                  ValidUntil: payload01.Waiver_Active_End__c as String default "",
                                  Archived: payload01.Archived__c as Boolean default false
                              }
                          ]]>
                    </ee:set-payload>
                </ee:message>
            </ee:transform>
        </otherwise>
    </choice>
  </flow>
  <flow doc:id="8b1473c4-3931-4408-9c18-5d77ac8fc694" name="post:\waiver\(waiverId):application\json:salesforce-data-api-config">
    <choice doc:id="bplsbn" doc:name="Choice">
      <when expression="#[vars.waiverId == null]">
        <ee:transform doc:id="72ce180c-ba71-4658-ad7a-4162acfea0a9" doc:name="Transform Message">
          <ee:variables>
            <ee:set-variable variableName="waiverId">
              <![CDATA[attributes.uriParams.'waiverId']]>
            </ee:set-variable>
          </ee:variables>
        </ee:transform>
      </when>
    </choice>
    <salesforce:create config-ref="Salesforce_Config" doc:id="152574e4-872a-4c9e-89d9-bbf784f017c0" doc:name="Create" type="Waiver_History__c">
      <salesforce:records>
        <![CDATA[#[output application/java
---
[{
	Waiver__c: vars.waiverId,
	WaiverEvent__c: payload.waiverResponse,
	WaiverEvent_DateTime__c: payload.datetime as DateTime {format: "yyyy-MM-dd'T'HH:mm:ssz"},
	Waiver_Contact__c: payload.contactId,
	WaiverSignature_email__c: payload.contactEmail,
	Signed_Paper_Form_Received__c: payload.PaperReceived
}]]]]>
      </salesforce:records>
    </salesforce:create>
    <choice doc:id="b35bd46b-d29e-4976-8e2b-b74f74afa199" doc:name="Choice">
      <when expression="#[payload.successful == false and payload..errors != null]">
        <logger doc:id="2b354024-fa67-4edf-9d72-97886e5b084e" doc:name="Logger" level="INFO" message="#[payload.items[0].message]"></logger>
				<set-variable value="#[payload.items[0].message default 'Unknown Error']" doc:name="Set Custom Error Message" doc:id="a3444a9a-ceb9-47c7-b2d9-fe096748969c" variableName="errorCustomMessage" />
				<set-variable value="#['SALESFORCE_WAIVER_CREATE:' ++ (payload.items[0].statusCode default 'UNKNOWN')]" doc:name="Set Custom Error Type" doc:id="0ad2360d-ff04-4978-8eaa-9b6075bb93d1" variableName="errorCustomType" />
				<choice doc:name="Choice" doc:id="f72417e8-d29d-48ff-843b-ad16d2cb2887">
					<when expression='#[vars.errorCustomType == "SALESFORCE_WAIVER_CREATE:MALFORMED_ID"]'>
						<set-variable value="409" doc:name="Set Status Code" doc:id="4abd33a0-1317-4314-a8e7-3ab0e36cca54" variableName="httpStatus" />
					</when>
				</choice>
				<raise-error doc:name="Raise error" doc:id="539ff54e-8ec8-4798-8a3a-4342df1095ed" type="CUSTOM:CUSTOM_ERROR" description="Something went wrong while creating a waiver. " />
      </when>
      <otherwise>
        <ee:transform doc:id="e46654f4-c283-433b-ae4d-d2a4ae4ae206" doc:name="Create response" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
          <ee:message>
            <ee:set-payload>
              <![CDATA[%dw 2.0
output application/json
---
{
	WaiverHistory: payload.items[0].id
}]]>
            </ee:set-payload>
          </ee:message>
          <ee:variables></ee:variables>
        </ee:transform>
      </otherwise>
    </choice>
  </flow>
  <flow name="get:\waiverHistory:salesforce-data-api-config">
    <ee:transform doc:id="0955be0d-6f6d-43f2-933d8-db11c0e90793" doc:name="Get ContactID">
    <ee:message></ee:message>
    <ee:variables>
      <ee:set-variable variableName="contactId">
        <![CDATA[attributes.queryParams.'contactId']]>
      </ee:set-variable>
    </ee:variables>
  </ee:transform>
  <salesforce:query config-ref="Salesforce_Config" doc:id="f37eea34a-c7f6-4ff7-ba4b-e76c55c9d153" doc:name="Query to Retrieve `Waiver_History__c`">
      <salesforce:salesforce-query>
        <![CDATA[SELECT Id, Name, Waiver__c, Signed_Paper_Form_Received__c, Waiver_Contact__c, WaiverSignature_email__c, Date_Signed_Paper_Form_Received__c, Waiver_Creation_Date__c FROM Waiver_History__c WHERE Waiver_Contact__c = ':region']]>
      </salesforce:salesforce-query>
      <salesforce:parameters>
        <![CDATA[#[output application/java
          ---
          {
            region : vars.contactId
          }]]]>
      </salesforce:parameters>
    </salesforce:query>
    <ee:transform doc:id="map-transform-2" doc:name="Map Items">
      <ee:message>
        <ee:set-payload>
          <![CDATA[%dw 2.0
              output application/json
              ---
              payload
                  // Map the filtered items to the desired format
                  map (payload01) -> {
                      WaiverHistoryId: payload01.Id as String default "",
                      Name: payload01.Name as String default "",
                      WaiverId: payload01.Waiver__c as String default "",
                      PaperReceived: payload01.Signed_Paper_Form_Received__c as Boolean default false,
                      ContactId: payload01.Waiver_Contact__c as String default "",
                      ContactEmail: payload01.WaiverSignature_email__c as String default "",
                      PaperReceivedDate: payload01.Date_Signed_Paper_Form_Received__c as String default "",
                      WaiverCreationDate: payload01.Waiver_Creation_Date__c as String default ""
                  }
              ]]>
        </ee:set-payload>
      </ee:message>
    </ee:transform>
  </flow>
</mule>
